{% extends "base.html" %}

{% load i18n %}
{% load core_tags %}

{% block content %}
  <div class="ui basic segment very padded">
    <div class="ui two column grid">
      <div class="ui four wide column">
        <div class="ui vertical fluid menu">
          {% block profile-admin-nav %}
            <a class="item blue {% block profile-admin-details %}{% endblock %}" href="{% url 'profiles_profile_edit' %}">{% trans "Profile" %}</a>
            <a class="item blue {% block profile-admin-change-email %}{% endblock %}" href="{% url 'account_email' %}">{% trans "Email Addresses" %}</a>
            <a class="item blue {% block profile-admin-change-password %}{% endblock %}" href="{% url 'account_change_password' %}">{% trans "Security" %}</a>
            <a class="item blue {% block profile-admin-delete-account %}{% endblock %}" href="{% url 'delete_account' %}">{% trans "Delete Account" %}</a>
            <a class="item blue {% block profile-admin-social-accounts %}{% endblock %}" href="{% url 'socialaccount_connections' %}">{% trans "Connected Services" %}</a>
            <a class="item blue {% block profile-admin-tokens %}{% endblock %}" href="{% url 'profiles_tokens' %}">{% trans "API Tokens" %}</a>
            <a class="item blue {% block profile-admin-gold-edit %}{% endblock %}" href="{% url 'gold_detail' %}">{% trans "Gold Membership" %}</a>
            {% if USE_PROMOS %}
              <a class="item blue {% block profile-admin-advertising %}{% endblock %}" href="{% url 'account_advertising' %}">{% trans "Advertising" %}</a>
            {% endif %}
          {% endblock %}
        </div>
      </div>
      <div class="ui twelve wide column">
        <h2 class="ui heading">{% block edit_content_header %}{% endblock %}</h2>

        {% block edit_content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
