{% extends "base.html" %}

{% load trans from i18n %}

{% block notifications %}
  {# User notifications only #}
  <readthedocs-notification-list url="{% url "users-notifications-list" request.user.username %}"
                                 csrf-token="{{ csrf_token }}"
                                 class="ui basic segment relaxed list">
  </readthedocs-notification-list>

  {{ block.super }}
{% endblock notifications %}

{% block content %}
  <div class="ui stackable grid">
    <div class="five wide computer five wide tablet sixteen wide mobile column">
      <div class="ui vertical pointing fluid menu">
        {% block profile-admin-nav %}
          {# djlint: off T003 #}
          <div class="item">
            <div class="header">{% trans "Account" %}</div>
            <div class="menu">
              <a class="item {% block profile_admin_details %}{% endblock %}"
                 href="{% url 'profiles_profile_edit' %}">{% trans "Account" %}</a>
              <a class="item {% block profile_admin_change_email %}{% endblock %}"
                 href="{% url 'account_email' %}">{% trans "Email addresses" %}</a>
              <a class="item {% block profile_admin_social_accounts %}{% endblock %}"
                 href="{% url 'socialaccount_connections' %}">{% trans "Connected services" %}</a>
            </div>
          </div>
          <div class="item">
            <div class="header">{% trans "Security" %}</div>
            <div class="menu">
              <a class="item {% block profile_admin_change_password %}{% endblock %}"
                 href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
              <a class="item {% block profile_admin_mfa %}{% endblock %}"
                 href="{% url 'mfa_index' %}">{% trans "Two-factor authentication" %}</a>
              <a class="item {% block profile-admin-security-log %}{% endblock %}"
                 href="{% url 'profiles_security_log' %}">{% trans "Security log" %}</a>
              <a class="item {% block profile_admin_tokens %}{% endblock %}"
                 href="{% url 'profiles_tokens' %}">{% trans "API tokens" %}</a>
            </div>
          </div>
          {% if USE_PROMOS %}
            <div class="item">
              <div class="header">{% trans "Advertising" %}</div>
              <div class="menu">
                <a class="item {% block profile_admin_advertising %}{% endblock %}"
                   href="{% url 'account_advertising' %}">{% trans "Advertising" %}</a>
                <a class="item {% block profile_admin_gold_edit %}{% endblock %}"
                   href="{% url 'gold_detail' %}">{% trans "Gold membership" %}</a>
              </div>
            </div>
          {% endif %}
          {# djlint: on T003 #}
        {% endblock %}
      </div>

      {% block edit_sidebar %}
        {% block edit_sidebar_extra %}
        {% endblock edit_sidebar_extra %}
      {% endblock edit_sidebar %}

    </div>
    <div class="eleven wide computer eleven wide tablet sixteen wide mobile column">

      <h2 class="ui medium dividing header">
        {% block edit_content_header %}
        {% endblock edit_content_header %}
        <div class="sub header">
          {% block edit_content_subheader %}
          {% endblock edit_content_subheader %}
        </div>
      </h2>

      <div id="edit-content">
        {% block edit_content %}
        {% endblock edit_content %}
      </div>

    </div>
  </div>
{% endblock %}
