{% extends "profiles/base_edit.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}
  {% trans "Delete account" %}
{% endblock %}

{% block profile_admin_details %}active{% endblock %}

{% block edit_content_header %}
  {% trans "Delete account" %}
{% endblock %}

{% block edit_content %}
  <p>
    {% blocktrans %}
      Please type your username to confirm.
    {% endblocktrans %}
  </p>

  <form class="ui form" method="POST" action=".">
    {% csrf_token %}
    {{ form|crispy }}

    <button class="ui red icon button" type="submit">
      <i class="fad fa-warning icon"></i>
      {% trans "Delete account" %}
    </button>

    <p class="ui red text">{% trans "Be careful! This cannot be undone!" %}</p>
  </form>
{% endblock edit_content %}
