{% extends "profiles/base_edit.html" %}

{% load blocktrans endblocktrans trans from i18n %}
{% load crispy from crispy_forms_tags %}

{% block title %}
  {% trans "Delete account" %}
{% endblock title %}

{% block profile_admin_details %}
  active
{% endblock profile_admin_details %}

{% block edit_content_header %}
  {% trans "Delete account" %}
{% endblock edit_content_header %}

{% block edit_content %}
  <p>
    {% blocktrans %}
      Please type your username to confirm.
    {% endblocktrans %}
  </p>

  <form class="ui form" method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}

    <button class="ui red icon button" type="submit">
      <i class="fad fa-warning icon"></i>
      {% trans "Delete account" %}
    </button>

    <p class="ui red text">{% trans "Be careful! This cannot be undone!" %}</p>
  </form>
{% endblock edit_content %}
