{% extends "profiles/base_profile_edit.html" %}

{% load i18n %}

{% block title %}{% trans "Delete Account" %}{% endblock %}

{% block profile-admin-delete-account %}active{% endblock %}

{% block edit_content_header %}{% trans "Delete Account" %}{% endblock %}

{% block edit_content %}
  <div class="ui red warning message">
    {% trans "Be careful! This cannot be undone!" %}
  </div>

  <form method="POST" action=".">
    {% csrf_token %}
    {% trans "Delete Account" as submit_text %}
    {% include "includes/forms/semanticui.html" with form=form submit_text=submit_text%}
  </form>
{% endblock %}
