{% extends "profiles/base_edit.html" %}

{% load i18n %}
{% load gravatar %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Account" %}{% endblock %}
{% block profile_admin_details %}active{% endblock %}
{% block edit_content_header %}{% trans "Account" %}{% endblock %}

{% block edit_content %}
  <div class="ui computer reversed stackable grid">
    <div class="eight wide computer sixteen wide tablet column">
      {% include "profiles/includes/profile_card.html" with profile=request.user.profile is_editable=True %}
    </div>
    <div class="eight wide computer sixteen wide tablet column">
      <form method="POST" action="." class="ui form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="ui primary button" type="submit">
          {% trans "Save" %}
        </button>
      </form>
    </div>
  </div>

  <div class="ui horizontal divider">
    {% trans "More" %}
  </div>

  <div class="ui red segment">
    <h3 class="ui small header">
      {% trans "Delete account" %}
    </h3>

    <p>
      {% blocktrans trimmed %}
        Be careful, this cannot be undone!
      {% endblocktrans %}
    </p>

    {% trans "Delete account" as action_text %}
    <a class="ui button" href="{% url 'delete_account' %}">
      <i class="fa-duotone fa-trash icon"></i>
      {{ action_text }}
    </a>
  </div>
{% endblock edit_content %}

{% block edit_sidebar %}
{% endblock %}
