{% extends "base.html" %}

{% load provider_login_url from socialaccount %}
{% load trans blocktrans from i18n %}

{% block title %}
  {% trans "Migrate account to GitHub App" %}
{% endblock title %}

{% block content %}
  <div class="ui container" data-bind="with: MigrateGitHubAppView()">
    <h2 class="ui medium dividing header">
      {% trans "Migrate account to GitHub App" %}
    </h2>

    <div>
      <div class="ui two column centered grid">
        <div class="five wide computer five wide table sixteen wide mobile column">
          <div class="ui fluid vertical steps">
            <a class="step {% if step == "overview" %}active{% endif %}"
               href="{% url 'migrate_to_github_app' %}?step=overview">
              <div class="content">
                <div class="title">{% trans "Overview" %}</div>
                <div class="description">
                  {% trans "Read before starting the migration process" %}
                </div>
              </div>
            </a>
            <a class="step {% if step == "connect" %}active{% endif %} {% if step_connect_completed %}completed{% endif %}"
               href="{% url 'migrate_to_github_app' %}?step=connect">
              <div class="content">
                <div class="title">{% trans "Connect account" %}</div>
                <div class="description">
                  {% trans "Connect your account to our new GitHub App" %}
                </div>
              </div>
            </a>
            <a class="step {% if step == "install" %}active{% endif %} {% if not step_connect_completed %}disabled{% endif %}"
               href="{% url 'migrate_to_github_app' %}?step=install">
              <div class="content">
                <div class="title">{% trans "Install GitHub App" %}</div>
                <div class="description">
                  {% trans "Install the GitHub App in all your repositories connected to a project" %}
                </div>
              </div>
            </a>
            <a class="step {% if step == "migrate" %}active{% endif %} {% if not step_connect_completed %}disabled{% endif %}"
               href="{% url 'migrate_to_github_app' %}?step=migrate">
              <div class="content">
                <div class="title">{% trans "Migrate projects" %}</div>
                <div class="description">
                  {% trans "Migrate your projects to the GitHub App" %}
                </div>
              </div>
            </a>
            <a class="step {% if step == "revoke" %}active{% endif %} {% if not step_connect_completed %}disabled{% endif %}"
               href="{% url 'migrate_to_github_app' %}?step=revoke">
              <div class="content">
                <div class="title">{% trans "Revoke access to old integration" %}</div>
                <div class="description">
                  {% trans "Revoke access to the old GitHub OAuth app from your GitHub account" %}
                </div>
              </div>
            </a>
            <a class="step {% if step == "disconnect" %}active{% endif %} {% if step_disconnect_completed %}completed{% endif %} {% if not step_connect_completed or not step_revoke_completed %}disabled{% endif %}"
               href="{% url 'migrate_to_github_app' %}?step=disconnect">
              <div class="content">
                <div class="title">{% trans "Disconnect old integration" %}</div>
                <div class="description">
                  {% trans "Disconnect the old GitHub OAuth app from your Read the Docs account" %}
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
          <div class="ui basic segment">
            {% if step == "overview" %}
              <p>
                {% blocktrans trimmed with blog_post="#" %}
                  We’re introducing a new GitHub App to replace the old GitHub OAuth app.
                  This new app offers more granular permissions and better GitHub integration.
                  Learn more in our <a href="{{ blog_post }}">blog post</a>.
                {% endblocktrans %}
              </p>

              {% if has_multiple_github_accounts %}
                <div class="ui message warning">
                  <i class="fad fa-warning icon"></i>
                  {% url 'socialaccount_connections' as socialaccount_connections %}
                  {% blocktrans trimmed with socialaccount_connections=socialaccount_connections github_account=old_github_account.extra_data.login %}
                    You have <a href="{{ socialaccount_connections }}">multiple GitHub accounts</a> linked,
                    <strong>you'll need to repeat the migration for each account</strong>.

                    The current account to migrate is <a href="https://github.com/{{ github_account }}" target="_blank">{{ github_account }}</a>;
                    you can skip repositories this account doesn't have access to.
                  {% endblocktrans %}
                </div>
              {% endif %}

              <p>
                {% blocktrans %}
                This guide will help you migrate your account to the new GitHub App.
                Some things you should know:
                {% endblocktrans %}
              </p>

              <p>
                <ul>
                  <li>
                    {% blocktrans %}
                    Migrating all projects is optional,
                    you can skip the &quot;Install GitHub App&quot; and &quot;Migrate Projects&quot; steps.
                    {% endblocktrans %}
                  </li>
                  <li>
                    {% blocktrans %}
                    Connecting your account to the new GitHub App and revoking the old GitHub OAuth app is required,
                    as the old app is deprecated and will be removed.
                    {% endblocktrans %}
                  </li>
                  <li>
                    {% blocktrans %}
                    Some steps require you to do changes on GitHub,
                    refresh the page after making the changes to see updates.
                    {% endblocktrans %}
                  </li>
                  <li>
                    {% blocktrans %}
                    New projects imported after connecting your account to the new GitHub App don't need migration,
                    as they will be automatically connected to the new GitHub App.
                    {% endblocktrans %}
                  </li>
                  <li>
                    {% blocktrans trimmed with manual_migration_docs="#" %}
                      After revoking the old GitHub OAuth app, you won't be able to auto-migrate projects.
                      <a href="{{ manual_migration_docs }}">Manual migration</a> is always an option.
                    {% endblocktrans %}
                  </li>
                  <li>
                    {% blocktrans %}
                    Projects not linked to a GitHub repository can be linked after connecting your account. These don't need migration.
                    {% endblocktrans %}
                  </li>
                </ul>
              </p>
              <div class="ui divider"></div>
              <a href="?step=connect" class="ui button">{% trans "Start" %}</a>
            {% elif step == "connect" %}
              <p>
                {% blocktrans %}
                Connect your account to the new GitHub app by clicking the button below.
                As this is a new app, you will need to grant access to your account again.
                {% endblocktrans %}
              </p>
              {% if step_connect_completed %}
              <span class="ui green text">
                <i class="fas fa-circle-check icon"></i>
                {% trans "Connected" %}
              </span>
              {% else %}
              <form class="ui form"
                    method="post"
                    action="{% provider_login_url "githubapp" process="connect" next=request.get_full_path %}">
                {% csrf_token %}
                <button class="ui button" type="submit">
                  <i class="fa-brands fa-github icon"></i>
                    {% trans "Connect" %}
                </button>
              </form>
              {% endif %}

              <div class="ui divider"></div>
              <a class="ui button {% if not step_connect_completed %}disabled{% endif %}"
                 href="?step=install">{% trans "Next" %}</a>
            {% elif step == "install" %}
              <p>
                {% blocktrans %}
                Click on &quot;Install&quot; to install the GitHub App on each account,
                all the repositories connected to a project will be pre-selected.
                {% endblocktrans %}
              </p>

              <div class="ui middle aligned relaxed divided list">
                {% for installation_target_group in installation_target_groups %}
                  <div class="item">
                    <div class="right floated content">
                      {% if installation_target_group.installed %}
                        <div class="ui green label">
                          <i class="fa-solid fa-circle-check icon"></i>
                          {% trans "Installed" %}
                        </div>
                      {% else %}
                      <a href="{{ installation_target_group.link }}" target="_blank" class="ui small button" data-bind="click: trackLinkClick">
                          {% trans "Install" %}
                      </a>
                      {% endif %}
                    </div>
                    <div class="content">
                      <i class="fa-brands fa-github icon"></i>
                      <a href="https://github.com/{{ installation_target_group.target_name }}"
                         target="_blank">
                        {{ installation_target_group.target_name }}
                      </a>
                    </div>
                  </div>
                {% empty %}
                  <div class="item">
                    <div class="content">
                      <div class="ui message info">
                        {% blocktrans trimmed with revoke_step="?step=revoke" %}
                          You don't have projects to migrate, you can <a href="{{ revoke_step }}">skip this step</a>.
                        {% endblocktrans %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <p>
                {% blocktrans trimmed with gh_app_name=gh_app_name %}
                  Alternatively, you can
                  <a href="https://github.com/apps/{{ gh_app_name }}/installations/new/" data-bind="click: trackLinkClick"
                     target="_blank">manually install the GitHub App</a>
                  on each repository you want to migrate, or do it one by one on the next step.
                {% endblocktrans %}
              </p>

              <div class="ui message info">
                <i class="fad fa-info-circle icon"></i>
                {% blocktrans trimmed with current_page=request.get_full_path migrate_step="?step=migrate" %}
                  If you see this step as incomplete after installing the GitHub App,
                  you may need to <a href="{{ current_page }}">refresh this page</a>, or if you don't want to install the GitHub App on all selected repositories,
                  you can <a href="{{ migrate_step }}">skip this step</a>.
                {% endblocktrans %}
              </div>

              <div class="ui divider"></div>

              <a class="ui button" href="?step=migrate">{% trans "Next" %}</a>
            {% elif step == "migrate" %}
              <p>
                {% blocktrans %}
                In order to migrate a project to the new GitHub App,
                the GitHub App needs to be installed on the repository connected to the project,
                and you need to have admin access to the repository.
                {% endblocktrans %}
              </p>

              <div class="ui medium header">{% trans "Projects to migrate" %}</div>

              <div class="ui middle aligned relaxed divided list">
                {% for migration_target in migration_targets %}
                  <div class="item">
                    <div class="right floated content">
                      {% if not migration_target.has_installation %}
                        <a class="ui button small"
                           href="{{ migration_target.installation_link }}"
                           data-bind="click: trackLinkClick"
                           target="_blank">{% trans "Install" %}</a>
                      {% else %}
                        <form method="post" action="." class="ui form">
                          {% csrf_token %}
                          <input type="hidden"
                                 name="project"
                                 value="{{ migration_target.project.slug }}">
                          <button class="ui button small"
                                  type="submit"
                                  {% if not migration_target.is_admin %}disabled{% endif %}>
                            {% trans "Migrate" %}
                          </button>
                        </form>
                      {% endif %}
                    </div>
                    <div class="right floated content">
                      {% if not migration_target.can_be_migrated %}
                        <a class="ui orange label"
                           {% if not migration_target.has_installation %} data-content="{% trans "Install the GitHub App in the repository by clicking on the &quot;Install&quot; button" %}" {% elif not migration_target.is_admin %} data-content="{% trans "You need to have admin access to the repository in order to migrate the project" %} {% endif %}
                           ">
                          <i class="fad fa-info-circle icon"></i>
                          {% trans "Project can't be migrated" %}
                        </a>
                      {% endif %}
                    </div>
                    <div class="content">
                      <a class="header"
                         href="{% url 'projects_detail' migration_target.project.slug %}">
                        {{ migration_target.project.name }}
                      </a>
                      <div class="description">
                        {% with repo=migration_target.project.remote_repository %}
                        <a href="{{ repo.html_url }}" class="ui basic image nowrap label">
                          <img alt="{% blocktrans with name=project.name %}Project {{ name }} avatar{% endblocktrans %}"
                              src="{{ repo.avatar_url }}" />
                          <code>{{ repo.full_name }}</code>
                        </a>
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                {% empty %}
                  <div class="item">
                    <div class="content">
                      <div class="ui message info">
                        {% blocktrans trimmed with revoke_step="?step=revoke" %}
                          You don't have projects to migrate, you can <a href="{{ revoke_step }}">skip this step</a>.
                        {% endblocktrans %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              {% if migration_targets %}
                <p>
                  {% blocktrans %}
                  If you want to migrate all projects at once, click on the button below.
                  Note that projects with warnings will not be migrated.
                  {% endblocktrans %}
                </p>

                <form class="ui form" method="post" action=".">
                  {% csrf_token %}
                  <button class="ui button" type="submit">{% trans "Migrate all" %}</button>
                </form>

                <div class="ui message info">
                  <i class="fad fa-info-circle icon"></i>
                  {% blocktrans trimmed with current_page=request.get_full_path %}
                    If you don't see the &quot;Migrate&quot; button and you already installed the GitHub App on the repository,
                    and have admin access to it,
                    you may need to <a href="{{ current_page }}">refresh this page</a>.
                  {% endblocktrans %}
                </div>

              {% endif %}

              <div class="ui medium header">
                {% trans "Projects connected to the GitHub App" %}
              </div>

              <div class="ui middle aligned relaxed divided list">
                {% for project in migrated_projects %}
                  <div class="item">
                    <div class="content">
                      <a class="header" href="{% url 'projects_detail' project.slug %}">
                        {{ project.name }}
                      </a>
                      <div class="description">
                        <i class="fa-brands fa-github icon"></i>
                        <a href="{{ project.remote_repository.html_url }}" target="_blank">
                          {{ project.remote_repository.full_name }}
                        </a>
                      </div>
                    </div>
                  </div>
                {% empty %}
                  <div class="item">
                    <div class="content">
                      <div class="ui message info">
                        {% trans "You don't have projects connected to the GitHub App yet." %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <div class="ui divider"></div>

              <a class="ui button" href="?step=revoke">{% trans "Next" %}</a>
            {% elif step == "revoke" %}
              <p>
                {% blocktrans %}
                Click on the button below to revoke access.
                You will be redirected to GitHub, where you need to click on "Revoke access".
                {% endblocktrans %}
              </p>

              {% if migration_targets and not step_revoke_completed %}
                <div class="ui small warning message">
                  <i class="fad fa-warning icon"></i>
                  {% blocktrans trimmed with migrate_step="?step=migrate" manual_migration_docs="#" %}
                    You have projects that need to be <a href="{{ migrate_step }}">migrated</a>.
                    If you revoke access now, you'll need to <a href="{{ manual_migration_docs }}">manually migrate</a> them.
                  {% endblocktrans %}
                </div>
              {% endif %}

              {% if step_revoke_completed %}
              <span class="ui green text">
                <i class="fas fa-circle-check icon"></i>
                {% trans "Revoked" %}
              </span>
              {% else %}
              <a href="{{ old_application_link }}"
                 target="_blank"
                 class="ui button"
                 data-bind="click: trackLinkClick">
                <i class="fa-brands fa-github icon"></i>
                  {% trans "Revoke" %}
              </a>
              {% endif %}

              <div class="ui message info">
                <i class="fad fa-info-circle icon"></i>
                {% blocktrans trimmed with current_page=request.get_full_path %}
                  If you see this step as incomplete after revoking access,
                  you may need to <a href="{{ current_page }}">refresh this page</a>.
                {% endblocktrans %}
              </div>

              <div class="ui divider"></div>
              <a class="ui button {% if not step_revoke_completed %}disabled{% endif %}"
                 href="?step=disconnect">{% trans "Next" %}</a>
            {% elif step == "disconnect" %}
              <p>
                {% blocktrans %}
                Disconnect the old GitHub OAuth app from your Read the Docs account by clicking the button below.
                {% endblocktrans %}
              </p>

              <div class="ui message info">
                <i class="fad fa-info-circle icon"></i>
                {% blocktrans trimmed with manual_migration_docs="#" %}
                  After disconnecting the old GitHub OAuth app, you won't be able to see this page again.
                  If you have projects that need to be migrated, you'll need to <a href="{{ manual_migration_docs }}">manually migrate</a> them.
                {% endblocktrans %}
              </div>

              <form class="ui form"
                    method="post"
                    action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}
                <input type="hidden" name="account" value="{{ old_github_account.id }}" />
                <button class="ui button" type="submit">{% trans "Finish migration" %}</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
