{% extends "profiles/base_edit.html" %}

{% load trans from i18n %}

{% block title %}
  {% trans "API tokens" %}
{% endblock title %}
{% block profile_admin_tokens %}
  active
{% endblock profile_admin_tokens %}
{% block edit_content_header %}
  {% trans "API tokens" %}
{% endblock edit_content_header %}

{% block edit_sidebar_embed_doc %}
  api/v3
{% endblock edit_sidebar_embed_doc %}

{% block edit_content %}
  {% include "profiles/partials/token_list.html" with objects=object_list %}
{% endblock edit_content %}
