{% comment %}
  For now, this is using Dicebear, which has a few random generators for
  user/project icons. We don't need to use Dicebear, but could use this or
  similar to generate files on disk and use an md5 hash or similar to link
  to the same image always.
{% endcomment %}

{% load i18n %}
{% load static %}

{% if project.remote_repository %}
  <img class="ui {{ classes|default_if_none:"small rounded" }} image"
       src="{{ project.remote_repository.avatar_url }}"
       alt="{% blocktrans with project_name=project.name %}{{ project_name }} project{% endblocktrans %}" />
{% else %}
  <readthedocs-avatar class="ui {{ classes|default_if_none:"small rounded" }} image"
                      seed="{{ project.pk }}"
                      url="{% static 'readthedocsext/theme/css/images/avatar-1.png' %}">
  </readthedocs-avatar>
{% endif %}
