{% comment %}
  For now, this is using Dicebear, which has a few random generators for
  user/project icons. We don't need to use Dicebear, but could use this or
  similar to generate files on disk and use an md5 hash or similar to link
  to the same image always.
{% endcomment %}

{% if project.remote_repository %}
  <img class="ui small rounded image" src="{{ project.remote_repository.avatar_url }}" />
{% else %}
  <img class="ui small rounded image" src="https://api.dicebear.com/5.x/shapes/svg?size=64&backgroundColor=b8abd4&shape1Color=8c74c1&shape2Color=7854c5&shape3Color=f0f0ff&seed={{ project.pk }}" />
{% endif %}
