{% extends "projects/base.html" %}

{% load i18n %}

{% load privacy_tags %}

{% block title %}{% trans "Builds" %}{% endblock %}

{% block content-header %}
  {% include "projects/partials/header.html" with builds_active="active" %}
{% endblock %}

{% block content %}
  {# Note: consolidated `is_admin` check here for performance. This could be replaced by a more global solution #}
  {% include "builds/partials/build_list.html" with objects=build_qs is_project_admin=request.user|is_admin:project %}
{% endblock %}
