{% extends "projects/base_project.html" %}

{% load i18n %}
{% load privacy_tags %}
{% load static %}

{% block title %}{{ build.project.name }}{% endblock %}

{% block content-header %}
  {% with builds_active="active" %}
    {% include "projects/partials/header.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="ui basic segment padded" data-bind="using: BuildDetailView({id: {{ build.pk }}})">

    <!-- top most -->
    <div class="ui top attached segment">
      <div class="ui stackable grid">

        <!-- top left -->
        <div class="ui eleven wide column">
          <div class="ui header">
            {% blocktrans trimmed with build_id=build.pk %}
              Build #{{ build_id }}
            {% endblocktrans %}
          </div>

          <div class="ui basic segment loading padded" data-bind="css: { loading: is_loading() }">
            <div class="ui active progress" data-bind="css: state_progress_css, semanticui: {progress: state_progress()}">
              <div class="bar"><div class="progress"></div></div>
              <div class="label">
                <span data-bind="visible: !finished()" style="display: none;">
                  <span data-bind="text: state_display"></span>
                </span>
                <span data-bind="visible: finished()" style="display: none;">
                  <span data-bind="visible: success()">
                    {% trans "Build complete!" %}
                  </span>
                  <span data-bind="visible: !success()">
                    {% trans "Build failed" %}
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- top right -->
        <div class="ui five wide middle aligned column">
          <div class="ui relaxed list">
            <div class="item">
              <i class="grey fa-duotone fa-calendar icon"></i>
              <div class="content" data-bind="if: !is_loading()">
                <div data-bind="attr: { 'data-tooltip': date_display() }, text: '{% trans "Build started" %} ' + date_display_since()"></div>
              </div>
            </div>

            <div class="item">
              <i class="grey fa-duotone fa-clock icon"></i>
              <div class="content" data-bind="if: finished">
                <div data-bind="text: '{% trans "Build took %d" %}'.replace('%d', length_display())"></div>
              </div>
            </div>

            <div class="item">
              <i class="grey fa-duotone fa-code-branch icon"></i>
              <div class="content" data-bind="if: !is_loading()">
                <a data-bind="attr: {href: commit_url}"><code data-bind="text: commit_short"></code></a>
              </div>
            </div>

            <div class="item">
              <i class="grey fa-duotone fa-tag icon"></i>
              <div class="content" data-bind="if: !is_loading()">
                {% comment %}TODO unfuck this django templating
                {% if request.user|is_admin:project and not build.is_external %}
                  <a href="{% url "project_version_detail" build.version.project.slug build.version.slug %}">{{ build.version.slug }}</a>
                {% elif build.is_external %}
                  {% blocktrans with build.external_version_name as external_version_name %}
                    <b>{{ external_version_name }}</b>
                  {% endblocktrans %}
                  #<a href="{{ build.version.vcs_url }}">{{ build.version.verbose_name }}</a>
                {% else %}
                  {{ build.version.slug }}
                {% endif %}
              {% endcomment %}
                <a data-bind="attr: {href: commit_url}"><code>{{ build.version.slug }}</code></a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- end top -->

    <div class="ui attached menu">
      <a class="active item">Output</a>
      <a class="item" href="{% url "build-detail" build.pk "txt" %}">
        {% trans "Raw log" %}
      </a>
      <div class="right menu">
        {% if request.user.is_staff %}
          <a class="ui item" data-bind="click: $root.show_modal('build-debug')">
            <i class="red fa-duotone fa-microscope icon"></i>
            Debug
          </a>
          <div class="ui modal" data-modal-id="build-debug">
            <div class="ui header">
              <i class="fa-duotone fa-microscope icon"></i>
              <div class="content">
                Build debug
              </div>
            </div>
            <div class="content">
              <div class="ui relaxed list">
                <div class="item">Built on server <code data-bind="text: builder"></code></div>
              </div>

              <div class="ui small attached secondary segment">
                <i class="fa-duotone fa-file icon"></i>
                <code>.readthedocs.yaml</code>
              </div>
              <div class="ui small attached segment">
                <p>
                <pre><code data-bind="text: config_display"></code></pre>
                </p>
              </div>
            </div>
            <div class="actions">
              <div class="ui green ok inverted button">
                <i class="fa-duotone fa-check icon"></i>
                Fantastic
              </div>
            </div>
          </div>
        {% endif %}

        <a class="disabled item" data-bind="css: {disabled: !finished() || !success()}, attr: {href: docs_url}">
          <i class="fa-duotone fa-arrow-up-right-from-square icon"></i>
          {% trans "View docs" %}
        </a>
      </div>
    </div>

    {% if build.output %}
      {# If we have build output, this is an old build #}
      <p>
        <button data-bind="visible: !legacy_output(), click: show_legacy_output">
          {% trans "Show full build output" %}
        </button>
      </p>

      <div data-bind="visible: legacy_output"
           style="display: none;">
        <h3>{% trans "Build Output" %}</h3>
        <pre class="build-output"><span id="build-output">{{ build.output }}</span></pre>

        {% if build.setup %}
          <h3>{% trans "Setup Output" %}</h3>
          <pre class="build-output"><span id="build-setup">{{ build.setup }}</span></pre>
        {% endif %}

        {% if build.setup_error %}
          <h3>{% trans "Environment Standard Error" %}</h3>
          <pre class="ui negative message"><span id="build-setup_error">{{ build.setup_error }}</span></pre>
        {% endif %}
      </div>

      {% if build.error %}
        <h3>{% trans "Build Errors" %}</h3>
        <pre class="ui negative message"><span id="build-error">{{ build.error }}</span></pre>
      {% endif %}

    {% else %}

      {% comment %}
        Error list
      {% endcomment %}
      <div class="ui attached inverted red segment" data-bind="visible: error" style="display: none;">
        <i class="fa-solid fa-exclamation circular icon"></i>
        <span data-bind="text: error"></span>
        <span>{% trans "For more information on this error, see our documentation." %}
      </div>
      {% comment %}
        Space for errors!
      <div class="ui inverted grey segment">
        <p>
          {% url 'wipe_version' build.version.project.slug build.version.slug as wipe_url %}
          {% blocktrans trimmed %}
            Having trouble with your build environment?
            Try <a href="{{ wipe_url }}">resetting it</a>.
          {% endblocktrans %}
        </p>
      </div>
      {% if build.finished and not build.using_latest_config %}
        <div>
          <p>
            {% blocktrans trimmed with config_file_link="https://docs.readthedocs.io/page/config-file/v2.html" %}
              <strong>Configure your documentation builds!</strong>
              Adding a <a href="{{ config_file_link }}">.readthedocs.yml</a> file to your project
              is the recommended way to configure your documentation builds.
              You can declare dependencies, set up submodules, and many other great features.
            {% endblocktrans %}
          </p>
        </div>
      {% endif %}
      {% if request.user|is_admin:project %}
        {% elif not build.success and "setup.py install" in build.commands.last.output %}
          <div class="ui basic segment">
            <p>
              {% url 'projects_advanced' build.version.project.slug as advanced_url %}
              {% blocktrans trimmed %}
                Don't want <em>setup.py install</em> called?
                Change the <strong>Install Project</strong> setting in your <a href="{{ advanced_url }}">advanced settings</a>.
              {% endblocktrans %}
            </p>
          </div>
        {% endif %}
      {% endif %}
      {% endcomment %}

      <div class="ui inverted bottom attached segment transition slide">

        {% comment %}
          This is a loading placeholder. The extra element is to fill out the
          extra space in the div
        {% endcomment %}
        <div class="ui hidden active dimmer" data-bind="visible: is_loading()">
          <div class="ui text loader">Loading</div>
        </div>
        <div class="ui basic segment very padded" data-bind="visible: is_loading()"></div>

        <div class="ui inverted relaxed command list"
             data-bind="visible: commands, foreach: commands"
             style="display: none;">
          <div class="item">
            <a class="ui icon left floated" data-bind="click: toggle_showing">
              <i class="grey fa-solid fa-angle-down icon"></i>
            </a>

            <div class="command content">
              <pre><code data-bind="text: command"></code><a class="ui mini timing label" data-bind="text: run_time() + 's'"></a></pre>
            </div>

            <div class="output content" data-bind="visible: is_showing()">

              <div class="ui relaxed command output list" data-bind="foreach: output_lines">
                <div class="item" data-bind="css: { highlight: is_highlighted() }">
                  <a class="ui icon left floated" data-bind="attr: {id: anchor_id(), href: '#' + anchor_id()};">
                    <i class="fa-regular fa-anchor grey icon"></i>
                  </a>
                  <div class="content">
                    <pre><code data-bind="html: output"></code></pre>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div data-bind="visible: !is_loading()">
          <div data-bind="visible: !finished()" class="ui active inverted mini centered inline text loader"></div>
        </div>

      </div>
    {% endif %}

  </div>
{% endblock %}
