{% extends "projects/automation_rule_list.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load ext_theme_tags %}

{% block project_edit_content_subheader %}
  {% if object %}
    {% trans "Update rule" %}
  {% else %}
    {% trans "Add rule" %}
  {% endif %}
{% endblock project_edit_content_subheader %}

{% block project_edit_content %}
  {% if object %}
    {% trans "Update rule" as button_text %}
  {% else %}
    {% trans "Add rule" as button_text %}
  {% endif %}
  <form class="ui form" method="post" action="." data-bind="using: ProjectAutomationRuleView()">
    {% csrf_token %}
    {{ form|crispy }}
    {% comment %}
        TODO: update this code to match the new push rules.
        I think that all these data-bind won't be needed.
    {% endcomment %}
    <div class="ui info message" data-bind="visible: is_all_versions() || is_semver_versions()" style="display: none;">
      <span data-bind="visible: is_all_versions">
        {% trans "All versions will be matched by this rule." %}
      </span>
      <span data-bind="visible: is_semver_versions">
        {% trans "Versions incremented based on semantic versioning rules will be matched by this rule." %}
      </span>
    </div>
    <input class="ui primary button" type="submit" value="{{ button_text }}">
  </form>
{% endblock %}

