{% load alter_field from ext_theme_tags %}
{% load as_crispy_field from crispy_forms_tags %}
{% load crispy_field from crispy_forms_field %}
{% load blocktrans trans from i18n %}

{% comment rst %}
  Project repository combination field
  ====================================

  This element wraps multiple fields and progressively enhances them to provide
  two fields that interact with each other before form submission. It relies on
  :js:class:`ProjectRepositoyMultifieldElement` for all of the added functionality.
{% endcomment %}

<readthedocs-project-repository-multifield
    {% if not form.remote_repository.disabled %}has-connect-services{% endif %}
    label="{{ multifield.label_html|safe }}">
  {{ fields_output|safe }} 
</readthedocs-project-repository-multifield>
