# Don't do templates at all. Prettier is opinionated and there is extra Django
# pieces that would be mangled by Prettier.
*.html
/src/js/tests/**/*.html
/docs/_build/
/docs/out/
/build/
/readthedocsext/theme/static/readthedocsext/theme/css/
/readthedocsext/theme/static/readthedocsext/theme/js/
/crispy-semantic-ui.git/
/.tox/
/common/
/.direnv/
