repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        args: ["--write", "."]
        # Prettier should already do this for us, see `.prettierignore`.
        #types_or: [css, javascript, json]

  - repo: https://github.com/ambv/black
    rev: "23.9.1"
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        exclude: "^readthedocsext/theme/static/.*\\.js\\.map$"
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude: "^readthedocsext/theme/static/.*$"
  - repo: https://github.com/djlint/djLint
    rev: v1.34.1
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django
  - repo: local
    hooks:
      - id: check-build-assets
        name: Ensure compiled assets are current
        description: Ensure that `npm run build` was run before commiting.
        language: script
        types_or: [css, javascript, svg, json]
        entry: .pre-commit/check-build-assets.sh
