{% extends "profiles/base_profile_edit.html" %}

{% load i18n %}

{% block title %}{% trans "Connected Services" %}{% endblock %}
{% block edit_content_header %}{% trans "Connected Services" %}{% endblock %}
{% block profile_admin_social_accounts %}active{% endblock %}

{% block edit_content %}
  {% include "socialaccount/partials/social_account_list.html" with objects=form.accounts %}

  <div class="ui tiny modal" data-modal-id="socialaccount-connections">
    <i class="close icon"></i>
    <div class="header">
      {% trans "Add a connection" %}
    </div>
    <div class="content center aligned">
      <div class="ui basic center aligned segment">
        <p>
          {% blocktrans trimmed %}
            You can connect your account with any of the following providers:
          {% endblocktrans %}
        </p>
        <div class="ui list">
          {% include "socialaccount/snippets/provider_list.html" with process="connect" next="" %}
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui cancel button">
        {% trans "Cancel" %}
      </div>
    </div>
  </div>
{% endblock %}
