{% extends "socialaccount/base_entrance.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block content %}
  {% if process == "connect" %}
    {% if provider.id == "saml" %}
      <h1>
        {% blocktrans trimmed with organization_name=provider.organization.name %}
        Switch account to SAML for {{ organization_name }}
        {% endblocktrans %}
      </h1>

      <p>
        {% blocktrans trimmed with organization_name=provider.organization.name %}
        You are about to switch your account to use SAML to sign in to {{ organization_name }}.
        After this, you will need to sign in using the "Single sign-on" option on the login page.
        {% endblocktrans %}
      </p>
    {% else %}
      <h1>
        {% blocktrans with provider.name as provider trimmed %}
          Connect {{ provider }}
        {% endblocktrans %}
      </h1>

      <p>
        {% blocktrans with provider.name as provider trimmed %}
          You are about to connect a new third party account from {{ provider }}.
        {% endblocktrans %}
      </p>
    {% endif %}
  {% else %}
    <h1>
      {% blocktrans with provider.name as provider trimmed %}
        Sign in via {{ provider }}
      {% endblocktrans %}
    </h1>

    <p>
      {% blocktrans with provider.name as provider trimmed %}
        You are about to sign in using a third party account from {{ provider }}.
      {% endblocktrans %}
    </p>
  {% endif %}

  <form method="post" class="ui form">
    {% csrf_token %}
    <button class="ui button" type="submit">{% trans "Continue" %}</button>
  </form>
{% endblock content %}
