{% load i18n %}

{% with "https://docs.readthedocs.io/page/pull-request.html" as url %}
  <div class="ui card">
    <div class="content">
      <a class="header" target="_blank" href="{{ url }}">{% trans "Preview changes before deploying!" %}</a>
      <div class="description">
        {% blocktrans %}
          Automatically build, preview, and share documentation with every pull request
          and easily catch issues before going live.
        {% endblocktrans %}
      </div>
    </div>
    <div class="ui extra content">
      <a class="ui small primary fluid basic button" target="_blank" href="{{ url }}">
        {% trans "Enable pull request previews" %}
      </a>
    </div>
  </div>
{% endwith %}
