{% load i18n %}

{% with "https://docs.readthedocs.io/page/analytics.html" as url %}
  <div data-bind="using: new ProjectAnnouncementView('traffic-analytics')">
    <div class="ui card" data-bind="visible: !closed()">
      <div class="content">
        <i class="fa-solid fa-xmark right floated close icon"  data-bind="click: close_announcement"></i>
        <a class="header" target="_blank" href="{{ url }}">{% trans "Prioritize your most-read pages" %}</a>
        <div class="description">
          {% blocktrans %}
            Use <strong>traffic analytics</strong> to know <em>which</em> documents your users are reading.
            This allows you to understand how your documentation is being used and learn more about your audience.
            Then you can prioritize your efforts on expanding and updating pages people are reading most.
          {% endblocktrans %}
        </div>
      </div>
      <div class="ui extra content">
        <a class="ui small primary fluid basic button" target="_blank" href="{{ url }}">
          {% trans "Enable analytics" %}
        </a>
      </div>
    </div>
  </div>
{% endwith %}
