{% extends "organizations/settings/base.html" %}

{% load from i18n trans %}

{% block title %}
  {{ organization.name }} - {% trans "Security log" %}
{% endblock title %}

{% block organization_security_log_active %}
  active
{% endblock organization_security_log_active %}

{% block organization_edit_content_header %}
  {% trans "Security log" %}
{% endblock organization_edit_content_header %}

{% block organization_edit_sidebar_help_topics %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.io/page/security-log.html#organization-security-log" text=_("Organization security log") is_external=True class="item" %}
{% endblock organization_edit_sidebar_help_topics %}

{% block organization_edit_content %}
  {# Note: this feature is enabled for most modern subscription, but disabled for old subscriptions #}
  {% if not enabled %}
    {% include "organizations/includes/feature_disabled.html" with organization=organization %}
  {% endif %}
  <div class="{% if not enabled %}ui basic fitted disabled segment{% endif %}">
    {% include "organizations/partials/log_list.html" with objects=object_list omit_user=False %}
  </div>
{% endblock organization_edit_content %}
