{% load i18n %}
{% load core_tags %}
{% load static %}

<footer class="ui basic very padded inverted attached segment">
  <div class="ui container">

    {% block footer_links %}
      <div class="ui four column stackable grid very padded">

        <div class="column">
          <div class="ui vertical inverted text menu">
            {% block menu_news %}
              <h4 class="ui inverted sub header">{% translate 'Stay updated' %}</h4>
              <a class="item" href="https://blog.readthedocs.com/">{% translate 'Blog' %}</a>
              <a class="item" href="https://landing.mailerlite.com/webforms/landing/t0a9l4">{% translate 'Newsletter' %}</a>
              <a class="item" href="https://status.readthedocs.com/">{% translate 'Status' %}</a>
              <div class="item">
                <a href="https://github.com/readthedocs/" aria-label="{% translate 'Read the Docs on GitHub' %}" rel="noopener noreferrer"><i class="icon large fa-brands fa-github"></i></a>
                <a href="https://twitter.com/readthedocs" aria-label="{% translate 'Read the Docs on Twitter' %}" rel="noopener noreferrer"><i class="icon large fa-brands fa-twitter"></i></a>
              </div>
            {% endblock menu_news %}
          </div>
        </div>

        <div class="column">
          <div class="ui vertical inverted text menu">
            {% block menu_learn %}
              <h4 class="ui inverted sub header">{% translate 'Learn more' %}</h4>
              <a class="item" href="https://docs.readthedocs.io">{% translate 'Documentation' %}</a>
              <a class="item" href="https://docs.readthedocs.io/page/tutorial/index.html">{% translate 'Getting started guide' %}</a>
              <a class="item" href="https://docs.readthedocs.io/page/config-file/v2.html">{% translate 'Configure your project' %}</a>
            {% endblock menu_learn %}
          </div>
        </div>

        <div class="column">
          <div class="ui vertical inverted text menu">
            {% block menu_services %}
              <h4 class="ui inverted sub header">{% translate 'Services' %}</h4>
              <a class="item" href="/pricing.html">{% translate 'Pricing' %}</a>
              <a class="item" href="/product.html">{% translate 'Features' %}</a>
              <a class="item" href="https://readthedocs.org">{% translate 'Open-source hosting' %}</a>
              <a class="item" href="https://www.ethicalads.io/advertisers/?ref=rtd">{% translate 'Advertise with us' %}</a>
              <a class="item" href="https://docs.readthedocs.io/page/privacy-policy.html">{% translate 'Privacy policy' %}</a>
              <a class="item" href="https://docs.readthedocs.io/page/terms-of-service.html">{% translate 'Terms of service' %}</a>
            {% endblock menu_services %}
          </div>
        </div>

        <div class="column">
          <div class="ui vertical inverted text menu">
            {% block menu_about %}
              <h4 class="ui inverted sub header">{% translate 'About us' %}</h4>
              <a class="item" href="{{ SITEURL }}/company.html">Company</a>
              <a class="item" href="https://docs.readthedocs.io/page/team.html">{% translate 'Team' %}</a>
              <a class="item" href="https://dev.readthedocs.io/page/contribute.html">{% translate 'Contributing' %}</a>
            {% endblock menu_about %}
          </div>
        </div>

      </div>
    {% endblock footer_links %}

    {% block footer_meta %}
      <div class="ui inverted horizontally fitted very padded center aligned basic segment">
        <div class="ui centered grid">
          <div class="six wide computer seven wide tablet twelve wide mobile column">
            <div class="ui inverted mini header">
              <i class="fa-duotone fa-copyright middle aligned grey icon"></i>
              <div class="content">
                {% translate 'Copyright' %}
                <div class="sub header">{% translate 'Read the Docs, Inc and contributors' %}</div>
              </div>
            </div>
          </div>
          <div class="three wide computer four wide tablet twelve wide mobile column">
            <div class="ui inverted mini header">
              <i class="fa-duotone fa-code-branch middle aligned grey icon"></i>
              <div class="content">
                {% translate 'Version' %}
                <a class="sub header" href="http://docs.readthedocs.io/page/changelog.html">
                  {% readthedocs_version %}
                </a>
              </div>
            </div>
          </div>
          <div class="three wide computer four wide tablet twelve wide mobile column">
            <div class="ui inverted mini header">
              <i class="fa-duotone fa-language middle aligned grey icon"></i>
              <div class="content">
                {% translate 'Language' %}
                <div class="sub header">
                  {% block language-select-form %}
                    {% get_current_language as current_lang %}
                    <form action="/i18n/setlang/" method="post">
                      <div class="field">
                        <input name="next" type="hidden" value="{{ request.path }}" />
                      </div>
                      {% csrf_token %}
                      <div class="ui bottom left pointing scrolling dropdown">
                        <span class="text">{{ current_lang | language_name_local }}</span>
                        <i class="fa-solid fa-caret-down icon"></i>
                        <div class="menu">
                          {% for lang in LANGUAGES %}
                            <div class="item {% if lang.0 == current_lang %}active{% endif %}" data-value="{{ lang.0 }}">
                              {{ lang.0 | language_name_local }} ({{ lang.1 }})
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </form>
                  {% endblock language-select-form %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock footer_meta %}

    {% block footer_sponsors %}
      <div class="ui inverted small horizontal very padded divider">
        Sponsored by
      </div>

      <div class="ui horizontally fitted basic segment">
        <div class="ui six doubling stackable inverted mini cards">
          {% include 'includes/footer/sponsor.html' with image='aws.png' link='http://aws.amazon.com' name='AWS' service=_('Cloud computing') %}
          {% include 'includes/footer/sponsor.html' with image='cloudflare.png' link='http://cloudflare.com' name='Cloudflare' service=_('DNS and SSL') %}
          {% include 'includes/footer/sponsor.html' with image='sentry.png' link='https://sentry.io/' name='Sentry' service=_('Monitoring') %}
          {% include 'includes/footer/sponsor.html' with image='elastic.png' link='https://www.elastic.co/' name='Elastic' service=_('Search') %}
          {% include 'includes/footer/sponsor.html' with image='newrelic.png' link='https://newrelic.com/' name='New Relic' service=_('Performance') %}
          {% include 'includes/footer/sponsor.html' with image='pagerduty.png' link='https://www.pagerduty.com/' name='PagerDuty' service=_('Monitoring') %}
        </div>
      </div>
    {% endblock footer_sponsors %}

  </div>
</footer>
