{% load i18n %}
{% load gravatar %}
{% load static %}

<div class="ui inverted attached stackable menu">
  <div class="ui container">
    <a class="header item" href="{% url "homepage" %}">
      <img class="ui image" src="{% static 'readthedocsext/theme/images/logo-wordmark-light.svg' %}" width="220" alt="Read the Docs logo"/>
    </a>

    <div class="right menu">
      {% if request.user.is_authenticated %}
        <a class="ui item" data-bind="semanticui: {popup: {on: 'click'}}">
          <img class="ui avatar image" src="{% gravatar_url request.user.email 24 %}">
          <span class="text">
            {{ request.user }}
          </span>
          <i class="dropdown icon"></i>
        </a>
        <div class="ui large inverted right top flowing popup">
          <div class="ui inverted large list">
            <a class="item" href="{% url 'projects_dashboard' %}">
              <i class="inverted list alternate icon"></i>
              {% trans "My projects" %}
            </a>
            <a class="item" href="{% url 'projects_import' %}">
              <i class="inverted plus icon"></i>
              {% trans "Add project" %}
            </a>
            <a class="item" href="{% url 'profiles_profile_edit' %}">
              <i class="inverted cog icon"></i>
              {% trans "Settings" %}
            </a>
            <a class="item" href="{% url 'support' %}">
              <i class="inverted life ring icon"></i>
              {% trans "Support" %}
            </a>
            <a class="item" href="{% url 'account_logout' %}">
              <i class="inverted sign out alternate icon"></i>
              {% trans "Log Out" %}
            </a>
          </div>
        </div>
      {% else %}
        {% url 'account_login' as login %}
        {% if not request.path == login %}
          <div class="item">
            <a href="{% url 'account_login' %}" class="ui button">
              {% trans "Log In" %}
            </a>
          </div>
        {% endif %}
        <div class="item">
          <a class="ui button primary" href="{% url "account_signup" %}">
            {% trans "Sign up" %}
          </a>
        </div>
      {% endif %}

    </div>

  </div>
</div>
