{% load i18n %}
{% load gravatar %}

<!-- BEGIN header-->
<div id="rtfd-header">
  <div class="ui secondary menu">
    <div class="ui container">

      <!-- BEGIN header title-->
      <div class="rtfd-header-title">
        <h1>
          {% comment %}Translators: Name of the website{% endcomment %}
          <a href="{% url "homepage" %}">Read the Docs</a>
        </h1>
      </div>
      <!-- END header title -->

      <!-- BEGIN header nav -->
       <div class="right menu">
        {% if request.user.is_authenticated %}
        <div class="menu menu-user">
          <div class="ui buttons">
            <a class="ui menu-button button" href="{% url 'projects_dashboard' %}">
              {% gravatar request.user.email 24 %}
              {{ request.user }}</a>
            <div class="ui floating dropdown icon button">
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="{% url 'projects_dashboard' %}">{% trans "My Projects" %}</a>
              <a class="item" href="{% url 'profiles_profile_edit' %}">{% trans "Settings" %}</a>
              <a class="item" href="{% url 'support' %}">{% trans "Support" %}</a>
              <a class="item" href="{% url 'account_logout' %}">{% trans "Log Out" %}</a>
              </div>
            </div>
          </div>
        </div>
        {% else %}
          {% url 'account_login' as login %}
          {% if not request.path == login %}
            <ul><li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li></ul>
          {% endif %}
        {% endif %}

      </div>
            <!-- END header nav -->


    </div>
  </div>
</div>
<!-- END header-->
