{% extends "errors/proxito/base.html" %}

{% load blocktrans trans from i18n %}

{% comment %}
  This view uses the contextual 404 view handlers currently, but mostly just to
  get the name of the object that is missing so we can give a more specific
  error message. Options here are "Project not found", "Version not found", and
  "Page not found".
{% endcomment %}

{% block title %}
  {% blocktrans trimmed with resource=not_found_subject|default:"Page"|capfirst %}
    {{ resource }} not found
  {% endblocktrans %}
{% endblock title %}

{% block error_status %}
  404
{% endblock error_status %}
{% block error_title %}
  {{ block.super }}
  {% blocktrans trimmed with resource=not_found_subject|default:"Page"|capfirst %}
    {{ resource }} not found
  {% endblocktrans %}
{% endblock error_title %}

{% block error_content %}
  <p>
    {% blocktrans trimmed with resource=not_found_subject|default:"Page"|lower %}
      The {{ resource }} you requested does not exist or may have been removed.
    {% endblocktrans %}
  </p>
{% endblock error_content %}
