{% load get_providers provider_login_url from socialaccount %}
{% load trans blocktrans from i18n %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
  {% comment %}
    - OpenID is not implemented.
    - SAML is handled in another view, we don't want to list all SAML integrations here.
    - GitHub App is not exposed to users yet.
  {% endcomment %}
  {% if provider.id != 'saml' and provider.id != 'githubapp' %}
    {% if allowed_providers and provider.id in allowed_providers or not allowed_providers %}
      <li class="item">
        <form class="ui form"
              method="post"
              action="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          {% csrf_token %}
          <button class="ui button" type="submit" title="{{ provider.name }}">
            <i class="fa-brands fa-{{ provider.name|lower }} icon"></i>
            {% blocktrans trimmed with provider_name=provider.name verbiage=verbiage|default:'Connect to' %}
              {{ verbiage }} {{ provider_name }}
            {% endblocktrans %}
          </button>
        </form>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
