{% load blocktrans from get_providers i18n provider_login_url socialaccount trans %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
  {% comment %}
    - OpenID is not implemented.
    - SAML is handled in another view, we don't want to list all SAML integrations here.
  {% endcomment %}
  {% if provider.id != 'saml' %}
    {% if allowed_providers and provider.id in allowed_providers or not allowed_providers %}
      <li class="item">
        {# Bitbucket doesn't allow more than one callback URL for their OAuth app, so we are redirecting users to the old dashboard for now. #}
        <form class="ui form"
              method="{% if provider.id == "bitbucket_oauth2" %}get{% else %}post{% endif %}"
              action="{% if provider.id == "bitbucket_oauth2" %}https://{{ PRODUCTION_DOMAIN|slice:"4:" }}{% endif %}{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          {% csrf_token %}
          <button class="ui button" type="submit" title="{{ provider.name }}">
            <i class="fa-brands fa-{{ provider.name|lower }} icon"></i>
            {% blocktrans trimmed with provider_name=provider.name verbiage=verbiage|default:'Connect to' %}
              {{ verbiage }} {{ provider_name }}
            {% endblocktrans %}
          </button>
        </form>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
