{# This is probably used inside another KO `with` binding, so we need to reference the root view #}
<div data-bind="with: $root.PopupcardView({% spaceless %}{% block chip_view_params %}{% endblock %}{% endspaceless %})">
  <a class="ui {% spaceless %}{% block chip_classes %}basic{% endblock %}{% endspaceless %} label"
     data-bind="semanticui: { popup: popup_config() }"
     href="{% spaceless %}{% block chip_url %}{% endblock %}{% endspaceless %}">

    {% block chip_icon %}
    {% endblock chip_icon %}

    {% block chip_text %}
    {% endblock chip_text %}

    {% block chip_detail %}
      <div class="detail">
        {% block chip_detail_text %}
        {% endblock chip_detail_text %}
      </div>
    {% endblock chip_detail %}
  </a>
  <div class="ui fluid popup" data-bind="using: data, css: { loading: is_loading() }">
    <div class="ui small wide basic horizontal card" data-bind="if: $parent.is_loaded()">

      {% block popupcard_image %}
      {% endblock popupcard_image %}

      <div class="content">

        {% block popupcard_right %}
          {% comment %}
            <i class="fa-solid right floated fa-check-mark icon"></i>
          {% endcomment %}
        {% endblock %}

        <div class="header">
          {% block popupcard_header %}
          {% endblock popupcard_header %}
        </div>

        <div class="meta">
          {% block popupcard_meta %}
          {% endblock popupcard_meta %}
        </div>

        <div class="description">
          {% block popupcard_content %}
          {% endblock popupcard_content %}
        </div>
      </div>

      <div class="extra content">
        {% block popupcard_extra %}
        {% endblock popupcard_extra %}
      </div>
    </div>
  </div>
</div>
