{% extends "includes/elements/chips/base.html" %}

{% load i18n %}
{% load humanize %}
{% load ext_theme_tags %}

{% block chip_view_params %}
  '{% url "projects-detail" project.slug %}'
{% endblock chip_view_params %}

{% block chip_url %}
  {{ project.get_absolute_url }}
{% endblock chip_url %}

{% block chip_classes %}
  basic image
{% endblock chip_classes %}

{% block chip_icon %}
  {% if project.remote_repository %}
    <img alt="{% blocktrans with name=project.name %}Project {{ name }} avatar{% endblocktrans %}"
         src="{{ project.remote_repository.avatar_url }}" />
  {% else %}
    {% comment %}
      For now, this is using Dicebear, which has a few random generators for
      user/project icons. We don't need to use Dicebear, but could use this or
      similar to generate files on disk and use an md5 hash or similar to link
      to the same image always.
    {% endcomment %}
    <img alt="{% blocktrans with name=project.name %}Project {{ name }} avatar{% endblocktrans %}"
         src="https://api.dicebear.com/5.x/shapes/svg?size=64&backgroundColor=b8abd4&shape1Color=8c74c1&shape2Color=7854c5&shape3Color=f0f0ff&seed={{ project.pk }}" />
  {% endif %}
{% endblock chip_icon %}

{% block chip_text %}
  {{ project.name }}
{% endblock chip_text %}

{% block chip_detail_text %}
  {{ detail }}
{% endblock chip_detail_text %}

{% block popupcard_image %}
{% endblock popupcard_image %}

{% block popupcard_header %}
  {{ project.name }}
{% endblock popupcard_header %}

{% block popupcard_right %}
  {% if project.remote_repository %}
    <img alt="{% blocktrans with name=project.name %}Project {{ name }} avatar{% endblocktrans %}"
         class="ui mini right floated rounded image"
         src="{{ project.remote_repository.avatar_url }}" />
  {% else %}
    {% comment %}
      For now, this is using Dicebear, which has a few random generators for
      user/project icons. We don't need to use Dicebear, but could use this or
      similar to generate files on disk and use an md5 hash or similar to link
      to the same image always.
    {% endcomment %}
    <img alt="{% blocktrans with name=project.name %}Project {{ name }} avatar{% endblocktrans %}"
         class="ui mini right floated rounded image"
         src="https://api.dicebear.com/5.x/shapes/svg?size=64&backgroundColor=b8abd4&shape1Color=8c74c1&shape2Color=7854c5&shape3Color=f0f0ff&seed={{ project.pk }}" />
  {% endif %}
{% endblock popupcard_right %}

{% block popupcard_meta %}
  {# TODO slug is not helpful, use a summary of versions instead? Link to versions! #}
  {{ project.slug }}
{% endblock popupcard_meta %}

{% block popupcard_content %}
  <div class="ui small list">

    <div class="item">
      <i class="fad fa-code-fork icon"></i>
      <div class="content">
        <div class="header">{% trans "Repository" %}</div>
        <div class="description">
          {% if project.remote_repository %}
            {% with repo=project.remote_repository %}<a href="{{ repo.html_url }}">{{ repo.full_name }}</a>{% endwith %}
          {% else %}
            <a href="{{ project.repo }}">{{ project.repo }}</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="item">
      <i class="fad fa-book icon"></i>
      <div class="content">
        <div class="header">{% trans "Documentation" %}</div>
        <div class="description">
          <a data-bind="text: urls.documentation, attr: { href: urls.documentation }"></a>
        </div>
      </div>
    </div>

  </div>
{% endblock popupcard_content %}

{% block popupcard_extra %}
  <div class="right floated">
    <a data-bind="attr: { href: urls.documentation }">
      <i class="fad fa-book icon"></i>
      {% trans "View docs" %}
    </a>
  </div>
  <span>
    <i class="fa-solid fa-language icon"></i>
    {{ project.language|readthedocs_language_name }}
  </span>
{% endblock popupcard_extra %}
