{% if is_paginated %}
  <div class="ui pagination wrapping menu">

    {% if page_obj.has_previous %}
      <a class="icon item"
         href="?page{{ page_suffix }}={{ page_obj.previous_page_number }}{{ getvars }}"><i class="fa-solid fa-arrow-left icon"></i></a>
    {% else %}
      <a class="disabled icon item"><i class="fa-solid fa-arrow-left icon"></i></a>
    {% endif %}

    {% if display_page_links %}
      {% for page in pages %}
        {% if page %}
          {% if page == page_obj.number %}
            <div class="active item">{{ page }}</div>
          {% else %}
            {% if disable_link_for_first_page and page == 1 %}
              <a href="{{ request.path }}{% if getvars %}?{{ getvars|slice:"1:" }}{% endif %}"
                 class="item">{{ page }}</a>
            {% else %}
              <a href="?page{{ page_suffix }}={{ page }}{{ getvars }}" class="item">{{ page }}</a>
            {% endif %}
          {% endif %}
        {% else %}
          <div class="disabled item">...</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if page_obj.has_next %}
      <a class="icon item"
         href="?page{{ page_suffix }}={{ page_obj.next_page_number }}{{ getvars }}"><i class="fa-solid fa-arrow-right icon"></i></a>
    {% else %}
      <a class="disabled icon item"><i class="fa-solid fa-arrow-right icon"></i></a>
    {% endif %}

  </div>
{% endif %}
