{% extends "socialaccount/partials/social_account_list.html" %}

{% comment %}
  This template is used by the GHA migration template to list _just_ GitHub
  OAuth accounts that need to be disconnected.
{% endcomment %}

{% load trans from i18n %}
{% load provider_login_url from socialaccount %}

{% block top_menu %}
{% endblock top_menu %}

{% block list_placeholder %}
{% endblock list_placeholder %}

{% block list_item_meta_items %}
{% endblock list_item_meta_items %}

{% block list_item_right_menu %}
<form class="ui form"
      method="post"
      action="{% url 'socialaccount_connections' %}">
  {% csrf_token %}
  <input type="hidden" name="account" value="{{ object.id }}" />
  <button class="ui button" type="submit">
    <i class="fa-brands fa-github icon"></i>
    {% trans "Disconnect" %}
  </button>
</form>
{% endblock list_item_right_menu %}
