{% extends "socialaccount/partials/social_account_list.html" %}

{% comment %}
  This template is used by the GHA migration template to list _just_ GitHub
  OAuth accounts that need connection to our new GHA.
{% endcomment %}

{% load trans from i18n %}
{% load provider_login_url from socialaccount %}

{% block top_menu %}
{% endblock top_menu %}

{% block list_placeholder %}
{% endblock list_placeholder %}

{% block list_item_meta_items %}
{% endblock list_item_meta_items %}

{% block list_item_right_menu %}
  {% if step_connect_completed %}
    <span class="ui green text">
      <i class="fas fa-circle-check icon"></i>
      {% trans "Connected" %}
    </span>
  {% else %}
    <form class="ui form"
          method="post"
          action="{% provider_login_url "githubapp" process="connect" next=request.get_full_path %}">
      {% csrf_token %}
      <button class="ui button" type="submit">
        <i class="fa-brands fa-github icon"></i>
        {% trans "Connect" %}
      </button>
    </form>
  {% endif %}
{% endblock list_item_right_menu %}
