{% extends "projects/partials/project_list.html" %}

{% load i18n %}

{# TODO drop this override if we add filtering to the profile page #}
{% block top_menu %}
  {# Pass Django template tag specific configuration into ``ProjectListView`` #}
  <script type="application/json" data-bind="jsonInit: config">
    {
      "api_url": "{% url "projects-list" %}"
    }
  </script>
{% endblock top_menu %}

{% block create_button %}
{% endblock create_button %}

{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    This user does not have any projects yet.
  {% endblocktrans %}
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
{% endblock list_placeholder_text %}
