{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% comment %}
    This is a CRUD interface for now, even though we only allow 1
    relationsihp to Token.
  {% endcomment %}
  <form method="post" action="{% url "profiles_tokens_create" %}">
    {% csrf_token %}
    <button class="ui green {% if objects %}disabled {% endif %}button">
      {% trans "Generate API token" %}
    </button>
  </form>
{% endblock %}

{% block list_placeholder_icon_class %}key{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    You currently have no API tokens.
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Add a new API token to begin using APIv3.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button" href="{{ docs_url }}">{% trans "Learn more" %}</a>.
{% endblock list_placeholder_text %}

{% block list_item_right_menu %}
  <form method="post" action="{% url "profiles_tokens_delete" %}">
    {% csrf_token %}
    <div class="ui small icon buttons">
      <div class="ui icon button" data-clipboard-text="{{ object.key }}">
        <i class="fas fa-copy icon"></i>
      </div>
      {# TODO make the revoke form include a token id if we do many to many #}
      <button class="ui icon button" data-content="{% trans "Revoke token" %}">
        <i class="fas fa-trash icon"></i>
      </button>
    </div>
  </form>
{% endblock list_item_right_menu %}

{% block list_item_image %}
{% endblock list_item_image %}

{% block list_item_header %}
  <span class="ui small text"><code>{{ object.key }}</code></span>
  <span class="sub header">
    <span data-tooltip="{{ object.created }}">
      {% blocktrans with time_since=object.created|timesince trimmed %}
        Created {{ time_since }} ago
      {% endblocktrans %}
    </span>
  </span>
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}

{% block list_item_extra %}
{% endblock list_item_extra %}
