{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_menu %}
{% endblock top_menu %}

{% block create_button %}
{% endblock %}

{% block list_placeholder_icon_class %}fa-duotone fa-envelope-dot{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No email addresses have been configured yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Email addresses are required receive notifications and reset your password.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button" href="{{ docs_url }}">{% trans "Learn more" %}</a>.
{% endblock list_placeholder_text %}

{% block list_item_right_menu %}
  {% url "account_email" as form_url %}

  <div class="ui small icon buttons">
    {% if not object.primary %}
      <div class="ui icon button" data-bind="click: $root.post_child_form">
        <i class="fa-solid fa-star icon"></i>
        <form action="{{ form_url }}" method="post">
          {% csrf_token %}
          <input type="hidden" name="email" {% if object.primary %}checked="checked"{% endif %} value="{{ object.email }}"/>
          <input type="hidden" name="action_primary" value="" />
        </form>
      </div>
    {% endif %}
    {% if not object.verified %}
      <div class="ui icon button" data-bind="click: $root.post_child_form">
        <i class="fa-solid fa-refresh icon"></i>
        <form action="{{ form_url }}" method="post">
          {% csrf_token %}
          <input type="hidden" name="email" {% if object.primary %}checked="checked"{% endif %} value="{{ object.email }}"/>
          <input type="hidden" name="action_send" value="" />
        </form>
      </div>
    {% endif %}
    {% trans "Remove email" as action_text %}
    {% blocktrans trimmed asvar content_text with email=object.email %}
      Remove email address {{ email }}?
    {% endblocktrans %}
    {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url action_name="action_remove" action_text=action_text context_text=context_text field_name="email" field_value=object.email %}
  </div>
{% endblock list_item_right_menu %}

{% block list_item_image %}
{% endblock list_item_image %}

{% block list_item_header %}
  <div>
    {{ object.email }}
    {% if object.primary %}
      <i class="fa-solid fa-star icon"></i>
    {% endif %}
  </div>
  <div class="sub header">
    <div class="ui horizontal list">
      {% if object.verified %}
        <span class="ui green text item">
          <i class="fa-solid fa-check-circle icon"></i>
          {% trans "Verified" %}
        </span>
      {% else %}
        <span class="ui red text item">
          <i class="fa-solid fa-exclamation-triangle icon"></i>
          {% trans "Pending verification" %}
        </span>
      {% endif %}
      {% if object.primary %}
        <span class="item">
          {% trans "Primary email" %}
        </span>
      {% endif %}
    </div>
  </div>
{% endblock list_item_header %}

{% block list_item_meta_items %}
{% endblock list_item_meta_items %}

{% block list_item_extra %}
{% endblock list_item_extra %}
