{% load humanize %}
{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% if matches %}
  <div class="ui basic segment">
    <h2 class="ui small header">
      {% trans "Recent activity" %}
    </h2>
    <div class="ui relaxed list">

      {% for match in matches|slice:'0:15' %}
        <div class="item">
          <i class="fa-duotone middle aligned {% spaceless %}

            {% comment %}
              This probably isn't the best logic for a template, but also solidly
              not backend logic.
            {% endcomment %}
            {% if match.action == match.rule.ACTIVATE_VERSION_ACTION %}
              fa-toggle-on
            {% elif match.action == match.rule.HIDE_VERSION_ACTION %}
              fa-eye-slash
            {% elif match.action == match.rule.MAKE_VERSION_PUBLIC_ACTION %}
              fa-unlock
            {% elif match.action == match.rule.MAKE_VERSION_PRIVATE_ACTION %}
              fa-lock
            {% elif match.action == match.rule.SET_DEFAULT_VERSION_ACTION %}
              fa-asterisk
            {% elif match.action == match.rule.DELETE_VERSION_ACTION %}
              fa-trash
            {% else %}
              fa-circle-exclamation
            {% endif %}

          {% endspaceless %} icon"></i>
          <div class="content">
            <div class="header">
              {# Translators: description is an arbitrary string, this will read like "Version activated by rule <a>Add new versions</a>" #} 
              {% blocktrans trimmed with action=match.get_action_past_tense|default:match.get_action_display description=match.rule.description type=match.get_version_type_display|lower version=match.version_name url=match.rule.get_edit_url %}
                {{ action }} by rule <a href="{{ url }}">{{ description }}</a>
              {% endblocktrans %}
            </div>
            <div class="description">
              {% blocktrans trimmed with version=match.version_name pattern=match.match_arg type=match.get_version_type_display %}
                {{ type }} {{ version }} matched pattern {{ pattern }}
              {% endblocktrans %}

              <span class="ui small light grey text" data-content="{{ match.created }}">
                {{ match.created|naturaltime }}
              </span>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endif %}
