{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% comment %}
  Conditionally show this block if feature is enabled for organization. The
  ``enabled`` variable comes from the view.

  If the feature is enabled the top menu child blocks below will show. Otherwise
  overriding the ``top_menu`` block causes these blocks to not render.
{% endcomment %}
{% block top_menu %}
  {% if not enabled %}
    {% include "organizations/includes/feature_disabled.html" with project=project %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock top_menu %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% url "projects_domains_create" project.slug as create_url %}
  {% trans "Add domain" as create_text %}
  {% include "includes/crud/create_button.html" with url=create_url text=create_text %}
{% endblock %}

{% block list_placeholder_icon_class %}fa-duotone fa-at{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No domains are currently configured.
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed with docs_url='https://docs.readthedocs.io/page/custom_domains.html' %}
      Configuring a custom domain allows you to serve your documentation from a
      domain other than "{{ default_domain }}".
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button"
     href="https://docs.readthedocs.io/page/guides/custom-domains.html"
     target="_blank"
     aria-label="{% trans "Learn more about custom domains in our documentation" %}">{% trans "Learn more" %}</a>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  <a class="ui icon button"
     href="{% url 'projects_domains_edit' project.slug object.pk %}"
     data-content="{% trans "Edit" %}">
    <i class="fa-solid fa-wrench icon"></i>
  </a>
  <a class="ui icon button"
     href="{% url 'projects_domains_delete' project.slug object.pk %}"
     data-content="{% trans "Delete" %}">
    <i class="fa-duotone fa-trash icon"></i>
  </a>
{% endblock list_item_right_buttons %}

{% block list_item_image %}
{% endblock list_item_image %}

{% block list_item_header %}
  <a href="{% url 'projects_domains_edit' project.slug object.pk %}">{{ object.domain }}</a>
{% endblock list_item_header %}

{% block list_item_meta_items %}
  <div class="item">
    {% if object.https %}
      <div class="ui basic label">
        <i class="fa-duotone fa-shield-check icon"></i>
        {% trans "HTTPS enabled" %}
      </div>
    {% endif %}
    {% if object.domainssl %}
      <div class="ui basic label">
        <i class="fa-duotone fa-tachometer icon"></i>
        {% trans "CDN enabled" %}
      </div>
    {% endif %}
    {% if object.canonical %}
      <div class="ui basic label">
        <i class="fa-duotone fa-asterisk icon"></i>
        {% trans "Canonical" %}
      </div>
    {% endif %}
  </div>
{% endblock list_item_meta_items %}
