{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  <div class="item">
    <a class="ui green icon button"
       href="{% url 'projects_environmentvariables_create' project_slug=project.slug %}">
      <i class="fa-solid fa-plus icon"></i>
      {% trans "Add variable" %}
    </a>
  </div>
{% endblock %}

{% block list_placeholder_icon_class %}fa-duotone fa-shield-keyhole{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No environment variables have been configured yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Environment variables configured here will be passed into all build commands
      that are executed. These variables can be used to pass sensitive
      data into build commands and can alter how some commands execute.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button" href="https://docs.readthedocs.io/page/guides/environment-variables.html"
     aria-label="{% trans "Learn more about user-defined environment variables in our documentation" %}">
    {% trans "Learn more" %}
  </a>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  <div class="ui button"
       data-clipboard-text="{{ object.name }}"
       {# Translators: past tense as this shown after clicking #}
       data-content="{% trans "Copied!" %}">
    <i class="fa-solid fa-clipboard icon"></i>
  </div>

  {% url 'projects_environmentvariables_delete' project_slug=project.slug environmentvariable_pk=object.pk as form_url %}
  {% trans "Remove variable" as action_text %}
  {% blocktrans trimmed asvar content_text with name=object.name %}
    Remove variable {{ name }}?
  {% endblocktrans %}
  {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url action_text=action_text context_text=context_text %}
{% endblock list_item_right_buttons %}

{% block list_item_icon %}
  {% if not object.public %}
    <i class="fad fa-lock icon"
       data-content="{% trans "Environment variable is not public" %}">
    </i>
  {% endif %}
{% endblock list_item_icon %}

{% block list_item_header %}
  <div class="ui small text">
    <code>{{ object.name }}</code>
  </div>
  <div class="sub header">
    <code>
      {% if object.public %}
        {{ object.value }}
      {% else %}
        {% spaceless %}
          {# Avoid exposing short secrets #}
          {% if object.value|length > 4 %}{{ object.value|slice:"0:4" }}{% endif %}****
        {% endspaceless %}
      {% endif %}
    </code>
  </div>
{% endblock list_item_header %}

{% block list_item_extra %}
{% endblock list_item_extra %}

{% block list_item_meta %}
{% endblock list_item_meta %}
