{% extends "includes/crud/list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  <div class="item">
    <a class="ui green icon button"
       href="{% url 'projects_environmentvariables_create' project_slug=project.slug %}">
      <i class="plus icon"></i>
      {% trans "Add variable" %}
    </a>
  </div>
{% endblock %}

{% block list_placeholder_icon_class %}terminal{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No environment variables have been configured yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Environment variables configured here will be passed into all build commands
      that are executed. These variables can be used to pass sensitive
      data into build commands and can alter how some commands execute.
  {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button" href="{{ docs_url }}">{% trans "Learn more" %}</a>.
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  <a class="ui icon button"
     data-clipboard-text="{{ object.name }}"
     data-content="{% trans "Copied!" %}">
    <i class="clipboard outline icon"></i>
  </a>

  {% url 'projects_environmentvariables_delete' project_slug=project.slug environmentvariable_pk=object.pk as form_url %}
  {% trans "Remove variable" as action_text %}
  {% blocktrans trimmed asvar content_text with name=object.name %}
    Remove variable {{ name }}?
  {% endblocktrans %}
  {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url action_text=action_text context_text=context_text %}
{% endblock list_item_right_buttons %}

{% block list_item_header %}
  <a class="ui basic label" href="{% url 'projects_environmentvariables_detail' project_slug=project.slug environmentvariable_pk=object.pk %}">
    <code>{{ object.name }}</code>
  </a>
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}
