{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  <div class="item">
    <a class="ui green icon button"
       href="{% url 'projects_integrations_create' project_slug=project.slug %}">
      <i class="fa-solid fa-plus icon"></i>
      {% trans "Add integration" %}
    </a>
  </div>
{% endblock %}

{% block list_placeholder_icon_class %}fa-duotone fa-plug{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No integrations have been configured yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Integrations extend the functionality of Read the Docs to other services,
      such as GitHub, GitLab, and Bitbucket
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button" href="https://docs.readthedocs.io/en/stable/guides/setup/git-repo-manual.html"
     aria-label="{% trans "Learn more about this feature in our documentation pages" %}">
    {% trans "Learn more" %}
  </a>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  <a class="ui icon button"
     href="{% url 'projects_integrations_detail' project_slug=project.slug integration_pk=object.pk %}">
    <i class="fa-duotone fa-wrench icon"></i>
  </a>

  {% url 'projects_integrations_delete' project_slug=project.slug integration_pk=object.pk as form_url %}
  {% trans "Remove integration" as action_text %}
  {% blocktrans trimmed asvar content_text with description=object.get_integration_type_display %}
    Remove integration {{ description }}?
  {% endblocktrans %}
  {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url action_text=action_text context_text=context_text %}
{% endblock list_item_right_buttons %}

{% block list_item_icon %}
  <i class="fa-duotone fa-exchange icon"></i>
{% endblock list_item_icon %}

{% block list_item_header %}
  <a href="{% url 'projects_integrations_detail' project_slug=project.slug integration_pk=object.pk %}">
    {{ object.get_integration_type_display }}
  </a>
  {% if object.has_sync and object.can_sync %}
    <i class="fa-duotone fa-wand-magic-sparkles icon" data-content="{% trans "Automatically managed" %}"></i>
  {% endif %}
{% endblock list_item_header %}

{% block list_item_meta %}
  <div class="item">
    {{ object.exchanges.count }} exchanges
  </div>
{% endblock list_item_meta %}
