{% extends "includes/crud/table_list.html" %}

{% load trans blocktrans from i18n %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block top_menu %}
  <div class="ui stackable text menu">
    <div class="right menu">
      <div class="item">
        <form class="ui form"
              method="post"
              action="{% url "projects_keys_reattach" project_slug=project.slug %}">
          {% csrf_token %}
          <button class="ui button"
                  {% if not can_reattach_key_automatically %}disabled{% endif %}>
            <i class="fa-duotone fa-refresh icon"></i>
            {% trans "Reattach to Git provider" %}
          </button>
        </form>
      </div>
    </div>
  </div>

  {% if not can_reattach_key_automatically %}
    <div class="ui warning message">
      <div class="header">
        {% blocktrans trimmed %}
          SSH key can't be automatically reattached to Git provider
        {% endblocktrans %}
      </div>
      <p>
        {% if not project.remote_repository %}
          {% url "projects_edit" project_slug=project.slug as project_edit_url %}
          {% blocktrans trimmed with project_edit_url=project_edit_url %}
            You need to <a href="{{ project_edit_url }}">connect this project to a Git repository</a> first.
          {% endblocktrans %}
        </p>
      {% else %}
        {% url "socialaccount_connections" as socialaccount_connections_url %}
        {% blocktrans trimmed with socialaccount_connections_url=socialaccount_connections_url %}
          You need to <a href="{{ socialaccount_connections_url }}">connect your account to a Git provider associated with this project</a> first.
        {% endblocktrans %}
        <p>
        {% endif %}
        {% blocktrans trimmed %}
          Alternatively, you can
          <a href="https://docs.readthedocs.io/en/stable/guides/importing-private-repositories.html#copy-your-project-s-public-key">manually add the SSH key to your Git provider</a>.
        {% endblocktrans %}
      </p>
    </div>
  {% endif %}
{% endblock top_menu %}

{% block list_placeholder_icon_class %}
  fa-duotone fa-lock-keyhole
{% endblock list_placeholder_icon_class %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No SSH keys are configured for this project.
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      SSH keys allow your project to clone from private repositories.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button"
     href="https://docs.readthedocs.io/page/guides/importing-private-repositories.html"
     target="_blank">{% trans "Learn more" %}</a>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
{% endblock list_item_right_buttons %}

{% block list_item_icon %}
  <i class="fa-duotone fa-fingerprint icon"></i>
{% endblock list_item_icon %}

{% block list_item_header %}
  <a href="{% url 'projects_keys_detail' project.slug object.pk %}">
    <code>{{ object.fingerprint|slice:"23" }}</code>
  </a>
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}
{% block list_item_extra %}
{% endblock list_item_extra %}
