{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% url "projects_redirects_create" project_slug=project.slug as create_url %}
  {% trans "Add redirect" as create_text %}
  {% include "includes/crud/create_button.html" with url=create_url text=create_text %}
{% endblock create_button %}

{% block list_placeholder_icon_class %}
  fa-duotone fa-signs-post
{% endblock list_placeholder_icon_class %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No redirects exist yet
  {% endblocktrans %}
  <div class="sub header">
    {% trans "Redirects allow you to fix links to pages that have moved." %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button"
     href="https://docs.readthedocs.io/page/guides/redirects.html"
     target="_blank"
     aria-label="{% trans "Learn more about custom redirects in our documentation" %}">{% trans "Learn more" %}</a>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  {% trans "Move up" as button_up_text %}
  {% trans "Move down" as button_down_text %}
  {% if not forloop.first %}
    <button class="ui icon button"
            data-bind="click: $root.post_child_form"
            data-content="{{ button_up_text }}"
            aria-label="{{ button_up_text }}"
            title="{{ button_up_text }}">
      <form method="post"
            action="{% url 'projects_redirects_insert' project_slug=project.slug redirect_pk=object.pk position=object.position|add:"-1" %}">
        {% csrf_token %}
      </form>
      <i class="fa-solid fa-arrow-up icon"></i>
    </button>
  {% endif %}

  {% if not forloop.last %}
    <button class="ui icon button"
            data-bind="click: $root.post_child_form"
            data-content="{{ button_down_text }}"
            aria-label="{{ button_down_text }}"
            title="{{ button_down_text }}">
      <form method="post"
            action="{% url 'projects_redirects_insert' project_slug=project.slug redirect_pk=object.pk position=object.position|add:"1" %}">
        {% csrf_token %}
      </form>
      <i class="fa-solid fa-arrow-down icon"></i>
    </button>
  {% endif %}

  <a class="ui button"
     href="{% url 'projects_redirects_edit' project_slug=project.slug redirect_pk=object.pk %}"
     data-content="{% trans "Edit redirect" %}">
    <i class="fas fa-wrench icon"></i>
  </a>

  {% url "projects_redirects_delete" project_slug=project.slug redirect_pk=object.pk as form_url %}
  {% trans "Remove redirect" as action_text %}
  {% blocktrans trimmed asvar content_text with redirect=object %}
    Remove redirect {{ redirect }}?
  {% endblocktrans %}
  {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url action_text=action_text content_text=content_text %}
{% endblock list_item_right_buttons %}

{% block list_item_image %}
  <i class="fad fa-diamond-turn-right icon"></i>
{% endblock list_item_image %}

{% block list_item_header_classes %}
  {{ block.super }} all breaking
{% endblock list_item_header_classes %}

{% block list_item_header %}
  {% spaceless %}
    <a href="{% url 'projects_redirects_edit' project_slug=project.slug redirect_pk=object.pk %}">
      {% if object.from_url %}
        {% if object.redirect_type == "page" %}
          <span>/</span><span class="ui violet text">$lang</span>
          <span>/</span><span class="ui violet text">$version</span>
        {% endif %}
        <span>{{ object.from_url }}</span>
      {% else %}
        {% if object.redirect_type == "clean_url_to_html" %}
          <span>/**/</span><span class="ui violet text">$1</span><span>/</span>
        {% elif object.redirect_type == "html_to_clean_url" %}
          <span>/**/</span><span class="ui violet text">$1</span><span>.html</span>
        {% endif %}
      {% endif %}
    </a>
  {% endspaceless %}

  <div class="sub header">
    <label>{% trans "Redirect to:" %}</label>
    {% spaceless %}
      {% if object.from_url %}
        {% if object.redirect_type == "page" %}
          <span>/</span><span class="ui violet text">$lang</span>
          <span>/</span><span class="ui violet text">$version</span>
        {% endif %}
        <span>{{ object.to_url }}</span>
      {% else %}
        {% if object.redirect_type == "clean_url_to_html" %}
          <span>/**/</span><span class="ui violet text">$1</span><span>.html</span>
        {% elif object.redirect_type == "html_to_clean_url" %}
          <span>/**/</span><span class="ui violet text">$1</span><span>/</span>
        {% endif %}
      {% endif %}
    {% endspaceless %}
  </div>
{% endblock list_item_header %}

{% block list_item_meta_column %}
{% endblock list_item_meta_column %}

{% block list_item_extra_column %}
{% endblock list_item_extra_column %}
