{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% comment %}
  Conditionally show this block if feature is enabled for organization. The
  ``enabled`` variable comes from the view.

  If the feature is enabled the top menu child blocks below will show. Otherwise
  overriding the ``top_menu`` block causes these blocks to not render.
{% endcomment %}
{% block top_menu %}
  {% if not enabled %}
    {% include "organizations/includes/feature_disabled.html" with project=project %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock top_menu %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  <a class="ui button" href="?download=true">
    <i class="fa-duotone fa-download icon"></i>
    {% trans "Download search data" %}
  </a>
{% endblock create_button %}

{% block list_placeholder_icon_class %}
  fa-duotone fa-magnifying-glass
{% endblock list_placeholder_icon_class %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No search queries are available yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      New search queries will be counted as users search your documentation.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}

{% block list_placeholder_text %}
  <a class="ui button"
     href="https://docs.readthedocs.io/page/guides/search-analytics.html"
     aria-label="{% trans "Learn more about this feature in our documentation pages" %}"
     target="_blank">{% trans "Learn more" %}</a>
{% endblock list_placeholder_text %}

{% block list_item_right_menu %}
  <div class="ui right floated text menu">
    <div class="item">
      {% blocktrans trimmed count num=object.1 %}
        {{ num }} query
      {% plural %}
        {{ num }} queries
      {% endblocktrans %}
    </div>
  </div>
{% endblock list_item_right_menu %}

{% block list_item_header %}
  {{ object.0 }}
  <div class="sub header">
    {% blocktrans trimmed count num=object.2 %}
      {{ num }} result
    {% plural %}
      {{ num }} results
    {% endblocktrans %}
  </div>

{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}
