{% extends "includes/crud/list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  <a class="ui button" href="?download=true">
    <i class="fa-duotone fa-download icon"></i>
    {% trans "Download search data" %}
  </a>
{% endblock %}

{% block list_placeholder_icon_class %}fa-duotone fa-magnifying-glass{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No search queries are available yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      New search queries will be counted as users search your documentation.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button" href="{{ docs_url }}">{% trans "Learn more" %}</a>.
{% endblock list_placeholder_text %}

{% block list_item_right_menu %}
  <div class="ui right floated text menu">
    <div class="item">
      {% blocktrans trimmed count num=object.1 %}
        {{ num }} result
      {% plural %}
        {{ num }} results
      {% endblocktrans %}
    </div>
  </div>
{% endblock list_item_right_menu %}

{% block list_item_header %}
  <div class="ui basic label">
    <code>{{ object.0 }}</code>
  </div>
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}
