{% extends "includes/crud/table_list.html" %}

{% load core_tags gravatar i18n privacy_tags projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% url "projects_subprojects_create" project_slug=project.slug as create_url %}
  {% trans "Add subproject" as create_text %}
  {% include "includes/crud/create_button.html" with url=create_url text=create_text %}
{% endblock create_button %}

{% block list_placeholder_icon_class %}
  fa-duotone fa-sitemap
{% endblock list_placeholder_icon_class %}

{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No subprojects exist yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Subprojects are projects hosted from the same URL as their parent project.
      This is useful for organizing multiple projects under a custom domain.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}

{% block list_placeholder_text %}
  <a class="ui button"
     href="https://docs.readthedocs.io/en/stable/guides/subprojects.html"
     aria-label="{% trans "Learn more about this feature in our documentation pages" %}"
     target="_blank">{% trans "Learn more" %}</a>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  <a class="ui icon button"
     href="{% url 'projects_subprojects_update' project_slug=project.slug subproject_slug=object.child.slug %}">
    <i class="fa-duotone fa-wrench icon"></i>
  </a>

  {% url 'projects_subprojects_delete' project_slug=project.slug subproject_slug=object.child.slug as form_url %}
  {% trans "Remove subproject" as action_text %}
  {% blocktrans trimmed asvar content_text with name=object.child.name %}
    Remove subproject {{ name }}?
  {% endblocktrans %}
  {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url action_text=action_text context_text=context_text %}
{% endblock list_item_right_buttons %}

{% block list_item_image %}
  {% include "projects/includes/project_image.html" with project=object %}
{% endblock list_item_image %}

{% block list_item_header %}
  <a href="{% url 'projects_manage' project_slug=object.child.slug %}">{{ object.child.name }}</a>
  <a class="sub header" href="{{ object.get_absolute_url }}">{{ object.get_absolute_url|truncatechars:60 }}</a>
{% endblock list_item_header %}

{% block list_item_meta_list %}
{% endblock list_item_meta_list %}

{% block list_item_extra_list %}
{% endblock list_item_extra_list %}
