{% extends "includes/crud/table_list.html" %}

{% load blocktrans trans from i18n %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  <a class="ui button" href="?download=true">
    <i class="fa-duotone fa-download icon"></i>
    {% trans "Download traffic data" %}
  </a>
{% endblock create_button %}

{% block list_placeholder_icon_class %}
  fa-duotone fa-chart-mixed
{% endblock list_placeholder_icon_class %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    Traffic data is not available yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Traffic data will be accumulated as readers view your documentation.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button"
     href="https://docs.readthedocs.io/en/stable/analytics.html"
     aria-label="{% trans "Learn more about traffic analytics in our documentation" %}"
     target="_blank">{% trans "Learn more" %}</a>
{% endblock list_placeholder_text %}

{% block list_item_right_menu %}
  <div class="ui right floated text menu">
    <div class="item">{{ object.2 }}</div>
  </div>
{% endblock list_item_right_menu %}

{% block list_item_header %}
  <a href="{{ object.1 }}">{{ object.0 }}</a>
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}
