{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% url "projects_translations_create" project.slug as create_url %}
  {% trans "Add translation" as create_text %}
  {% include "includes/crud/create_button.html" with url=create_url text=create_text %}
{% endblock create_button %}

{% block list_placeholder_icon_class %}
  fa-duotone fa-language
{% endblock list_placeholder_icon_class %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    No translations exist yet
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Enable translations of your project by attaching projects configured
      with a different language.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button"
     href="https://docs.readthedocs.io/page/localization.html"
     aria-label="{% trans "Learn more about this feature in our documentation pages" %}"
     target="_blank">{% trans "Learn more" %}</a>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  {% comment %}
    {# TODO there is no edit view for this model, only create and delete #}
  <a class="ui button" href="{% url 'projects_translations_edit' project_slug=project.slug translation_pk=object.pk %}" data-content="{% trans "Edit translation" %}">
    <i class="fas fa-wrench icon"></i>
  </a>
  {% endcomment %}

  {% url "projects_translations_delete" project.slug object.slug as form_url %}
  {% trans "Remove translation" as action_text %}
  {% blocktrans trimmed asvar content_text with language=object.get_language_display name=project.name %}
    Remove project {{ language }} translation for
    project {{ name }}?
  {% endblocktrans %}
  {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url action_text=action_text context_text=context_text %}
{% endblock list_item_right_buttons %}

{% block list_item_image %}
  {% include "projects/includes/project_image.html" with project=object %}
{% endblock list_item_image %}

{% block list_item_header %}
  <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
  <div class="sub header">{{ object.get_language_display }}</div>
{% endblock list_item_header %}

{% block list_item_meta %}
  <a class="item" href="{{ object.get_docs_url }}">
    <i class="fa-duotone fa-link icon"></i>
    {{ object.get_docs_url }}
  </a>
{% endblock list_item_meta %}
