{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% url "projects_users_create" project.slug as create_url %}
  {% trans "Add maintainer" as create_text %}
  {% include "includes/crud/create_button.html" with url=create_url text=create_text %}
{% endblock %}

{% block list_placeholder_icon %}{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    This project currently has no maintainers.
  {% endblocktrans %}
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  {% url "projects_users_delete" project.slug as form_url %}
  {% trans "Remove maintainer" as action_text %}
  {% blocktrans trimmed asvar content_text with username=object.username name=project.name %}
    Remove user {{ username }} as a maintainer?
  {% endblocktrans %}
  {# Repeating the include because Django templates make conditional variables impossible #}
  {% if object == request.user %}
    {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url field_name="username" field_value=object.username action_text=action_text context_text=context_text is_disabled=True %}
  {% else %}
    {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url field_name="username" field_value=object.username action_text=action_text context_text=context_text is_disabled=False %}
  {% endif %}
{% endblock list_item_right_buttons %}

{% block list_item_image %}
  <img class="ui rounded square image" src="{% gravatar_url object.email 64 %}">
{% endblock list_item_image %}

{% block list_item_header %}
  {% with full_name=object.get_full_name %}
    <a href="{% url "profiles_profile_detail" object.username %}">

      {% if full_name %}
        {{ full_name }}
      {% else %}
        {{ object.username }}
      {% endif %}

    </a>
    {% if full_name %}
      <div class="sub header">
        {{ object.username }}
      </div>
    {% endif %}
  {% endwith %}
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}

{% block list_item_extra %}
{% endblock list_item_extra %}
