{% extends "includes/crud/table_list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{# Because we don't have filters and an inline create form, we don't need this yet #}
{% block top_menu %}
{% endblock top_menu %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% comment %}
    {# TODO make this a view #}
    <div class="item">
      <a class="ui green icon button"
        href="{% url "projects_domains_create" project.slug %}">
        <i class="plus icon"></i>
        {% trans "Add maintainer" %}
      </a>
    </div>
  {% endcomment %}
{% endblock %}

{% block list_placeholder_icon %}{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    This project currently has no maintainers.
  {% endblocktrans %}
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  <a class="ui{% if object == request.user %} disabled{% endif %} icon button"
     data-bind="click: $root.show_modal('user-{{ object.username }}')"
     data-content="{% trans "Remove maintainer" %}">
    <i class="fa-duotone fa-trash icon"></i>

    <div class="ui mini modal" data-modal-id="user-{{ object.username }}">
      <div class="header">Remove user {{ object.username }}</div>
      <div class="content">
        Remove user <code>{{ object.username }}</code> as a maintainer?
      </div>
      <div class="actions">
        <form method="post" action="{% url "projects_users_delete" project.slug %}">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{ object.username }}" />
          <input class="ui negative button" type="submit" value="{% trans "Remove" %}">
        </form>
      </div>
    </div>
  </a>
{% endblock list_item_right_buttons %}

{% block list_item_image %}
  <img class="ui rounded square image" src="{% gravatar_url object.email 64 %}">
{% endblock list_item_image %}

{% block list_item_header %}
  {% with full_name=object.get_full_name %}
    <a href="{% url "profiles_profile_detail" object.username %}">

      {% if full_name %}
        {{ full_name }}
      {% else %}
        {{ object.username }}
      {% endif %}

    </a>
    {% if full_name %}
      <div class="sub header">
        {{ object.username }}
      </div>
    {% endif %}
  {% endwith %}
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}

{% block list_item_extra %}
{% endblock list_item_extra %}
