{% extends "includes/crud/table_list.html" %}

{% load i18n %}
{% load gravatar %}
{% load can_be_disconnected from readthedocs.socialaccounts %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}
{% load ext_theme_tags %}

{% block top_menu %}
  {% if form.non_field_errors %}<div class="ui error message">{{ form.non_field_errors }}</div>{% endif %}
  {{ block.super }}
{% endblock top_menu %}
{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  <div class="ui green button"
       data-bind="click: $root.show_modal('socialaccount-connections')">{% trans "Add new connection" %}</div>
{% endblock %}

{% block list_placeholder_icon_class %}fa-duotone fa-user-unlock{% endblock %}
{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    Your account is not connected to any services.
  {% endblocktrans %}
  <div class="sub header">
    {% blocktrans trimmed %}
      Add a new connection to to enable automatic import and
      configuration of new projects.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <a class="ui button"
     href="https://docs.readthedocs.io/en/stable/guides/connecting-git-account.html"
     aria-label="{% trans "Learn more about this feature in our documentation pages" %}">{% trans "Learn more" %}</a>
{% endblock list_placeholder_text %}

{% block list_item_right_menu %}
  <form method="post" action="{% url 'socialaccount_connections' %}">
    {% csrf_token %}
    <input type="hidden" name="account" value="{{ object.id }}" />
    <div class="ui small icon buttons">
      <button class="ui button {% if not object|can_be_disconnected %}disabled{% endif %}"
              data-content="{% trans 'Disconnect account' %}">
        <i class="fas fa-trash icon"></i>
      </button>
    </div>
  </form>
{% endblock list_item_right_menu %}

{% block list_item_image %}
  <img class="ui rounded image"
       src="{{ object.get_avatar_url }}"
       height="28"
       width="28" />
{% endblock list_item_image %}

{% block list_item_header %}
  {{ object|get_account_username }}
  <div class="sub header">
    {% blocktrans with time_since=object.last_login|timesince trimmed %}
      Logged in {{ time_since }} ago
    {% endblocktrans %}
  </div>
{% endblock list_item_header %}

{% block list_item_meta_items %}
  {% with object.get_provider_account as provider %}
    <span class="ui label">
      {# get_brand.name|lower here because we can't use `id`, `Bitbucket2Provider.id == 'bitbucket_oauth2'` #}
      <i class="fa-brands fa-{{ provider.get_brand.name|lower }} icon"></i>
      {{ provider.get_brand.name }}
    </span>
  {% endwith %}
{% endblock list_item_meta_items %}

{% block list_item_extra %}
{% endblock list_item_extra %}
