{% load i18n %}

{% spaceless %}
  <div class="ui popupcard popup" data-bind="if: is_showing">
    <div class="ui popupcard card">
      {% block popupcard_content_block %}
        <div class="content">
          {% block popupcard_content %}
          {% endblock popupcard_content %}
        </div>
      {% endblock popupcard_content_block %}
      {% block popupcard_extra_content_block %}
        <div class="extra content">
          {% block popupcard_extra_content %}
          {% endblock popupcard_extra_content %}
        </div>
      {% endblock popupcard_extra_content_block %}
    </div>
  </div>
{% endspaceless %}
