{% extends "includes/crud/table_list.html" %}

{% load i18n %}
{% load humanize %}
{% load gravatar %}

{% load organizations %}
{% load privacy_tags %}

{% block top_left_menu_items %}
  <div data-bind="using: FilterView()">
    {% include "includes/filters/form.html" with fields=filter.form %}
  </div>
{% endblock top_left_menu_items %}

{% block create_button %}
  {# See below for more background on why we conditionally show a create button here #}
  {% if request.user and request.user.organizations.count == 0 %}
    {% trans "Add organization" as create_text %}
    {% include "includes/crud/create_button.html" with url=organization_create text=create_text %}
  {% endif %}
{% endblock %}

{% comment %}
  We are specific to check whether an organization exists here as we do not want
  the user creating a new organization accidentally. This view can be used with
  an active filter, so Organization.objects.count == 0 does not necessarily imply
  that the user doesn't below to an organization. Instead this means the user
  selected a filter that returns no organizations (typo, etc?)
{% endcomment %}
{% block list_placeholder_icon_class %}fad fa-building icon{% endblock %}
{% block list_placeholder_header %}
  {# TODO this should probably be application logic to consolidate DB queries #}
  {% if request.user and request.user.organizations.count == 0 %}
    {% blocktrans trimmed %}
      You are not a member of an organization yet.
      To start a free trial, create a new organization.
    {% endblocktrans %}
  {% else %}
    {% blocktrans trimmed %}
      No organizations match your filter criteria.
    {% endblocktrans %}
  {% endif %}
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  {% if request.user and request.user.organizations.count == 0 %}
    <div class="ui primary button">{% trans "Create an organization" %}</div>
  {% endif %}
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  {% if request.user|is_admin:object %}
    {% blocktrans trimmed with organization=object.name asvar label_configure %}
      Configure organization {{ organization }}
    {% endblocktrans %}
    <a class="ui button"
       href="{% url "organization_edit" object.slug %}"
       data-content="{{ label_configure }}"
       aria-label="{{ label_configure }}"
       tabindex="0">
      <i class="fa-duotone fa-wrench icon"></i>
    </a>
  {% endif %}
{% endblock list_item_right_buttons %}

{% block list_item_image %}
  <img class="ui image" src="{% gravatar_url object.email 48 %}" />
{% endblock list_item_image %}

{% block list_item_header %}
  <a href="{{ object.get_absolute_url }}">
    {{ object.name }}

    {% if object|has_sso_enabled:"allauth" %}
      {% trans "SSO" context "Acronym for single sign-on" as text %}
      {% blocktrans trimmed with version=object.verbose_name asvar popup %}
        Single sign-on is enabled
      {% endblocktrans %}
      {% include "includes/components/config_label.html" with icon="fad fa-user-check" text=text popup=popup %}
    {% endif %}
  </a>
  <div class="sub header">
  </div>
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}

{% block list_item_extra_items %}
  <a class="item" href="{{ object.get_absolute_url }}">
    {% blocktrans trimmed with project_count=object.projects.count %}
      {{ project_count }} projects
    {% endblocktrans %}
  </a>
  {% if not object|has_sso_enabled:"allauth" %}
    <a class="item" href="{% url "organization_team_list" slug=object.slug %}">
      {% blocktrans trimmed with team_count=object.teams.count %}
        {{ team_count }} teams
      {% endblocktrans %}
    </a>
  {% endif %}
{% endblock list_item_extra_items %}
