{% extends "includes/crud/table_list.html" %}

{% comment %}
  NOTE: If you are editing the UI in this template, you likely also want to
  update the templates for project maintainers and team member lists
{% endcomment %}

{% load crispy_forms_tags gravatar humanize i18n privacy_tags %}

{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% if request.user|is_admin:organization %}
    {# Note the `with` binding duplicating the modal below: this is require to automatically show the modal on form errors #}
    <a class="ui green button"
       data-bind="{% if form.errors %}with: $root.show_modal('invite-owner'), {% endif %}click: $root.show_modal('invite-owner')">
      {% trans "Invite owner" %}
    </a>

    <div class="ui mini modal" data-modal-id="invite-owner">
      <div class="header">{% trans "Invite organization owner" %}</div>
      <div class="content">
        <form class="ui form"
              method="post"
              action="{% url "organization_owner_add" organization.slug %}">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="ui button" type="submit" value="{% trans "Invite owner" %}">
        </form>
      </div>
    </div>
  {% endif %}
{% endblock create_button %}

{% block list_placeholder_icon_class %}fad fa-user-plus icon{% endblock %}
{# This placeholder content should never be visible, there should always be one owner #}
{% block list_placeholder_header %}
  {% trans "This organization has no owner users" %}
{% endblock list_placeholder_header %}

{% block list_item_right_buttons %}
  {% if request.user|is_admin:organization %}
    {% url "organization_owner_delete" organization.slug object.pk as form_url %}
    {% trans "Remove owner" as action_text %}
    {% blocktrans trimmed asvar content_text with username=object.owner.username organization=organization.name %}
      Remove user {{ username }} as an owner of the {{ organization }} organization?
    {% endblocktrans %}
    {% include "includes/crud/remove_button.html" with id=object.pk form_url=form_url action_text=action_text context_text=context_text is_disabled=is_last_user %}
  {% endif %}
{% endblock list_item_right_buttons %}

{% block list_item_image %}
  <img class="ui rounded square image"
       src="{% gravatar_url object.owner.email 64 %}">
{% endblock list_item_image %}

{% block list_item_header %}
  {% with full_name=object.owner.get_full_name %}
    <a href="{% url "profiles_profile_detail" object.owner.username %}">

      {% if full_name %}
        {{ full_name }}
      {% else %}
        {{ object.owner.username }}
      {% endif %}

    </a>
    {% if full_name %}
      <div class="sub header">{{ object.owner.username }}</div>
    {% endif %}
  {% endwith %}
{% endblock list_item_header %}

{% block list_item_meta_items %}
{% endblock list_item_meta_items %}

{% block list_item_extra %}
{% endblock list_item_extra %}
