{% extends "projects/partials/project_list.html" %}

{% comment "rst" %}
  This template uses an additional include argument, so that we can conditionally
  show some UI elements on main project listings, but not on subviews, like the
  team project listing.

  ``show_create_button``
      Boolean. Show the add button in the top menu.

{% endcomment %}

{% load privacy_tags %}

{% block top_left_menu_items %}
  {# This partial is used a few times and ``filter`` isn't used in some views #}
  {% if filter %}
    {% include "includes/filters/form.html" with fields=filter.form %}
  {% endif %}
{% endblock top_left_menu_items %}

{% block create_button %}
  {% if show_create_button and request.user|is_admin:organization %}
    {{ block.super }}
  {% endif %}
{% endblock create_button %}
