{% extends "includes/crud/table_list.html" %}

{% load gravatar i18n privacy_tags %}

{% block top_left_menu_items %}
  <div data-bind="using: FilterView()">
    {% include "includes/filters/form.html" with fields=filter.form %}
  </div>
{% endblock top_left_menu_items %}

{% block create_button %}
  {% if request.user|is_admin:organization %}
    {% url "organization_team_add" organization.slug as create_url %}
    {% trans "Add team" as create_text %}
    {% include "includes/crud/create_button.html" with url=create_url text=create_text %}
  {% endif %}
{% endblock create_button %}

{% block list_placeholder_icon_class %}fad fa-users icon{% endblock %}

{% block list_placeholder_header_filtered %}
  {% trans "No matching teams found" %}
{% endblock list_placeholder_header_filtered %}

{% block list_placeholder_header_empty %}
  {% trans "No teams are configured for this organization yet" %}
{% endblock list_placeholder_header_empty %}

{% block list_placeholder_text_empty %}
  {% if request.user|is_admin:organization %}
    <a href="{% url "organization_team_add" organization.slug %}"
       class="ui primary button">{% trans "Add team" %}</a>
  {% endif %}
{% endblock list_placeholder_text_empty %}

{% block list_item_right_buttons %}
  {% if request.user|is_admin:organization %}
    {# and request.user|org_owner:team %} #}
    <button class="ui dropdown button">
      <i class="fa-solid fa-ellipsis icon"></i>
      <div class="menu">
        <div class="header">{% trans "Admin" %}</div>
        <a class="item"
           href="{% url "organization_team_project_edit" organization.slug object.slug %}">
          <i class="fa-solid fa-plus icon"></i>
          {% trans "Manage projects" %}
        </a>
        <a class="item"
           href="{% url "organization_team_member_add" organization.slug object.slug %}">
          <i class="fa-duotone fa-user-plus icon"></i>
          {% trans "Invite member" %}
        </a>
      </div>
    </button>

    {% blocktrans trimmed with team_name=object.name asvar label_configure %}
      Configure team {{ team_name }}
    {% endblocktrans %}
    <a class="ui button"
       href="{% url "organization_team_edit" slug=object.organization.slug team=object.slug %}"
       data-content="{{ label_configure }}"
       aria-label="{{ label_configure }}"
       tabindex="0">
      <i class="fa-duotone fa-wrench icon"></i>
    </a>
  {% endif %}
{% endblock list_item_right_buttons %}

{% block list_item_icon %}
  <i class="fad fa-users icon"></i>
{% endblock list_item_icon %}

{% block list_item_header %}
  <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
  <div class="sub header">{{ object.get_access_display }}</div>
{% endblock list_item_header %}

{% block list_item_meta_items %}
  <a class="item"
     href="{% url "organization_members" organization.slug %}?teams__slug={{ object.slug }}">
    {% blocktrans trimmed count object.members.count as member_count %}
      {{ member_count }} member
    {% plural %}
      {{ member_count }} members
    {% endblocktrans %}
  </a>
  <a class="item"
     href="{% url "organization_detail" organization.slug %}?teams__slug={{ object.slug }}">
    {% blocktrans trimmed count object.projects.count as project_count %}
      {{ project_count }} project
    {% plural %}
      {{ project_count }} projects
    {% endblocktrans %}
  </a>
{% endblock list_item_meta_items %}

{% block list_item_extra %}
{% endblock list_item_extra %}
