{% load ext_theme_tags %}

{% comment %}
  This template is used by the base template to provide a list of messages on
  the top of the page. Django default level notifications are treated as
  temporary messages, using SUI toast messages instead of block elements in the
  page content pane.
{% endcomment %}

{% comment %}
``user_notifications`` comes from a Context Processor.
We need to use a CustomUser to have access to "user.notifications"
See https://docs.djangoproject.com/en/4.2/ref/settings/#std-setting-AUTH_USER_MODEL
{% endcomment %}
{% if user_notifications %}
  {% for notification in user_notifications %}
    <div class="ui message">
    {% comment %}
    Add this Xmark here once we implement dismissing notifications.
    <i class="fa-duotone fa-circle-xmark close icon"></i>
    {% endcomment %}
      {{ notification.get_message.get_rendered_body|safe }}
    </div>
  {% endfor %}
{% endif %}

{% if messages %}
  {% for message in messages %}
    {% comment %}
      This is a little bit of a hack, as toasts are purely JS and don't
      require an underlying element. Django messages uses "tags" to specify
      info/success/error classes on the messages, which just happen to align
      with SUI classes too.
    {% endcomment %}
    {# fmt:off #}
    {% spaceless %}
      <div style="display: none;"
           data-bind="
semanticui: {
  toast: {
    message: '{{ message|escapejs }}',
    showProgress: 'bottom',
    classProgress: 'primary',
    class: '{{ message.tags }}',
    displayTime: 7500,
  }
}">
        </div>
    {% endspaceless %}
    {# fmt:on #}
  {% endfor %}
{% endif %}
