// Global
@site: "rtd-application";
@reset: "rtd-application";

// Elements
@button: "rtd-application";
@container: "rtd-application";
@divider: "rtd-application";
@emoji: "rtd-application";
@flag: "rtd-application";
@header: "rtd-application";
@icon: "rtd-application";
@image: "rtd-application";
@input: "rtd-application";
@label: "rtd-application";
@list: "rtd-application";
@loader: "rtd-application";
@placeholder: "rtd-application";
@rail: "rtd-application";
@reveal: "rtd-application";
@segment: "rtd-application";
@step: "rtd-application";
@text: "rtd-application";

// Collections
@breadcrumb: "rtd-application";
@form: "rtd-application";
@grid: "rtd-application";
@menu: "rtd-application";
@message: "rtd-application";
@table: "rtd-application";

// Modules
@accordion: "rtd-application";
@calendar: "rtd-application";
@checkbox: "rtd-application";
@dimmer: "rtd-application";
@dropdown: "rtd-application";
@embed: "rtd-application";
@modal: "rtd-application";
@nag: "rtd-application";
@popup: "rtd-application";
@progress: "rtd-application";
@slider: "rtd-application";
@rating: "rtd-application";
@search: "rtd-application";
@shape: "rtd-application";
@sidebar: "rtd-application";
@sticky: "rtd-application";
@tab: "rtd-application";
@toast: "rtd-application";
@transition: "rtd-application";

// Views
@ad: "rtd-application";
@card: "rtd-application";
@comment: "rtd-application";
@feed: "rtd-application";
@item: "rtd-application";
@statistic: "rtd-application";

// Path to theme packages
@themesFolder: "~fomantic-ui-less/themes";

// Path to site override folder, relative to the package path in node_modules.
// This path actually shouldn't be used at all, and instead the individual theme
// paths should be used.
@siteFolder: "../../src/sui/site";

// Import theme
@import (multiple) "theme.less";
