{% load i18n %}
{% load static %}

          {% for build in build_qs %}
          <div class="item">
            <div id="build-{{ build.id }}">
                <a href="{{ build.get_absolute_url }}">{% if build.is_stale %}<span class="thermometer half icon" title="{% trans 'This build is still waiting to be built' %}"></span>{% endif %}<span id="build-state">{% if build.state != 'finished' %}{{ build.get_state_display }} {% else %} {% if build.success %}{% trans "Passed" %}{% else %}{% trans "Failed" %}{% endif %}{% endif %}</span>
                  <img src="{% static 'core/img/loader.gif' %}" class="build-loading hide">
              <span>{% if build.version %}{% if build.is_external %}{% blocktrans with build.external_version_name as external_version_name %}{{ external_version_name }} {% endblocktrans %}{% endif %}{% blocktrans with build.version.slug as slug and build.type as type %}version {{ slug }} ({{ type }}){% endblocktrans %}{% endif %}</span><span class="float right">{% blocktrans with build.date|timesince as date %}{{ date }} ago{% endblocktrans %}</span>
              </a>
            </div>
          </div>
          {% empty %}
            <div class="item">{% trans "No builds found" %}</div>
          {% endfor %}
