{% load i18n %}
{% load core_tags %}
{% load privacy_tags %}
{% load gravatar %}
{% load projects_tags %}

<div class="ui basic segment very padded">
  <div class="ui grid stackable">

    <div class="twelve wide column">
      {% if onboard %}
      <!-- BEGIN onboard -->
        {% include 'projects/onboard_detail.html' %}
      <!-- END onboard -->
      {% endif %}
      <h3>{% trans "Versions" %}</h3>


      <div class="ui items divided">
        {% for version in versions|sort_version_aware %}
            <div class="item">
              <div class="content">
              {% if version.uploaded or version.built %}
              {# Link to the docs #}
                <a class="header" href="{{ version.get_absolute_url }}">
                  {{ version.slug }}
                </a>
                {% if request.user in project.users.all %}
                  <div class="meta">
                    <span>{{ version.get_privacy_level_display }}</span>
                  </div>
                {% endif %}
                {% else %}
                  <a class="header" href="{{ version.project.get_builds_url }}">
                    {{ version.slug }}
                {% endif %}
                </div>
              {% if request.user|is_admin:project %}
                <div class="extra">
                  <a class="ui right floated button" href="{% url "project_version_detail" project.slug version.slug %}">{% trans "Edit" %}</a>
                  </div> 
              {% endif %}
            </div>
        {% empty %}
          <div class="item">
            <div class="content">
              <span class="header">{% trans "No active versions." %}</span>
            </div>
          </div>
        {% endfor %}
      </div>

    {% block build_versions %}
    {% if versions and request.user|is_admin:project %}
        <h3>{% trans "Build a version" %}</h3>
          <form method="post" class="ui form" action="{% url "projects_detail" project.slug %}">
            {% csrf_token %}
            <class class="inline fields">
            <div class="field">
            <select class="ui selection dropdown" name="version_slug">
            {% for version in versions|sort_version_aware %}
              <option value="{{ version.slug }}">{{ version.slug }}</option>
            {% endfor %}
            </select>
            </div>
            <div class="field">
            <input class="ui button" type="submit" value="{% trans "Build version" context "Build is a verb" %}">
            </div>
            </class>
          </form>
    {% endif %}
    {% endblock %}

    {% if project.description %}
    <div>
      <h3>{% trans "Description" %}</h3>
      <p>
        {{ project.description|restructuredtext }}
      </p>
    </div>
    {% endif %}

    </div>{# END .module #}

<div class="four wide column additional-details">
  {% include "core/project_detail_right.html" with badge_url=badge_url site_url=site_url %}
</div>{# END .project_details #}

  </div>
</div>
