{% load i18n %}
{% load core_tags %}
{% load privacy_tags %}
{% load gravatar %}

<!-- BEGIN project bar -->
<div class="ui container">

  <!-- top -->
  <div class="ui stackable text menu">
    <div class="item">
      <div class="ui large breadcrumb">
        <a class="section" href="{% url "projects_dashboard" %}">Projects</a>

        <i class="right chevron icon divider"></i>

        <div class="section">
          <div class="ui inline link search dropdown">
            <div class="text">{{ project }}</div>
            <i class="dropdown icon"></i>

            <div class="menu">
              <div class="ui search icon input">
                <i class="search icon"></i>
                <input type="text" name="search" placeholder="Search projects">
              </div>

              {% for project in request.user.projects.all %}
                <a class="item" href="{{ project.get_absolute_url }}">{{ project.name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %}
      TODO THESE
      <a class="item {{ overview_active }}" href="{{ project.get_absolute_url }}">{% trans "Overview" %}</a>

      <div class="item"><a class="ui button {{ downloads_active }}" href="{% url "project_downloads" project.slug %}" rel="nofollow,noindex">{% trans "Downloads" %}</a></div>
      <div class="item"><a class="ui button {{ search_active }}" href="{% url "elastic_project_search" project.slug %}" rel="nofollow,noindex">{% trans "Search" %}</a></div>

      <a class="item" {{ builds_active }}" href="{{ project.get_builds_url }}">{% trans "Builds" %}</a>

      <div class="item"><a class="ui button {{ versions_active }}" href="{% url "project_version_list" project.slug %}">{% trans "Versions" %}</a></div>
    {% endcomment %}

    <div class="right menu">
      <div class="item">
        <div class="ui left icon input">
          <input type="text" placeholder="Search project...">
          <i class="search icon"></i>
          <!--<button class="ui button">Search</button>-->
        </div>
      </div>
    </div>

  </div>

              {% comment %}
                I DON"T KNOW WHERE TO PUT THIS
              <div>Tagged:</div>
              <div class="ui horizontal list">
                <div class="item"><a class="ui basic label" href="">fuck</a></div>
                <div class="item"><a class="ui basic label" href="">shit</a></div>
                {% if project.tags.exists %}
                  {% for tag in project.tags.all %}
                    <a class="ui label" href="{% url "projects_tag_detail" tag.slug %}">{{ tag.name }}</a>
                  {% endfor %}
                {% endif %}
                {% if request.user|is_admin:project %}
                  {% url 'projects_edit' project.slug as edit_url %}
                  <div class="item">
                    <a class="ui basic icon primary label" href="{{ edit_url }}">
                      <i class="plus icon"></i>
                      {% blocktrans trimmed %}
                        Manage tags
                      {% endblocktrans %}
                    </a>
                  </div>
                {% endif %}
              </div>
              {% comment %}

            </div>
          </div>

          <div class="content">
            <div class="ui left icon action fluid input">
              <i class="linkify icon"></i>
              <input type="text" readonly="" value="{{ project.repo }}">
              <button class="ui teal icon button">
                <i class="copy icon"></i>
              </button>
            </div>
          </div>

          <div class="extra content">


            <div class="right floated author">

        {% comment %}
              {% for user in project.users.all %}
                <!--
                <a href="{% url "profiles_profile_detail" user.username %}">
                  <img class="ui avatar image" src="{% gravatar_url user.email 24 %}" data-title="{{ user.username }}" data-content="{{ user.username }}">
                </a>
                -->
                <div class="ui image label">
                  <img src="{% gravatar_url user.email 24 %}">
                  {{ user.username }}
                </div>
              {% endfor %}
        {% endcomment %}

  <!-- project menu -->
  <div class="ui stackable menu">
    <a class="item {{ overview_active }}" href="{{ project.get_absolute_url }}">
      {% trans "Overview" %}
    </a>
    <a class="item {{ builds_active }}" href="{{ project.get_builds_url }}">
      {% trans "Builds" %}
      <span class="ui tiny label">{{ project.builds.count }}</span>
    </a>
    <div class="ui dropdown item">
      {% trans "Translations" %}
      <span class="ui tiny label">3</span>
      <div class="menu">
        <a class="item">
          <span class="ui small basic violet label">ES</span>
          test-builds-es
        </a>
        <a class="item">
          <span class="ui small basic violet label">RU</span>
          test-builds-ru
        </a>
        <a class="item">
          <span class="ui small basic violet label">CH-ZN</span>
          test-builds-ch-zn
        </a>
      </div>
    </div>
    <div class="ui dropdown item">
      {% trans "Subprojects" %}
      <span class="ui tiny label">3</span>
      <div class="menu">
        <a class="item">
          test-subproject-1
        </a>
        <a class="item">
          test-subproject-2
        </a>
        <a class="item">
          test-subproject-3
        </a>
      </div>
    </div>
    {% if request.user|is_admin:project %}
      <div class="right menu">
        <a class="item {{ edit_active }}" href="{% url "projects_edit" project.slug %}">
          <i class="cog icon"></i>
          {% trans "Settings" %}
        </a>
      </div>
    {% endif %}
  </div>

      {% comment %}
      <div class="ui horizontal list">

        {% if request.user.is_authenticated %}
        <div class="item {{ tools_active }}"><a href="{% url 'project_embed' project.slug %}">{% trans "Tools" %}</a></div>
        {% endif %}

        {% if request.user|is_admin:project %}
          <div class="item"><a class="ui button {{ edit_active }}" href="{% url "projects_edit" project.slug %}"><i class="gear"></i>{% trans "Admin" %}</a></div>
        {% endif %}
      </div>
      {% endcomment %}


  </div>
</div>
<!-- END project bar -->
