{% load i18n %}

{% for project in featured_list %}
  <li class="item">
    <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
    {% for user in project.users.all %}
      <a href="{{ user.get_absolute_url }}">({{ user }})</a>
    {% endfor %}

    <ul class="list">
      <li class="item">
        {% if project.has_good_build %}
          <a href="{{ project.get_docs_url }}">{% trans "View Docs" %}</a>
        {% else %}
          <a href="{{ project.get_builds_url }}">{% trans "No Docs" %}</a>
        {% endif %}
      </li>
    </ul>

  </li>

{% empty %}
  <li class="item">{% trans "No projects found" %}</li>
{% endfor %}
