{% load i18n %}

{% for version, dict in version_data.items %}
  {% if dict.pdf %}
  <div class="item">
    <a href="{{ dict.pdf }}">
        {{ version.slug }} PDF
    </a>
  </div>
  {% endif %}

  {% if dict.html %}
  <div class="item">
    <a href="{{ dict.html }}">
        {{ version.slug }} HTMLZip
    </a>
  </div>
  {% endif %}

  {% if dict.epub %}
  <div class="item">
    <a href="{{ dict.epub }}">
        {{ version.slug }} Epub
    </a>
  </div>
  {% endif %}

{% empty %}
  <div class="item">
    <p>
      {% trans "No downloads for this project." %}
    </p>
  </div>
{% endfor %}
