{% extends "errors/dashboard/base.html" %}
{% load static %}

{% comment %}
  This is for the pages shown in documentation pages, not the dashboard.
{% endcomment %}

{% load core_tags %}
{% load i18n %}

{% block header %}
  <div class="ui basic fitted attached segment">
    <div class="ui container">
      <div class="ui middle aligned grid">
        <div class="four wide computer five wide tablet eleven wide mobile left aligned column">
          <div class="ui horizontally fitted basic segment">
            <a href="//{{ PRODUCTION_DOMAIN }}/" aria-label="Read the Docs homepage">
              <img class="ui image" src="{% static 'readthedocsext/theme/images/logo-wordmark-dark.svg' %}" width="220" alt="Read the Docs logo"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}

{% block footer %}
{% endblock footer %}
