{% extends "proxito/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Authentication required" %}{% endblock %}

{% block content %}
  <h1>{% trans "Authentication required" %}</h1>

  <p>
  {% blocktrans with project_name=project.name %}
    You need special requirements to access "{{ project_name }}" project documentation.
    Please, provide a valid password to see the docs.
  {% endblocktrans %}
  </p>

  <form class="ui form" method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="ui button primary" type="submit" value="{% trans "Sign in" %}">
  </form>

  <p>
  {% blocktrans %}
    Already have an account? Then please <a href="//{{ PRODUCTION_DOMAIN }}/accounts/login/">sign in</a>.
  {% endblocktrans %}
  </p>
{% endblock %}
