{% load i18n %}
{% load core_tags %}
{% load privacy_tags %}
{% load core_tags %}
{% load gravatar %}

{% comment %}

This template is the header at the top of project dashboard pages. There are
two modes to this header, full and collapsed. Full is the default view on the
project detail page, while the collapsed view is the default for the other
project dashboard pages. It is possible to expand the menu with a dropdown.

Arguments:

is_expanded (default: False)
    The default view configuration, normally start this view off in a collapsed
    state, besides the main project detail page.

{% endcomment %}

{% block project_header %}
  <div class="ui top attached segment" data-bind="using: ProjectHeaderView({{ is_expanded|yesno:"true,false" }})">

    {% block project_header_metadata %}
      <div class="ui stacking grid">

        {% block project_header_title %}
          <div class="eight wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui medium monospace header">
              <a href="{{ project.get_absolute_url }}">
                {{ project.name | default:project.slug }}
              </a>

              {# The dropdown action button, to swap between expanded/collapsed #}
              <span data-bind="click: toggle_expanded">
                <i class="fas grey small icon" data-bind="class: dropdown_class"></i>
              </span>
            </div>
          </div>
        {% endblock project_header_title %}

        {% block project_header_labels %}
          <div class="right aligned eight wide computer eight wide tablet sixteen wide left aligned mobile column">
            {% include "includes/components/config_label.html" with icon="fa-solid fa-language" text=project.language|upper popup=project.language|language_name_local %}
            {% for organization in project.organizations.all %}
              {% include "includes/components/config_label.html" with icon="fa-solid fa-building" text=organization.name url=organization.get_absolute_url %}
            {% endfor %}
          </div>
        {% endblock project_header_labels %}

        {% block project_header_metadata_left %}
          <div class="eight wide computer eight wide tablet sixteen wide mobile column" data-bind="visible: is_expanded" style="display: none;">

            {% block project_header_description %}
              {% if project.description %}
                <p>
                  {{ project.description|truncatewords:15 }}
                </p>
              {% endif %}
            {% endblock %}

            {% block project_header_tags %}
              {% for organization in project.organizations.all %}
                <a class="ui label" href="{{ organization.get_absolute_url }}">
                  <i class="fad fa-building icon"></i>
                  {{ organization.name }}  
                </a>
              {% endfor %}

              {# Manual tags #}
              {% for tag in project.tags.all %}
                <a class="ui teal basic label" href="{% url "projects_tag_detail" tag.slug %}">{{ tag.name }}</a>
              {% endfor %}
            {% endblock project_header_tags %}

            {% block project_header_related_projects %}
              {% if project.superproject or project.subprojects.exists %}
                <div class="ui sub header">
                  {% trans "Related projects" %}
                </div>
                <div class="ui relaxed horizontal list">
                  {% if project.superproject %}
                    <div class="item">
                      {% include "includes/elements/chips/project.html" with project=project.superproject detail=_("Parent project") %}
                    </div>
                  {% endif %}
                  {# TODO this list probably needs to respect user permissions #}
                  {% for project_rel in project.subprojects.all %}
                    <div class="item">
                      {% include "includes/elements/chips/project.html" with project=project_rel.child detail=_("Subproject") %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endblock project_header_related_projects %}

            {% block project_header_translations %}
              {% with translations=project.main_language_project.translations|default:project.translations %}
                {% if translations.exists %}
                  <div class="ui sub header">
                    {% trans "Translations" %}
                  </div>
                  <div class="ui horizontal list">
                    {% with project_translation=project.main_language_project|default:project %}
                      {% if not project_translation == project %}
                        <div class="item">
                          {% include "includes/elements/chips/project.html" with project=project_translation detail=project_translation.language|language_name %}
                        </div>
                      {% endif %}
                    {% endwith %}
                    {% for project_translation in translations.all %}
                      {% if not project_translation == project %}
                        <div class="item">
                          {% include "includes/elements/chips/project.html" with project=project_translation detail=project_translation.language|language_name %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
            {% endblock project_header_translations %}

          </div>
        {% endblock project_header_metadata_left %}

        {% block project_header_metadata_right %}
          <div class="right aligned eight wide computer eight wide tablet sixteen wide mobile column" data-bind="visible: is_expanded" style="display: none;">

            {% block project_header_maintainers %}
              <div class="ui sub header">
                {% trans "Maintainers" %}
              </div>

              {# TODO project teams and organization #}

              <div class="ui overlapping avatar images">
                {% for user in project.users.all|slice:":8" %}
                  <a href="{% url "profiles_profile_detail" user.username %}">
                    <img class="ui image" src="{% gravatar_url user.email 32 %}" /> 
                  </a>
                {% endfor %}

                {% with other_maintainers=project.users.all|slice:"8:"|length %}
                  {% if other_maintainers %}
                    <span>
                      {% trans "... and {other_maintainers} others" %}
                    </span>
                  {% endif %}
                {% endwith %}
                  
              </div>
            {% endblock project_header_maintainers %}

            {% block project_header_repository %}
              <div class="ui sub header">
                {% trans "Repository" %}
              </div>
              
              {% if project.remote_repository %}
                {% with repo=project.remote_repository %}
                  <a href="{{ repo.html_url }}" class="ui basic image nowrap label">
                    <img src="{{ repo.avatar_url }}" />
                    <code>{{ repo.full_name }}</code>
                  </a>
                {% endwith %}
              {% else %}
                <a href="{{ project.repo }}" class="ui basic nowrap label">
                  <i class="fas fa-code-fork icon"></i>
                  <code>{{ project.repo }}</code>
                </a>
              {% endif %}
            {% endblock project_header_repository %}

          </div>
        {% endblock project_header_metadata_right %}

      </div>
    {% endblock project_header_metadata %}

  </div>

  {% block project_header_navigation %}
    <div class="ui bottom attached stackable menu">
      <a class="item {{ overview_active }}" href="{{ project.get_absolute_url }}">
        {% trans "Versions" %}
        <span class="ui tiny teal circular label">{{ project.active_versions.count }}</span>
      </a>
      <a class="item {{ builds_active }}" href="{{ project.get_builds_url }}">
        {% trans "Builds" %}
        <span class="ui tiny teal circular label">{{ project.builds.count }}</span>
      </a>
      {% if request.user|is_admin:project %}
        <div class="right menu">
          <a class="item {{ edit_active }}" href="{% url "projects_edit" project.slug %}">
            <i class="fa-duotone fa-gears icon"></i>
            {% trans "Settings" %}
          </a>
        </div>
      {% endif %}
    </div>
  {% endblock project_header_navigation %}

{% endblock project_header %}
