{% extends "includes/crud/table_list.html" %}

{% load i18n %}
{% load humanize %}

{% load privacy_tags %}
{% load projects_tags %}

{% block view_binding %}data-bind="with: ProjectListView()"{% endblock view_binding %}

{% block top_left_menu_items %}
  {# Pass Django template tag specific configuration into ``ProjectListView`` #}
  <script type="application/json" data-bind="jsonInit: config">
{
  "api_url": "{% url "projects-list" %}"
}
  </script>

  {# Separate UI for the version search selection field #}
  <div class="header item">Project</div>
  <div class="active item">
    <div class="ui link search dropdown" data-bind="semanticui: {dropdown: filter_project_config()}">
      <input type="hidden" name="version" value="{{ filter.form.project.value|default:"" }}">
      <div class="default text">{% trans "All projects" %}</div>
      <i class="fa-solid fa-caret-down icon"></i>
      <div class="menu"></div>
    </div>
  </div>

  {% include "includes/filters/form.html" with fields=filter.form %}

{% endblock top_left_menu_items %}

{% block create_button %}
  <a class="ui green button" href="{{ projects_import_url }}">
    {% trans "Add project" %}
  </a>
{% endblock %}

{% block list_placeholder_icon_class %}{% endblock %}
{% block list_placeholder_header %}
  {% trans "There are no projects configured yet, or no projects match your filter criteria" %}
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <div class="ui primary button">{% trans "Add a project" %}</div>
{% endblock list_placeholder_text %}

{% block list_item_start %}
  <tr data-bind="with: project({id: {{ object.id }}, url: '{% url "project-detail" object.pk %}'})">
{% endblock list_item_start %}

{% block list_item_right_menu %}
  <div class="ui small buttons" data-bind="event: {mouseover: fetch, focusin: fetch}">
    <a class="ui icon button"
       data-content="{% trans "View project documentation" %}"
       data-bind="attr: {href: url_docs}, css: {loading: loading}"
       tabindex="0">
      <i class="fa-duotone fa-arrow-up-right-from-square icon"></i>
    </a>

    {% if request.user|is_admin:object %}
      <button class="ui icon dropdown button">
        <i class="fa-solid fa-ellipsis icon"></i>
        <div class="menu">
          <div class="header">{% trans "Admin" %}</div>
          <a class="item" href="{% url "projects_edit" object.slug %}">
            <i class="fa-duotone fa-wrench icon"></i>
            {% trans "Configure project" %}
          </a>
        </div>
      </button>
    {% endif %}
  </div>
{% endblock list_item_right_menu %}

{% block list_item_image %}
  {% include "projects/includes/project_image.html" with project=object %}
{% endblock list_item_image %}

{% block list_item_header %}
  <a class="" href="{% url "projects_manage" object.slug %}">
    {{ object.name }}
  </a>
  <div class="sub header">
    {% if object.has_good_build %}
      {% with build=object.get_latest_build %}
        <time data-content="{{ build.date }}">
          {# Translators: this will read like "Last built 1 year, 5 months ago" #}
          {% blocktrans with time_since=build.date|naturaltime trimmed %}
            Last built {{ time_since }}
          {% endblocktrans %}
        </time>
      {% endwith %}
    {% else %}
      {% trans "Not built yet" %}
    {% endif %}
  </div>
{% endblock list_item_header %}

{% block list_item_meta %}
{% endblock list_item_meta %}

{% block list_item_extra_items %}
  {% if object.has_good_build %}
    {% with build=object.get_latest_build %}
      {% include "includes/elements/chips/build.html" with build=build %}
    {% endwith %}
  {% endif %}
{% endblock %}
