{% extends "projects/base_project.html" %}

{% load core_tags i18n static %}

{% block title %}
  {% blocktrans with query=query|default:"" %}
    Search: {{ query }}
  {% endblocktrans %}
{% endblock title %}

{% block content-header %}
  {% if project_obj %}
    {% with search_active="active" project=project_obj %}
      {% include "projects/partials/header.html" %}
    {% endwith %}
  {% endif %}
{% endblock content-header %}

{% block content %}

  <div class="ui basic segment padded">
    <div class="ui list">
      <h5>{% trans "Object Type" %}</h5>
      {% if not project_obj %}
        <div class="item {% if type == 'project' %}active{% endif %}"><a href="?{% url_replace request 'type' 'project' %}">{% trans "Projects" %}</a></div>
      {% endif %}
      <div class="item {% if type == 'file' %}active{% endif %}"><a href="?{% url_replace request 'type' 'file' %}">{% trans "Files" %}</a></div>
      <div class="ui divider"></div>

      {% if facets.project and not project_obj %}
        <h5>{% trans "Projects" %}</h5>
        <div class="item">
          <a href="?{% url_replace request 'q' search_query %}">{% trans "Search all" %}</a>
        </div>
        {% for name, count, selected in facets.project %}
          <div class="item {% if selected %}active{% endif %}">
            <a href="?{% url_replace request 'q' 'project:' name ' ' search_query %}">
              {{ name }} ({{ count }})
            </a>
          </div>
        {% endfor %}
        <div class="ui divider"></div>
      {% endif %}

      {% if facets.language %}
        <h5>{% trans "Language" %}</h5>
        {% for name, count, selected in facets.language %}
          <div class="item {% if selected %}active{% endif %}">
            {% if language == name %}
              <a href="?{% url_replace request 'language' '' %}">{{ name }} ({{ count }})</a>
            {% else %}
              <a href="?{% url_replace request 'language' name %}">{{ name }} ({{ count }})</a>
            {% endif %}
          </div>
        {% endfor %}
        <div class="ui divider"></div>
      {% endif %}

      {% block sponsor %}
        <div class="info ui message">
          Search is sponsored by <a href="https://www.elastic.co/">Elastic</a>, and hosted on <a href="https://www.elastic.co/cloud">Elastic Cloud</a>.
        </div>
      {% endblock sponsor %}
    </div>
    <div>

      <h2>{% trans "Search" %}</h2>
      <!-- BEGIN search form -->

      <form class="ui form" action="." method="get">
        <div class="field">
          <input type="text"
                 name="q"
                 value="{{ query|default_if_none:"" }}"
                 id="id_elastic_search">
          {% if type %}<input type="hidden" name="type" value="{{ type }}">{% endif %}
          {% if language %}

            <input type="hidden" name="language" value="{{ language }}">
          {% endif %}
        </div>
        <div class="field">
          {% comment %}Translators: This is about starting a search{% endcomment %}
          <input class="ui primary button" type="submit" value="{% trans "Search" %}">
        </div>
      </form>
      <!-- END search form -->

      {% if query %}
        <!-- BEGIN search results -->

        <div class="ui header">
          <h3>
            {% blocktrans with count=total_count|default:"0" query=search_query|default:"" %}
              {{ count }} results for <code>{{ query }}</code>
            {% endblocktrans %}
          </h3>
        </div>

        {% if fuzzy_fallback %}
          <div class="ui info message">
            {% blocktrans with query=search_query %}
              No exact matches for <code>{{ query }}</code>. Showing results for similar terms.
            {% endblocktrans %}
          </div>
        {% endif %}

        <div class="ui relaxed divided list">

          {% with "100" as MAX_SUBSTRING_LIMIT %}
            {% for result in results %}

              <div class="item">
                <div class="content">
                  {% if result.type == 'project' %}
                    <a class="header" href="{{ result.link }}">
                      {{ result.name }} (<em>{{ result.slug }}</em>)
                    </a>
                    <div class="description">
                      {% for fragment in result.highlights.description %}
                        <p>...{{ fragment|safe }}...</p>
                      {% empty %}
                        {% if result.description %}
                          <p>{{ result.description|slice:MAX_SUBSTRING_LIMIT }}</p>
                        {% else %}
                          <p><em>{% trans "No description for project." %}</em></p>
                        {% endif %}
                      {% endfor %}
                    </div>

                  {% elif result.type == 'page' %}
                    <a class="header"
                       href="{{ result.domain }}{{ result.path }}?highlight={{ search_query|urlencode }}">
                      {{ result.project.slug }} - {% if result.highlights.title %}{{ result.highlights.title.0|safe }}{% else %}{{ result.title }}{% endif %}
                    </a>
                    <div class="description">
                      {% for block in result.blocks %}
                        {% if block.type == 'section' %}
                          <p>
                            <a href="{{ result.domain }}{{ result.path }}?highlight={{ search_query|urlencode }}#{{ block.id }}">
                              {% if block.highlights.title %}{{ block.highlights.title.0|safe }}{% else %}{{ block.title }}{% endif %}
                            </a>
                          </p>
                          {% for content in block.highlights.content %}
                            <p>... {{ content|safe }} ...</p>
                          {% empty %}
                            <p>{{ block.content|slice:MAX_SUBSTRING_LIMIT }} ...</p>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% empty %}
              <div class="item"><span>{% trans "No results found." %}</span></div>
            {% endfor %}
          {% endwith %}

        </div>
      {% endif %}
      <!-- END search results -->
    </div>
  </div>
{% endblock content %}
