{% extends "organizations/base.html" %}

{% load i18n %}
{% load gravatar %}

{% load organizations %}

{% block title %}{{ organization.name }} - {% trans "Members" %}{% endblock %}

{% block content-header %}
  {% include "organizations/partials/header.html" with organization=organization members_active="active" %}
{% endblock %}

{% block content %}
  {% if organization|has_sso_enabled:"allauth" %}
    {# We still have owners listed in this UI, which are included in the members union queryset #}
    {% include "organizations/partials/has_sso/members_list.html"  with objects=members %}
  {% else %}
    {% include "organizations/partials/members_list.html" with objects=members %}
  {% endif %}
{% endblock content %}
