{% extends "organizations/base.html" %}

{% load trans from i18n %}
{% load gravatar_url from gravatar %}

{% load has_sso_enabled from organizations %}

{% block title %}
  {{ organization.name }}
{% endblock title %}

{% block head_meta %}
  {% trans "Organization on Read the Docs" as default_description %}
  <meta name="description"
        content="{% firstof organization.description default_description %}" />
  <meta property="og:title" content="{{ organization.name }}" />
  <meta property="og:description"
        content="{% firstof organization.description default_description %}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Read the Docs" />
{% endblock head_meta %}

{% block content-header %}
  {% include "organizations/partials/header.html" with organization=organization projects_active="active" %}
{% endblock content-header %}

{% block content %}
  {% if organization|has_sso_enabled:"allauth" %}
    {% include "organizations/partials/has_sso/project_list.html" with objects=projects show_create_button=True %}
  {% else %}
    {% include "organizations/partials/project_list.html" with objects=projects show_create_button=True %}
  {% endif %}
{% endblock content %}
