{% extends "organizations/base.html" %}

{% load has_sso_enabled from organizations %}

{% block title %}
  {{ organization.name }}
{% endblock title %}

{% block content-header %}
  {% include "organizations/partials/header.html" with organization=organization projects_active="active" %}
{% endblock content %}

{% block content %}
  {% if organization|has_sso_enabled:"allauth" %}
    {% include "organizations/partials/has_sso/project_list.html" with objects=projects show_create_button=True %}
  {% else %}
    {% include "organizations/partials/project_list.html" with objects=projects show_create_button=True %}
  {% endif %}
{% endblock content %}
