{% extends "organizations/base.html" %}

{% load gravatar i18n organizations %}

{% block title %}{{ organization.name }}{% endblock %}

{% block content-header %}
  {% include "organizations/partials/header.html" with organization=organization projects_active="active" %}
{% endblock content-header %}

{% block content %}
  {% if organization|has_sso_enabled:"allauth" %}
    {% include "organizations/partials/has_sso/project_list.html" with objects=projects show_create_button=True %}
  {% else %}
    {% include "organizations/partials/project_list.html" with objects=projects show_create_button=True %}
  {% endif %}
{% endblock content %}
