{% extends "organizations/base.html" %}

{% load i18n %}

{% load organizations %}

{% block title %}{{ organization.name }} - {% trans "Teams" %}{% endblock %}

{% block content-header %}
  {% include "organizations/partials/header.html" with organization=organization teams_active="active" is_collapsed=True %}
{% endblock %}

{% block content %}
  {% if organization|has_sso_enabled:"allauth" %}
    {% include "organizations/partials/has_sso/team_list.html" %}
  {% else %}
    {% include "organizations/partials/team_list.html" with objects=teams %}
  {% endif %}
{% endblock content %}
