{% extends "organizations/teams/base.html" %}

{% load trans from i18n %}
{% load org_owner from organizations %}
{% load is_admin from privacy_tags %}

{% block team_sidebar_members %}active{% endblock %}

{% block subview_content_header %}
  {% trans "Members" %}
{% endblock subview_content_header %}

{% block subview_content %}
  {% with is_team_admin=request.user|org_owner:team is_org_admin=request.user|is_admin:organization %}
    {% include "organizations/partials/team_member_list.html" with objects=team_members is_team_admin=is_team_admin is_org_admin=is_org_admin %}
  {% endwith %}

  {% comment %}
    TODO move owner/team member invitations to a dedicated view.

    Do not reuse this pattern, it is a bad pattern.

    This is a bit of a hack to avoid manipulating the view to work with
    multiple querysets on two separate models. On the owners/team member views,
    there will also be a listing of invitations (the `Invitation` model). But,
    the invitiation list will not respond to pagination without altering the
    view to support multi model pagination.

    This means that invitations could clog up the UI, as they won't be paginated,
    and the invitations will to stuffed below the view model listing, so really
    hard to find.

    Ideally, these should either be separate views entirely, or both
    OrganizationOwner and Invitation model queryset would be joined into a
    single queryset listing.
  {% endcomment %}
  {% block team_invitations %}
    {% if invitations.exists %}
      <h2 class="ui small header">
        {% trans "Pending invitations" %}
        <span class="ui circular small label">
          {{ invitations.count }}
        </span>
      </h2>

      {% include "invitations/partials/invitation_list.html" with objects=invitations skip_pagination=True %}
    {% endif %}
  {% endblock team_invitations %}
{% endblock subview_content %}
