{% extends "organizations/teams/base.html" %}

{% load crispy_forms_tags i18n organizations privacy_tags %}

{% block subtitle %}
  {% if team %}
    {% trans "Settings" %}
  {% else %}
    {% trans "Add team" %}
  {% endif %}
{% endblock subtitle %}

{% block subview_content_header %}
  {% if team %}
    {% trans "Settings" %}
  {% else %}
    {% trans "Add team" %}
  {% endif %}
{% endblock subview_content_header %}

{% block team_sidebar_settings %}active{% endblock %}

{% block subview_content_subheader_breadcrumbs %}
  {% if team %}
    {{ block.super }}
  {% else %}
    <span class="section">Teams</span>
    <span class="divider">/</span>
    <span class="section">{% trans "New team" %}</span>
  {% endif %}
{% endblock subview_content_subheader_breadcrumbs %}

{% block subview_content %}
  {% block subview_content_form %}
    <form class="ui form" action="." method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="ui button primary" type="submit" value="{% trans "Save" %}" />
    </form>
  {% endblock subview_content_form %}

  {% if team and request.user|is_admin:organization %}
    <div class="ui horizontal divider">{% trans "More" %}</div>

    {% block team_delete %}
      <div class="ui red segment">
        <h3 class="ui small header">{% trans "Delete team" %}</h3>

        <p>
          {% blocktrans trimmed %}
            Removing this team may remove user permissions to read hosted
            documentation. Be careful, this cannot be undone!
          {% endblocktrans %}
        </p>

        <a class="ui basic button"
           data-bind="click: $root.show_modal('team-delete')">
          <i class="fa-duotone fa-trash icon"></i>
          {% trans "Delete team" %}
        </a>
        <div class="ui mini modal" data-modal-id="team-delete">
          <div class="header">{% trans "Delete team" %}</div>
          <div class="content">
            {% blocktrans trimmed with team=team.name %}
              Are you sure you want to delete the team {{ team }}? This action
              cannot be undone.
            {% endblocktrans %}
          </div>
          <div class="actions">
            <form method="post"
                  action="{% url "organization_team_delete" organization.slug team.slug %}">
              {% csrf_token %}
              <input class="ui negative button"
                     type="submit"
                     value="{% trans "Delete team" %}">
            </form>
          </div>
        </div>
      </div>
    {% endblock team_delete %}
  {% endif %}
{% endblock subview_content %}
