{% extends "base.html" %}

{% block content-wrapper %}
  <div class="ui very padded container">

    {# This is overriding the normal base.html content-wrapper,
    so we need to include notifications here so they're displayed. #}
    {% block notifications %}
      {% include "includes/utils/messages.html" %}
    {% endblock notifications %}

    <div class="ui centered grid">
      <div class="nine wide computer twelve wide tablet sixteen wide mobile column">
        <div class="ui raised segment">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </div>
{% endblock content-wrapper %}
