#project_bar {
  background-color: #E8ECEF;
  border-bottom: 1px solid #DAE1E5;
  overflow: hidden;
  position: relative;

  .ui.container {
    padding: 30px 0 20px;
  }

  h1 a {
    text-decoration: none;
  }

  h1 span.project-breadcrumb {
    font-weight: normal;
    font-size: 17px;
  }

  .options ul {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  .options ul li {
    margin-right: 8px;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }

  .options ul li a {
    text-decoration: none;
  }
}

.build_a_version {
  margin-top: 15px;
}

#project_details {

  .additional-details {
    h3 {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 16px;
    }

    h3:first-child,
    .sub_projects {
      margin-top: 0;
    }

    .repo-url {
      overflow-x: hidden;
    }
  }
}