{% extends "base.html" %}

{% load i18n %}
{% load privacy_tags %}

{% block title %}{% blocktrans with profile.user as user %}{{ user }}'s profile{% endblocktrans %}{% endblock %}

{% block content %}
  <div class="ui stackable computer reversed grid">
    {# Note reversed class above, so this is first on computer/tablet viewports #}
    <div class="five wide computer sixteen wide tablet sixteen wide mobile column">
      <div class="ui basic horizontally fitted segment">
        {% include "profiles/includes/profile_card.html" with profile=profile %}
      </div>
    </div>
    <div class="eleven wide computer sixteen wide tablet column">
      {% get_public_projects profile.user %}
      {% include "profiles/partials/profile_project_list.html" with objects=project_list objects=public_projects %}
    </div>
  </div>
{% endblock %}
