{% comment "rst" %}
  SemanticUI forms
  ================

  For most form display, we use Cripsy. This might be an old artifact, so
  probably don't use this unless you find a reason to.

  This is a helper to display forms in SemanticUI markup. We don't use as_p
  here as the output does not style things like error listings.

  Inputs:

  form
      The Form object to iterate over

  error_title (optional)
      The title for the form

{% endcomment %}

{% load i18n %}

<div class="ui {% if not form.is_valid %}error{% endif %} form ">

  {% if form.non_field_errors %}
    <div class="ui error message">
      {% trans "There were problems with your submission" as error_title_default %}
      {% with title=error_title|default:error_title_default %}
        <div class="header">{{ error_title }}</div>
      {% endwith %}
      <ul class="list">
        {% for error in form.non_field_errors %}<li>error</li>{% endfor %}
      </ul>
    </div>
  {% endif %}

  {% for field in form %}
    <div class="field{% if field.errors %} error{% endif %}">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
        <div class="ui pointing red basic label">
          {% for error in field.errors %}<div>{{ error }}</div>{% endfor %}
        </div>
      {% endif %}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endfor %}

  {% trans "Save" as submit_text_default %}
  <input class="ui submit primary button"
         type="submit"
         name="submit"
         value="{{ submit_text|default:submit_text_default }}"
         id="submit" />

</div>
