/* Semantic UI imports */

/* Global */
& {
  @import "~semantic-ui-less/definitions/globals/reset";
}

& {
  @import "~semantic-ui-less/definitions/globals/site";
}

/* Elements */
& {
  @import "~semantic-ui-less/definitions/elements/button";
}

& {
  @import "~semantic-ui-less/definitions/elements/container";
}

& {
  @import "~semantic-ui-less/definitions/elements/divider";
}

//& { @import "~semantic-ui-less/definitions/elements/flag"; }
& {
  @import "~semantic-ui-less/definitions/elements/header";
}

& {
  @import "~semantic-ui-less/definitions/elements/icon";
}

& {
  @import "~semantic-ui-less/definitions/elements/image";
}

& {
  @import "~semantic-ui-less/definitions/elements/input";
}

& {
  @import "~semantic-ui-less/definitions/elements/label";
}

& {
  @import "~semantic-ui-less/definitions/elements/list";
}

//& { @import "~semantic-ui-less/definitions/elements/loader"; }
//& { @import "~semantic-ui-less/definitions/elements/rail"; }
//& { @import "~semantic-ui-less/definitions/elements/reveal"; }
& {
  @import "~semantic-ui-less/definitions/elements/segment";
}

//& { @import "~semantic-ui-less/definitions/elements/step"; }

/* Collections */
& {
  @import "~semantic-ui-less/definitions/collections/breadcrumb";
}

& {
  @import "~semantic-ui-less/definitions/collections/form";
}

& {
  @import "~semantic-ui-less/definitions/collections/grid";
}

& {
  @import "~semantic-ui-less/definitions/collections/menu";
}

& {
  @import "~semantic-ui-less/definitions/collections/message";
}

& {
  @import "~semantic-ui-less/definitions/collections/table";
}

/* Views */
//& { @import "~semantic-ui-less/definitions/views/ad"; }
& {
  @import "~semantic-ui-less/definitions/views/card";
}

//& { @import "~semantic-ui-less/definitions/views/comment"; }
//& { @import "~semantic-ui-less/definitions/views/feed"; }
& {
  @import "~semantic-ui-less/definitions/views/item";
}

//& { @import "~semantic-ui-less/definitions/views/statistic"; }

/* Modules */
//& { @import "~semantic-ui-less/definitions/modules/accordion"; }
& {
  @import "~semantic-ui-less/definitions/modules/checkbox";
}

//& { @import "~semantic-ui-less/definitions/modules/dimmer"; }
& {
  @import "~semantic-ui-less/definitions/modules/dropdown";
}

//& { @import "~semantic-ui-less/definitions/modules/embed"; }
//& { @import "~semantic-ui-less/definitions/modules/modal"; }
& {
  @import "~semantic-ui-less/definitions/modules/nag";
}

//& { @import "~semantic-ui-less/definitions/modules/popup"; }
//& { @import "~semantic-ui-less/definitions/modules/progress"; }
//& { @import "~semantic-ui-less/definitions/modules/rating"; }
& {
  @import "~semantic-ui-less/definitions/modules/search";
}

& {
  @import "~semantic-ui-less/definitions/modules/shape";
}

& {
  @import "~semantic-ui-less/definitions/modules/sidebar";
}

//& { @import "~semantic-ui-less/definitions/modules/sticky"; }
//& { @import "~semantic-ui-less/definitions/modules/tab"; }
& {
  @import "~semantic-ui-less/definitions/modules/transition";
}


// Read the Docs
@import "config";
@import "components/buttons";
@import "components/wide_search_bar";
@import "components/header";
@import "components/footer";
@import "components/home_header";
@import "components/table";
@import "components/badge_markup";
@import "pages/dashboard";
@import "pages/project_detail";
@import "pages/elastic_search";

/* ------ SITE WIDE STYLES ------ */
body {
  background: #fafafa;
  color: #444;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

section {
  margin-bottom: 40px;
}

a {
  color: #444;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

textarea,
input,
select,
.button {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #BFBFBF;
  color: #444;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
}

::placeholder {
  opacity: 0.5;
}

select {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  display: block;
  max-height: 300px;
  width: 250px;
  font-size: 16px;
  line-height: 20px;
}

form p {
  color: #999;
}

label {
  display: block;
  margin-bottom: 4px;
  color: #444;
}

pre {
  margin: 15px 0;
  white-space: pre;
  overflow: auto;
}

/* ------ END OF SITE WIDE STYLES ------ */

.notification {
  padding: 5px 0;
  color: #a55;
}

.home .lead {
  font-size: 20px;
  line-height: 30px;
}

.padding-top {
  padding-top: 20px;
}


#features .grid.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}