{% extends "errors/proxito/base.html" %}

{% load blocktrans from i18n trans %}

{% block title %}
  {% trans "Access restricted" %}
{% endblock title %}

{% block error_status %}
  403
{% endblock error_status %}

{% block error_title %}
  {{ block.super }}
  {% trans "Access restricted" %}
{% endblock error_title %}

{% block error_subtitle_text %}
{% endblock error_subtitle_text %}

{% block error_content %}
  <p>
    {% blocktrans trimmed %}
      Your account may not have the necessary permissions to view this page.
    {% endblocktrans %}
  </p>
{% endblock error_content %}

{% block error_content_help %}
  <p>
    {% blocktrans trimmed %}
      Try logging in again or logging in with a different account. If this does
      not help, verify that your account has the necessary permissions to view
      this page.
    {% endblocktrans %}
  </p>
  {{ block.super }}
{% endblock error_content_help %}
