{% extends "errors/proxito/base.html" %}

{% load blocktrans trans from i18n %}

{% block title %}
  {% trans "Too many requests" %}
{% endblock title %}

{% block error_status %}
  429
{% endblock error_status %}
{% block error_title %}
  {{ block.super }}
  {% trans "Too many requests" %}
{% endblock error_title %}

{% block error_content %}
  <p>
    {% blocktrans trimmed %}
      You sent too many requests in a short period of time.
    {% endblocktrans %}
  </p>
{% endblock error_content %}

{% block error_content_help %}
  <p>
    {% blocktrans trimmed %}
      Wait several minutes before trying your request again.
    {% endblocktrans %}
  </p>
  {{ block.super }}
{% endblock error_content_help %}
