{% extends "errors/proxito/base.html" %}

{% load blocktrans trans from i18n %}

{% comment %}
  Leaving this as a technically-not-accurate "bad request", as this works okay
  for being a fallback for missing error templates.
{% endcomment %}
{% block title %}
  {% trans "Bad request" %}
{% endblock title %}

{% block error_status %}
{% endblock error_status %}
{% block error_title %}
  {% trans "Bad request" %}
{% endblock error_title %}

{% block error_content %}
  <p>
    {% blocktrans trimmed %}
      Your request is either unsupported or we didn't understand it.
    {% endblocktrans %}
  </p>
{% endblock error_content %}

{% block error_content_help %}
  <p>
    {# On purpose there is no link to our support form here #}
    {% blocktrans trimmed %}
      Check that your request is valid or try again later.
    {% endblocktrans %}
  </p>
  {{ block.super }}
{% endblock error_content_help %}
