{% extends "errors/proxito/base.html" %}

{% comment %}
  This is the application error for hosted documentation. We might show this
  when proxito has a problem or the web servers are starting to be overloaded.
{% endcomment %}

{% load blocktrans trans from i18n %}

{% block title %}
  {% trans "Server error" %}
{% endblock title %}

{% block error_status %}
  500
{% endblock error_status %}
{% block error_title %}
  {{ block.super }}
  {% trans "Something went wrong" %}
{% endblock error_title %}

{% block error_content %}
  <p>
    {% blocktrans trimmed %}
      There was an unexpected error while trying to view this page.
      You may have encountered a bug or a temporary issue affecting this site.
    {% endblocktrans %}
  </p>
{% endblock error_content %}

{% block error_content_help %}
  <p>
    {% blocktrans trimmed %}
      Try again shortly.
    {% endblocktrans %}
  </p>
  {{ block.super }}
{% endblock error_content_help %}
