{% extends "proxito/base.html" %}

{% load static from static %}
{% load trans from i18n %}

{# We still use our CSS on user hosted content #}
{% block head_links %}
  {{ block.super }}
{% endblock head_links %}

{# Remove unwanted JS from user hosted content #}
{% block head_scripts %}
{% endblock head_scripts %}
{% block body_scripts %}
{% endblock body_scripts %}

{% block content_title_text %}
  {% block error_title %}
    <span class="ui grey text">
      {% block error_status %}
      {% endblock error_status %}
    </span>
  {% endblock error_title %}
{% endblock content_title_text %}

{% block content_description %}
  <div class="meta">
    {# djlint: off D018 #}
    <a href="/">{{ request.get_host }}</a>
    {# djlint: on #}
  </div>
  <div class="description">
    {% block error_content %}
    {% endblock error_content %}

    {% block error_content_help %}
    {% endblock error_content_help %}
  </div>
{% endblock content_description %}

{% block content_extra_text %}
  {% block content_extra_link %}
  {% endblock content_extra_link %}
  {% block content_extra_logo %}
    <div class="right floated">
      {# Translators: The image that follows this text is the Read the Docs logo and wordmark. Altogether it should read "Hosted by Read the Docs" #}
      {% trans "Hosted by" %}
      {# djlint: off D018 #}
      <a href="//{{ PRODUCTION_DOMAIN }}/"
         aria-label="{% trans "Read the Docs" %}">
        <img class="ui middle aligned image"
             src="{% static 'readthedocsext/theme/images/logo-wordmark-dark.svg' %}"
             width="140"
             alt="{% trans "Read the Docs logo" %}" />
      </a>
      {# djlint: on #}
    </div>
  {% endblock content_extra_logo %}
{% endblock content_extra_text %}
