{% extends "proxito/base.html" %}

{% load static from static %}
{% load trans from i18n %}

{% block content_extra_text %}
  {% block content_extra_link %}
    <div class="left floated">
      {# djlint: off D018 #}
      {# Translators: this refers to going to the home page of a doc site #}
      <a href="/">{% trans "Home" %}</a>
      {# djlint: on #}
    </div>
  {% endblock content_extra_link %}
  {% block content_extra_logo %}
    <div class="right floated">
      {% trans "Hosted by" %}
      {# djlint: off D018 #}
      <a href="//{{ PRODUCTION_DOMAIN }}/" aria-label="Read the Docs homepage">
        <img class="ui image"
             src="{% static 'readthedocsext/theme/images/logo-wordmark-dark.svg' %}"
             width="160"
             alt="Read the Docs logo" />
      </a>
      {# djlint: on #}
    </div>
  {% endblock content_extra_logo %}
{% endblock content_extra_text %}

{% block content_title_text %}
  {% block error_title %}
    <span class="ui grey text">
      {% block error_status %}
      {% endblock error_status %}
    </span>
  {% endblock error_title %}
{% endblock content_title_text %}

{% block content_text %}
  {% block error_content %}
  {% endblock error_content %}

  {% block error_content_help %}
  {% endblock error_content_help %}
{% endblock content_text %}
