{% extends "profiles/base_edit.html" %}

{% load blocktrans trans from i18n %}
{% load crispy from crispy_forms_tags %}

{% block head_title %}
  {% trans "Two-factor authentication" %}
{% endblock head_title %}
{% block profile_admin_security %}
  active
{% endblock profile_admin_security %}
{% block profile_admin_mfa %}
  active
{% endblock profile_admin_mfa %}
{% block edit_content_header %}
  {% trans "Two-factor authentication" %}
{% endblock edit_content_header %}
{% block edit_content_subheader %}
  <div class="ui breadcrumb">
    <a href="{% url "mfa_index" %}" class="section">{% trans "Manage" %}</a>
    <span class="divider">/</span>
    {% block edit_content_subheader_section %}
    {% endblock edit_content_subheader_section %}
  </div>
{% endblock edit_content_subheader %}
