{# Follow same pattern as Allauth here #}
{% extends "account/base_entrance.html" %}

{% load trans blocktrans from i18n %}
{% load crispy from crispy_forms_tags %}

{% block title %}
  {% trans "Authentication required" %}
{% endblock title %}
{% block content_title_text %}
  {% trans "Authentication required" %}
{% endblock content_title_text %}

{% block content_body %}
  <p>
    {% blocktrans trimmed %}
      You must be authenticated in order to access this site,
      please provide a password to continue.
    {% endblocktrans %}
  </p>

  <form class="ui form" method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="ui stackable relaxed text menu">
      {% if login_url %}
        <a class="item" href="{{ login_url }}">{% trans "Try using another method" %}</a>
      {% endif %}
      <div class="right menu">
        <button class="ui primary button" type="submit">{% trans "Log in" %}</button>
      </div>
    </div>

  </form>
{% endblock content_body %}
