{% extends "proxito/base.html" %}
{% load trans blocktrans from i18n %}
{% load crispy from crispy_forms_tags %}

{% block title %}
  {% trans "Authentication required" %}
{% endblock title %}

{% block content %}
  <h1>{% trans "Authentication required" %}</h1>

  <p>
    {% blocktrans with project_name=project.name %}
    You need special requirements to access "{{ project_name }}" project documentation.
    Please, provide a valid password to see the docs.
    {% endblocktrans %}
  </p>

  <form class="ui form" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="ui primary button" type="submit">{% trans "Log in" %}</button>
  </form>

  <p>
    {% blocktrans %}Already have an account? Then please <a href="//{{ PRODUCTION_DOMAIN }}/accounts/login/">log in</a>.{% endblocktrans %}
  </p>
{% endblock content %}
