{% load i18n %}
{% load static %}
{% load ext_theme_tags %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}{% block head_title %}{% endblock %} - Read the Docs</title>

    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% webpack_static "readthedocsext/theme/css/site.css" %}" />
    {% block extra_links %}{% endblock %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    {# This block is used to pass settings between our application and JS #}
    <script type="application/json" id="site-config">
{
  {# TODO make this debug conditional work. It requires altering INTERNAL_IPS #}
  {% if debug %}"debug": true,{% endif %}
  "debug": true,
  "webpack_public_path": "{% get_webpack_static_prefix %}/readthedocsext/theme/"
}
    </script>

    {% comment %}
      This is our only external dependency. It's a fast way to get all the
      versions of Font Awesome, and doesn't require spreading around a Font
      Awesome Pro key.
    {% endcomment %}
    <script src="https://kit.fontawesome.com/66c8860b51.js" crossorigin="anonymous"></script>

    {% comment %}
      {# TODO remove these, from the existing theme #}
      <script type="text/javascript" src="{{ MEDIA_URL }}javascript/instantsearch.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}javascript/base.js"></script>
    {% endcomment %}
  </head>
  <body class="{% block body_class %}{% endblock %}">

    {# TODO remove info_bar block, it isn't used #}
    {% block info_bar %}{% endblock %}

    {% block header %}
      {% include "includes/header.html" %}
    {% endblock header %}

    {% block messages %}
      {% include "includes/utils/messages.html" %}
    {% endblock messages %}

    {# TODO remove subnav-bar block, it isn't used #}
    {% block subnav-bar %}{% endblock %}

    {# TODO remove project_editing block, it isn't used #}
    {% block project_editing %}{% endblock %}

    {% block content-wrapper %}
        <div class="ui very padded container">

          {% block admin-bar %}{% endblock %}

          {% block content-header %}{% endblock %}

          {% block content %}{% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock %}

    <script type="text/javascript" src="{% webpack_static "readthedocsext/theme/js/vendor.js" %}"></script>
    <script type="text/javascript" src="{% webpack_static "readthedocsext/theme/js/site.js" %}"></script>
  </body>
</html>
