{% load i18n %}
{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}{% block head_title %}{% endblock %} - Read the Docs for Business</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="{% static 'corporate/img/favicon.png' %}" />
    {# New stylesheet #}

    <!-- Website Font -->
    <link rel="stylesheet" href="https://use.typekit.net/omm0eld.css">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'readthedocsext/theme/site.css' %}" />
    {% comment %} 
      Line below is for webpack-dev-server. Comment line when commiting
    {% endcomment %}
    {% comment %} <link rel="stylesheet" href="http://localhost:8080/static/site.css"> {% endcomment %}
    
    {% block extra_links %}{% endblock %}

    <meta name="viewport" content="width=device-width" />

    {# TODO remove these, from the existing theme #}
    <script type="text/javascript" src="{% static 'vendor/jquery.js' %}"></script>
    <script type="text/javascript">
var $ = jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="{% static 'core/js/site.js' %}"></script>
    <script type="text/javascript">
var site = require('core/site');
site.handle_notification_dismiss();
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/instantsearch.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/base.js"></script>

    {# New theme #}
    <script type="text/javascript" src="{% static 'readthedocsext/theme/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'readthedocsext/theme/site.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/popup.js" integrity="sha256-s2qsK8Pc2X9cKCpRTyq+onTYAK1j+nyA7tw8C4lVIFs=" crossorigin="anonymous"></script>

    {% block extra_scripts %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">

    {# TODO remove #}
    {% block info_bar %}{% endblock %}

    <!-- BEGIN header -->
    {% block header %}
      {% include "includes/header.html" %}
    {% endblock %}
    <!-- END header -->

    {# TODO remove #}
    {% block subnav-bar %}{% endblock %}

    {# TODO remove #}
    {% block project_editing %}{% endblock %}

    {# TODO remove this and use the base-ng theme as the default #}
    {% block content-wrapper %}
        <div class="ui very padded container">

          <!-- BEGIN notify -->
          {% if messages %}
              {% for message in messages %}
                <div class="ui warning message message-{{ message.level }}" {% if message.pk %}data-dismiss-url="{% url 'message_mark_read' message.pk %}"{% endif %}>
                    <i class="close icon"></i>
                    <div class="header">Notification</div>

                  {{ message }}
                </div>
              {% endfor %}
          {% endif %}
          <!-- END notify -->

          {% block admin-bar %}{% endblock %}

          {% block content-header %}{% endblock %}

          {% block content %}{% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock %}

    <script>
      {% block footerjs %}{% endblock %}
    </script>
  </body>
</html>
