{% extends "includes/crud/list.html" %}

{% load i18n %}

{% load privacy_tags %}
{% load projects_tags %}

{% block view_binding %}data-bind="with: BuildListView()"{% endblock %}

{% block top_left_menu_items %}
  {# Pass information from Django into site JS #}
  <script type="application/json" data-bind="jsonInit: config">
{
  "api_url": "{% url "projects-versions-list" project.slug %}"
}
  </script>

  {# Separate UI for the version search filter field #}
  <div class="header item">For version</div>
  <form class="active item" action="." method="get">
    {% for field in filter.form.visible_fields %}
      {% if field != filter.form.version %}
        <input type="hidden" name="{{ field.name }}" value="{{ field.value|default:"" }}" />
      {% endif %}
    {% endfor %}
    <div class="ui link search dropdown" data-bind="semanticui: {dropdown: filter_version_config()}">
      <input type="hidden" name="version" value="{{ filter.form.version.value|default:"" }}">
      <div class="default text">{% if filter.form.version.value %}{{ filter.form.version.value }}{% else %}{% trans "All versions" %}{% endif %}</div>
      <i class="fa-solid fa-caret-down icon"></i>
      <div class="menu"></div>
    </div>
  </form>

  {% include "includes/filters/form.html" with fields=filter.form %}
{% endblock top_left_menu_items %}

{% block create_button %}
{% endblock %}

{% block list_placeholder_icon_class %}{% endblock %}
{% block list_placeholder_header %}
  This project doesn't have any builds yet.
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <div class="ui primary button">Learn how to get started</div>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  {% if request.user|is_admin:project %}
    <form method="post" action="{% url "projects_detail" project.slug %}">
      {% csrf_token %}
      <input type="hidden" name="version_slug" value="{{ object.version.slug }}">
      <button class="ui icon button" data-content="{% trans "Rebuild" %}">
        <i class="fa-solid fa-refresh icon"></i>
      </button>
    </form>
  {% endif %}
{% endblock list_item_right_buttons %}

{% block list_item_header %}

  {% include "builds/includes/status_icon.html" with build=object circular=True %}

  <a class="ui basic label" href="{{ object.get_absolute_url }}">
    <code>{{ object.version.verbose_name }}</code>
    <span class="detail">#{{ object.pk }}</span>
  </a>

  {% if object.is_external %}
    <div class="ui label">
      <i class="fa-solid fa-code-pull-request icon"></i>
      {{ object.external_version_name | lower | capfirst }}
    </div>
  {% endif %}

{% endblock list_item_header %}

{% block list_item_meta %}
  <div class="item" data-bind="semanticui: { popup: { content: '{{ object.date }}', position: 'top center', delay: { show: 500 }, variation: 'small'}}">
    <i class="fa-duotone fa-clock icon"></i>
    {% blocktrans with object.date|timesince as date trimmed %}
      {{ date }} ago
    {% endblocktrans %}
  </div>
  {% if object.commit %}
    <a href="{{ object.get_commit_url }}" class="item">
      <i class="fa-duotone fa-code-branch icon"></i>
      <code>{{ object.commit|slice:"0:8" }}</code>
    </a>
  {% endif %}
  {% if object.is_external %}
    <a href="{{ object.version.vcs_url }}" class="item">
      <i class="fa-duotone fa-code-pull-request icon"></i>
      <code>#{{ object.version.verbose_name }}</code>
    </a>
  {% endif %}
{% endblock list_item_meta %}
