{% extends "includes/crud/table_list.html" %}

{% load i18n %}
{% load humanize %}

{% load privacy_tags %}
{% load projects_tags %}

{% block view_binding %}data-bind="with: BuildListView()"{% endblock %}

{% block top_left_menu_items %}
  {# Pass information from Django into site JS #}
  <script type="application/json" data-bind="jsonInit: config">
    {
      "api_url": "{% url "projects-versions-list" project.slug %}"
    }
  </script>

  {# Separate UI for the version search filter field #}
  <div class="header item">For version</div>
  <form class="active item" action="." method="get">
    {% for field in filter.form.visible_fields %}
      {% if field != filter.form.version %}
        <input type="hidden" name="{{ field.name }}" value="{{ field.value|default:"" }}" />
      {% endif %}
    {% endfor %}
    <div class="ui link search dropdown" data-bind="semanticui: {dropdown: filter_version_config()}">
      <input type="hidden" name="version" value="{{ filter.form.version.value|default:"" }}">
      <div class="default text">{% if filter.form.version.value %}{{ filter.form.version.value }}{% else %}{% trans "All versions" %}{% endif %}</div>
      <i class="fa-solid fa-caret-down icon"></i>
      <div class="menu"></div>
    </div>
  </form>

  {% include "includes/filters/form.html" with fields=filter.form %}
{% endblock top_left_menu_items %}

{% block create_button %}
{% endblock %}

{% block list_placeholder_icon_class %}{% endblock %}
{% block list_placeholder_header %}
  {% trans "This project doesn't have any builds yet." %}
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <div class="ui primary button">{% trans "Learn how to get started" %}</div>
{% endblock list_placeholder_text %}

{% block list_item_right_menu %}
  {# Note: for better performance, avoid multiple `is_admin` checks. Call this include with `is_project_admin` #}
  {% if is_project_admin is not None and is_project_admin or request.user|is_admin:project %}
    <form method="post" action="{% url "projects_detail" project.slug %}">
      {% csrf_token %}
      <input type="hidden" name="version_slug" value="{{ object.version.slug }}">
      <div class="ui small icon buttons">

        {% blocktrans with version=object.version.verbose_name trimmed asvar text_refresh %}
          Retry build for version {{ version }}
        {% endblocktrans %}
        <button class="ui button" data-content="{{ text_refresh }}" aria-label="{{ text_fresh }}">
          <i class="fa-solid fa-refresh icon"></i>
        </button>

      </div>
    </form>
  {% endif %}
{% endblock list_item_right_menu %}

{% block list_item_icon %}
  {% include "builds/includes/status_icon.html" with build=object circular=True %}
{% endblock list_item_icon %}

{% block list_item_header %}
  {% include "builds/includes/build_name.html" with build=object %}
  <div class="sub header">
    <div class="item" data-bind="semanticui: { popup: { content: '{{ object.date }}', position: 'top center', delay: { show: 500 }, variation: 'small'}}">
      {# Translators: this will read like "Started 1 month, 3 days ago" #}
      {% blocktrans with object.date|naturaltime as date trimmed %}
        Started {{ date }}
      {% endblocktrans %}
    </div>
  </div>
{% endblock list_item_header %}

{% block list_item_meta_items %}
  {% if object.is_external %}
    <a href="{{ object.version.vcs_url }}" class="item" aria-label="{{ object.external_version_name | lower | capfirst }} #{{ object.version.verbose_name }}">
      <i class="fa-duotone fa-code-pull-request icon"></i>
      <code>#{{ object.version.verbose_name }}</code>
    </a>
  {% elif object.commit %}
    {% with commit=object.commit|slice:"0:8" %}
      {% blocktrans with commit=commit trimmed asvar text_commit %}
        View commit {{ commit }}
      {% endblocktrans %}
      <a href="{{ object.get_commit_url }}" class="item" aria-label="{{ text_commit }}">
        <i class="fa-duotone fa-code-commit icon"></i>
        <code>{{ commit }}</code>
      </a>
    {% endwith %}
  {% endif %}
{% endblock list_item_meta_items %}

{% block list_item_extra_items %}
  <div class="item">
    {% include "includes/elements/chips/version.html" with version=object.version %}
  </div>
{% endblock list_item_extra_items %}
