{% extends "includes/crud/list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% block top_left_menu_items %}
  <div class="item">
    <div class="ui category search">
      <div class="ui icon input">
        <input type="text" placeholder="Search versions...">
        <i class="search icon"></i>
      </div>
    </div>
  </div>

  <div class="header item">
    Sort by
  </div>
  <a class="active item">
    Recently built
  </a>
  <a class="item">
    Name
  </a>
{% endblock top_left_menu_items %}

{% block top_right_menu_items %}
  <div class="item">
    <a class="ui tiny green icon button"><i class="plus icon"></i> Add version</a>
  </div>
{% endblock top_right_menu_items %}

{% block create_button %}
{% endblock %}

{% block list_placeholder_icon_class %}{% endblock %}
{% block list_placeholder_header %}
  This project doesn't have any active versions.
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <div class="ui primary button">Activate a version</div>
{% endblock list_placeholder_text %}

{% block list_item_right_buttons %}
  <a class="ui icon button"
     href=""
     data-content="{% trans "View version documentation" %}">
    <i class="external icon"></i>
  </a>

  {% if request.user|is_admin:project %}
    <a class="ui icon button"
       href="{% url "project_version_detail" project.slug object.slug %}"
       data-content="{% trans "Configure version" %}">
      <i class="wrench icon"></i>
    </a>

    <form method="post" action="{% url "projects_detail" project.slug %}">
      {% csrf_token %}
      <input type="hidden" name="version_slug" value="{{ object.slug }}">
      <button class="ui icon button" data-content="{% trans "Rebuild version" %}">
        <i class="refresh icon"></i>
      </button>
    </form>
  {% endif %}
{% endblock list_item_right_buttons %}

{% block list_item_header %}
  {% include "builds/includes/status_icon.html" with build=object.builds.first circular=True %}

  <a class="ui basic label" href="#">
    <i class="code branch icon"></i>
    <code>{{ object.verbose_name }}</code>
  </a>
  {% if object.slug == project.default_version %}
    <span class="ui label">
      <i class="asterisk icon"></i>
      default
    </span>
  {% endif %}
  {% if object.slug == project.stable_version %}
    <span class="ui label">
      <i class="asterisk icon"></i>
      stable
    </span>
  {% endif %}

  {% if request.user in project.users.all %}
    {% if object.privacy_level == 'private' %}
      <span class="ui label">
        <i class="lock icon"></i>
        private
      </span>
    {% endif %}
  {% endif %}

  {% if object.hidden %}
    <span class="ui label">
      <i class="eye slash icon"></i>
      hidden
    </span>
  {% endif %}
{% endblock list_item_header %}

{% block list_item_meta %}
  <div class="item">
    {% with build=object.builds.first %}
      {% if build %}
        <i class="history icon"></i>
        <span data-bind="with: create_popup">
          <a
            data-bind="popup: {}"
            class="ui basic mini compact button"
            href="{% url "builds_detail" build.project.slug build.pk %}">
            {% include "builds/includes/status_icon.html" with build=build circular=False size="normal" %}
            <code>Build #{{ build.id }}</code>
          </a>
          {% include "includes/popupcards/build.html" with build=build %}
          <span>was built {{ build.date|timesince }} ago</span>
        </span>
      {% endif %}
    {% endwith %}

    {{ build.date|timesince }}
  </div>

  <div class="item">
    <i class="box icon"></i>
    {% blocktrans trimmed with count=object.builds.count %}
      {{ count }} total builds
    {% endblocktrans %}
  </div>
{% endblock list_item_meta %}
