{% extends "includes/crud/table_list.html" %}

{% load blocktrans trans from i18n %}
{% load naturaltime from humanize %}

{% block top_left_menu_items %}
  <div data-bind="using: FilterView()">
    {% include "includes/filters/form.html" with fields=filter.form %}
  </div>
{% endblock top_left_menu_items %}

{% block create_button %}
  {% if is_project_admin %}
    <a href="{% url "project_version_create" project.slug %}"
       class="ui primary button">
      <i class="fa-solid fa-plus icon"></i>
      <span class="text">{% trans "Add version" %}</span>
    </a>
  {% endif %}
{% endblock create_button %}

{% block list_placeholder_icon_class %}
{% endblock list_placeholder_icon_class %}
{% block list_placeholder_header_filtered %}
  {% trans "No matching versions found" %}
{% endblock list_placeholder_header_filtered %}
{% block list_placeholder_header_empty %}
  {% trans "This project doesn't have any versions yet" %}
{% endblock list_placeholder_header_empty %}
{% block list_placeholder_text_empty %}
  {% if is_project_admin %}
    <a href="{% url "project_version_create" project.slug %}"
       class="ui primary button">{% trans "Add version" %}</a>
  {% endif %}
{% endblock list_placeholder_text_empty %}

{% block list_item_start %}
  {# This confuses the formatter as it's just an opening element #}
  {# djlint: off #}
  <tr class="middle aligned"
      data-bind="using: VersionListItemView({id: {{ object.pk }}, url: '{% url "projects-versions-detail" object.project.slug object.slug %}'})">
  {# djlint: on #}
{% endblock list_item_start %}

{% block list_item_right_menu %}
  <div class="ui small icon buttons">

    {% blocktrans trimmed with version=object.verbose_name asvar label_link %}
      View documentation for version {{ version }}
    {% endblocktrans %}
    <a class="ui {% if not object.built %}disabled{% endif %} button"
       data-bind="event: {mouseover: fetch, focusin: fetch}, attr: {href: url_docs}"
       target="_blank"
       data-content="{{ label_link }}"
       aria-label="{{ label_link }}"
       tabindex="{% if object.built %}0{% else %}-1{% endif %}">
      <i class="fa-solid fa-book icon"></i>
    </a>

    {% blocktrans trimmed with version=object.verbose_name asvar label_download %}
      Offline formats for version {{ version }}
    {% endblocktrans %}
    <button class="ui {% if not object.has_epub and not object.has_htmlzip and not object.has_pdf %} disabled{% endif %} dropdown button"
            data-bind="event: {focusin: fetch, click: fetch}"
            data-content="{{ label_download }}"
            aria-label="{{ label_download }}"
            tabindex="{% if object.has_epub or object.has_htmlzip or object.has_pdf %}0{% else %}-1{% endif %}">
      <i class="fa-solid fa-download icon"></i>
      <div class="menu">
        <div class="header">{% trans "Offline formats" %}</div>
        <a class="disabled item"
           data-bind="css: {disabled: !url_pdf()}, attr: {href: url_pdf()}">
          <i class="fa-duotone fa-file icon"></i>
          {% trans "PDF file" %}
        </a>
        <a class="disabled item"
           data-bind="css: {disabled: !url_epub()}, attr: {href: url_epub()}">
          <i class="fa-duotone fa-file icon"></i>
          {% trans "ePUB file" %}
        </a>
        <a class="disabled item"
           data-bind="css: {disabled: !url_html()}, attr: {href: url_html()}">
          <i class="fa-duotone fa-file-zipper icon"></i>
          {% trans "HTML archive" %}
        </a>
      </div>
    </button>

    {% blocktrans trimmed with version=object.verbose_name asvar label_admin %}
      Additional options for version {{ version }}
    {% endblocktrans %}
    {% if is_project_admin %}
      <div class="ui dropdown button"
           data-content="{{ label_admin }}"
           aria-label="{{ label_admin }}">
        <i class="fa-solid fa-ellipsis icon"></i>
        <div class="menu">
          <div class="header">{% trans "Admin" %}</div>
          <readthedocs-menu-build-rebuild class="item"
                                          url="{% url "projects-versions-builds-list" object.project.slug object.slug %}"
                                          csrf-token="{{ csrf_token }}">
            <i class="fa-duotone fa-refresh icon"></i>
            {% trans "Rebuild version" %}
          </readthedocs-menu-build-rebuild>
          <a class="item"
             href="{% url "project_version_detail" project.slug object.slug %}">
            <i class="fa-duotone fa-wrench icon"></i>
            {% trans "Configure version" %}
          </a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock list_item_right_menu %}

{% block list_item_icon %}
  {% include "builds/includes/status_icon.html" with build=object.latest_build circular=True %}
{% endblock list_item_icon %}

{% block list_item_header %}
  <a href="{% url "builds_project_list" object.project.slug %}?version__slug={{ object.slug }}">
    {{ object.verbose_name }}
  </a>

  <div class="sub header">
    {% with build=object.latest_build %}
      <time data-content="{{ build.date }}">
        {# Translators: this will read like "Last built 1 month, 3 days ago" #}
        {% blocktrans with build.date|naturaltime as date trimmed %}
          Last built {{ date }}
        {% endblocktrans %}
      </time>
    {% endwith %}
  </div>
{% endblock list_item_header %}

{% block list_item_meta_items %}

  {% if object.slug == project.default_version %}
    {% trans "Default" context "Version is the default version" as text %}
    {% blocktrans trimmed with version=object.verbose_name asvar popup %}
      Version {{ version }} is the default version
    {% endblocktrans %}
    <div class="item">
      {% include "includes/components/config_label.html" with icon="fa-solid fa-asterisk" text=text popup=popup %}
    </div>
  {% endif %}

  {% if object.slug == project.stable_version %}
    {% trans "Stable" context "Version is the stable version" as text %}
    {% blocktrans trimmed with version=object.verbose_name asvar popup %}
      Version {{ version }} is the stable version
    {% endblocktrans %}
    <div class="item">
      {% include "includes/components/config_label.html" with icon="fa-solid fa-asterisk" text=text popup=popup %}
    </div>
  {% endif %}

  {% if object.privacy_level == 'private' %}
    {% if request.user in project.users.all %}
      {% trans "Private" context "Version is private" as text %}
      {% blocktrans trimmed with version=object.verbose_name asvar popup %}
        Version {{ version }} is private
      {% endblocktrans %}
      <div class="item">
        {% include "includes/components/config_label.html" with icon="fa-duotone fa-lock" text=text popup=popup %}
      </div>
    {% endif %}
  {% endif %}

  {% if object.hidden %}
    {% trans "Hidden" context "Version is hidden" as text %}
    {% blocktrans trimmed with version=object.verbose_name asvar popup %}
      Version {{ version }} is hidden
    {% endblocktrans %}
    <div class="item">
      {% include "includes/components/config_label.html" with icon="fa-duotone fa-eye-slash" text=text popup=popup %}
    </div>
  {% endif %}

{% endblock list_item_meta_items %}

{% block list_item_extra_items %}
  {% with build=object.latest_build %}
    {% if build %}
      <div class="item">
        {% include "includes/elements/chips/build.html" with project=project build=build text=project.name %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock list_item_extra_items %}
