{% extends "includes/crud/list.html" %}

{% load i18n %}

{% load gravatar %}

{% load core_tags %}
{% load privacy_tags %}
{% load projects_tags %}

{% load ext_theme_tags %}

{% block view_binding %}data-bind="with: ProjectVersionListView()"{% endblock %}

{% block top_left_menu_items %}
  {# Pass information from Django into site JS #}
  <script type="application/json" data-bind="jsonInit: config">
{
  "api_url": "{% url "projects-versions-list" project.slug %}"
}
  </script>

  {# Separate UI for the version search selection field #}
  <div class="header item">Version</div>
  <div class="active item">
    <div class="ui link search dropdown" data-bind="semanticui: {dropdown: filter_version_config()}">
      <input type="hidden" name="version" value="{{ filter.form.version.value|default:"" }}">
      <div class="default text">{% trans "All versions" %}</div>
      <i class="fa-solid fa-caret-down icon"></i>
      <div class="menu"></div>
    </div>
  </div>

  {% comment %}
  Fields == visible fields here as the versions filter is for show a single
  version, not actually filtering a list
  {% endcomment %}
  {% include "includes/filters/form.html" with fields=filter.form.visible_fields %}

{% endblock top_left_menu_items %}

{% block create_button %}
  <a href="{% url "project_version_create" project.slug %}" class="ui primary button">
    <i class="fa-solid fa-plus icon"></i>
    <span class="text">{% trans "Add version" %}</span>
  </a>
{% endblock %}

{% block list_placeholder_icon_class %}{% endblock %}
{% block list_placeholder_header %}
  {% trans "No versions found for this project or filter" %}
{% endblock list_placeholder_header %}
{% block list_placeholder_text %}
  <div class="ui primary button">Activate a version</div>
{% endblock list_placeholder_text %}

{% block list_item_start %} <div class="item" data-bind="with: version({id: {{ object.pk }}, url: '{% url "projects-versions-detail" object.project.slug object.slug %}'})">
{% endblock list_item_start %}

{% block list_item_right_menu %}
  <div class="ui small compact right floated icon buttons" data-bind="event: {mouseover: fetch}">

    {% blocktrans trimmed with version=object.verbose_name asvar label_view %}
      View documentation for version {{ version }}
    {% endblocktrans %}
    <a class="ui icon {% if not object.built %} disabled{% endif %} button"
        data-bind="attr: {href: url_docs}"
        target="_blank"
        data-content="{{ label_view }}"
        aria-label="{{ label_view }}">
      <i class="fa-duotone fa-arrow-up-right-from-square icon"></i>
    </a>

    {% blocktrans trimmed with version=object.verbose_name asvar label_download %}
      Downloadable formats for version {{ version }}
    {% endblocktrans %}
    <button
        class="ui icon{% if not object.has_epub and not object.has_htmlzip and not object.has_pdf %} disabled{% endif %} dropdown button"
        data-bind="event: {click: fetch}"
        data-content="{{ label_download }}"
        aria-label="{{ label_download }}">
      <i class="fa-duotone fa-download icon"></i>
      <div class="menu">
        <div class="header">{% trans "Downloads" %}</div>
        <a class="disabled item" data-bind="css: {disabled: !url_pdf()}, attr: {href: url_pdf()}">
          <i class="fa-duotone fa-file icon"></i>
          {% trans "PDF file" %}
        </a>
        <a class="disabled item" data-bind="css: {disabled: !url_epub()}, attr: {href: url_epub()}">
          <i class="fa-duotone fa-file icon"></i>
          {% trans "ePUB file" %}
        </a>
        <a class="disabled item" data-bind="css: {disabled: !url_html()}, attr: {href: url_html()}">
          <i class="fa-duotone fa-file-zipper icon"></i>
          {% trans "HTML archive" %}
        </a>
      </div>
    </button>

    {% blocktrans trimmed with version=object.verbose_name asvar label_admin %}
      Additional options for version {{ version }}
    {% endblocktrans %}
    {% if is_project_admin %}
      <div class="ui icon dropdown button" data-content="{{ label_admin }}" aria-label="{{ label_admin }}">
        <i class="fa-solid fa-ellipsis icon"></i>
        <div class="menu">
          <div class="header">{% trans "Admin" %}</div>
          <a
              class="item"
              {# Note, the syntax could be confusing here: trigger_build returns a closure #}
              data-bind="click: trigger_build('{% url "projects-versions-builds-list" project.slug object.slug %}', '{{ csrf_token }}')">
            <i class="fa-duotone fa-refresh icon"></i>
            {% trans "Rebuild version" %}
          </a>
          <a
            class="item"
            href="{% url "project_version_detail" project.slug object.slug %}">
            <i class="fa-duotone fa-wrench icon"></i>
            {% trans "Configure version" %}
          </a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock list_item_right_menu %}

{% block list_item_header %}
  {% include "builds/includes/status_icon.html" with build=object.builds.first circular=True %}

  <a class="ui basic label" href="{% url "builds_project_list" object.project.slug %}?version={{ object.slug }}">
    <i class="fa-duotone fa-code-branch icon"></i>
    <code>{{ object.verbose_name }}</code>
  </a>
  {% if object.slug == project.default_version %}
    {% trans "default" context "Version is the default version" as text %}
    {% blocktrans trimmed with version=object.verbose_name asvar popup %}
      Version {{ version }} is the default version
    {% endblocktrans %}
    {% include "includes/components/config_label.html" with icon="fa-solid fa-asterisk" text=text popup=popup %}
  {% endif %}
  {% if object.slug == project.stable_version %}
    {% trans "stable" context "Version is the stable version" as text %}
    {% blocktrans trimmed with version=object.verbose_name asvar popup %}
      Version {{ version }} is the stable version
    {% endblocktrans %}
    {% include "includes/components/config_label.html" with icon="fa-solid fa-asterisk" text=text popup=popup %}
  {% endif %}

  {% if request.user in project.users.all %}
    {% if object.privacy_level == 'private' %}
      {% trans "private" context "Version is private" as text %}
      {% blocktrans trimmed with version=object.verbose_name asvar popup %}
        Version {{ version }} is private
      {% endblocktrans %}
      {% include "includes/components/config_label.html" with icon="fa-duotone fa-lock" text=text popup=popup %}
    {% endif %}
  {% endif %}

  {% if object.hidden %}
    {% trans "hidden" context "Version is hidden" as text %}
    {% blocktrans trimmed with version=object.verbose_name asvar popup %}
      Version {{ version }} is hidden
    {% endblocktrans %}
    {% include "includes/components/config_label.html" with icon="fa-duotone fa-eye-slash" text=text popup=popup %}
  {% endif %}
{% endblock list_item_header %}

{% block list_item_meta %}
  <div class="item">
    {% with build=object.builds.first %}
      {% if build %}
        <i class="fad fa-history icon"></i>
        <span data-bind="with: create_popup">
          <a
            data-bind="popup: {}"
            class="ui basic mini compact button"
            href="{% url "builds_detail" build.project.slug build.pk %}">
            {% include "builds/includes/status_icon.html" with build=build circular=False size="normal" %}
            <code>Build #{{ build.id }}</code>
          </a>
          {% include "includes/popupcards/build.html" with build=build %}
          <span>was built {{ build.date|timesince }} ago</span>
        </span>
      {% endif %}
    {% endwith %}

    {{ build.date|timesince }}
  </div>

  <a class="item">
    <i class="fa-duotone fa-code-branch icon"></i>
    <code>{{ object.identifier_friendly }}</code>
  </a>

  <a
    class="item"
    href="{% url "builds_project_list" object.project.slug %}?version={{ object.slug }}">
    <i class="fa-duotone fa-history icon"></i>
    {% blocktrans trimmed with count=object.builds.count %}
      {{ count }} total builds
    {% endblocktrans %}
  </a>
{% endblock list_item_meta %}
