{% extends "errors/dashboard/base.html" %}

{% load blocktrans trans from i18n %}

{% block title %}
  {% trans "Unauthorized request" %}
{% endblock title %}

{% block error_status %}
  401
{% endblock error_status %}
{% block error_title %}
  {{ block.super }}
  {% trans "Unauthorized request" %}
{% endblock error_title %}

{% block error_icon_computer_name %}
  fa-lock-keyhole
{% endblock error_icon_computer_name %}
{% block error_icon_mobile_name %}
  fa-lock-keyhole
{% endblock error_icon_mobile_name %}
{% block error_icon_computer_style %}
  --fa-primary-color: orange;
{% endblock error_icon_computer_style %}
{% block error_icon_mobile_style %}
  --fa-primary-color: orange;
{% endblock error_icon_mobile_style %}

{% block error_content %}
  <p>
    {% blocktrans trimmed %}
      You may not be logged in, or your account may not have the necessary permissions to view this page.
    {% endblocktrans %}
  </p>
{% endblock error_content %}

{% block error_content_help %}
  <p>
    {% blocktrans trimmed %}
      Try logging in again or logging in with a different account. If this does
      not help, verify that your account has the necessary permissions to view
      this page.
    {% endblocktrans %}
  </p>
  {{ block.super }}
{% endblock error_content_help %}
