{% extends "errors/dashboard/base.html" %}

{% load blocktrans trans from i18n %}

{% block title %}
  {% trans "Project unavailable" %}
{% endblock title %}

{% block error_status %}
  410
{% endblock error_status %}
{% block error_title %}
  {{ block.super }}
  {% trans "Project unavailable" %}
{% endblock error_title %}

{% block error_icon_computer_name %}
  fa-cloud-slash
{% endblock error_icon_computer_name %}
{% block error_icon_mobile_name %}
  fa-cloud-slash
{% endblock error_icon_mobile_name %}
{% block error_icon_computer_style %}
  --fa-primary-color: orangered;
{% endblock error_icon_computer_style %}
{% block error_icon_mobile_style %}
  --fa-primary-color: orangered;
{% endblock error_icon_mobile_style %}

{% block error_content %}
  <p>
    {% blocktrans trimmed %}
      This project was flagged as spam and is currently disabled.
    {% endblocktrans %}
  </p>
{% endblock error_content %}

{% block error_content_help %}
  <p>
    {% url 'support' as url_support %}
    {% blocktrans trimmed with url_support=url_support %}
      Please <a href="{{ url_support }}">contact us</a> if you think this is a mistake.
    {% endblocktrans %}
  </p>
  {{ block.super }}
{% endblock error_content_help %}
