{% extends "profiles/base_profile_edit.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Email Addresses" %}{% endblock %}
{% block profile_admin_change_email %}active{% endblock %}
{% block edit_content_header %} {% trans "Email Addresses" %} {% endblock %}

{% block edit_content %}
  {% include "account/partials/email_list.html" with objects=user.emailaddress_set.all %}

  <h3 class="ui small header">
    {% trans "Add email address" %}
  </h3>

  <form method="post" action="{% url 'account_email' %}" class="ui form">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="ui primary button" type="submit" name="action_add">{% trans "Add email" %}</button>
  </form>
{% endblock %}
