{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content-wrapper %}
  {% get_providers as socialaccount_providers %}

  <div class="ui middle aligned center aligned very relaxed padded grid">
    <div class="six wide computer twelve wide tablet sixteen wide mobile left aligned column">
      <section class="ui raised segment">

        <form class="ui large form" method="POST" action="{% url "account_login" %}">
          {% csrf_token %}
          <div class="field">
            <label for="id_login">{% trans "Login" %}</label>
            <input autofocus="autofocus" id="id_login" name="login" placeholder="{% trans "Username or e-mail" %}" type="text" />
          </div>
          <div class="field">
            <label for="id_password">{% trans "Password" %}</label>
            <input id="id_password" name="password" placeholder="{% trans "Password" %}" type="password" />
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input class="hidden" id="id_remember" name="remember" type="checkbox"></p>
              <label for="id_remember">{% trans "Remember Me" %}</label>
            </div>
          </div>

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="ui primary fluid button" type="submit">{% trans "Sign in" %}</button>

          {% if socialaccount_providers %}
            <div class="ui horizontal divider">Or sign in with</div>

            <div class="ui two column grid">
              <div class="column">
                <a class="ui github fluid button" href="{% provider_login_url "github" process="login" scope=scope auth_params=auth_params %}">
                  <i class="ui github icon"></i>
                  {% trans "GitHub" %}
                </a>
              </div>
              <div class="column">
                <a class="ui bitbucket fluid button" href="{% provider_login_url "bitbucket_oauth2" process="login" scope=scope auth_params=auth_params %}">
                  <i class="ui bitbucket icon"></i>
                  {% trans "Bitbucket" %}
                </a>
              </div>
            </div>
          {% endif %}

        </form>
      </section>

      <section class="ui segment">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
      </section>
    </div>
  </div>

{% endblock %}
