{% extends "profiles/base_profile_edit.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Security" %}{% endblock %}
{% block profile_admin_change_password %}active{% endblock %}
{% block edit_content_header %}{% trans "Security" %}{% endblock %}
{% block edit_content_subheader %}{% trans "Change Password" %}{% endblock %}

{% block edit_content %}
  <form method="POST" action="." class="ui form">
    {% csrf_token %}
    {{ form|crispy }}
  </form>
{% endblock %}
