{% extends "account/base_entrance.html" %}

{% load blocktrans crispy crispy_forms_tags from i18n trans %}

{% block head_title %}
  {% trans "Password reset" %}
{% endblock head_title %}

{% block content_title_text %}
  <i class="fad fa-envelope icon"></i>
  {% trans "Password reset" %}
{% endblock content_title_text %}

{% block content_body %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>
    {% blocktrans trimmed %}
      Forgot your password? Enter your email address below, and we'll send
      you an email allowing you to reset it.
    {% endblocktrans %}
  </p>

  <form class="ui form"
        method="post"
        action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="ui primary button" type="submit">{% trans "Reset" %}</button>
  </form>
{% endblock content_body %}
