{% extends "account/base_entrance.html" %}

{% load blocktrans trans from i18n %}

{% block head_title %}
  {% trans "Password reset" %}
{% endblock head_title %}
{% block content_title_text %}
  {% trans "Password reset" %}
{% endblock content_title_text %}

{% block content_body %}
  <p>
    {% url "support" as url_support %}
    {% blocktrans trimmed with url_support=url_support %}
      If there is an existing account with the provided email address, we will
      send an email with directions to reset your account password. If you
      don't receive this, check your email spam folder or
      <a href="{{ url_support }}">contact support for more help</a>.
    {% endblocktrans %}
  </p>
{% endblock content_body %}
