{% extends "account/base_entrance.html" %}

{% load blocktrans trans from i18n %}
{% load crispy from crispy_forms_tags %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}
{% block content_title_text %}
  {% if token_fail %}
    {% trans "Error: expired link" %}
  {% else %}
    {% trans "Change password" %}
  {% endif %}
{% endblock content_title_text %}

{% block content_body %}
  {% if token_fail %}
    <p class="ui error message">
      {% url 'account_reset_password' as url_reset %}
      {% blocktrans trimmed with url_reset=url_reset %}
        The password reset link was invalid, possibly because it has already been used.
        Please request a <a href="{{ url_reset }}">password reset</a> again.
      {% endblocktrans %}
    </p>
  {% else %}
    <form class="ui form" method="post" action="{{ action_url }}">
      {% csrf_token %}
      {{ form|crispy }}
      {{ redirect_field }}

      <div class="ui stackable relaxed text menu">
        <div class="right menu">
          <button class="ui primary button" type="submit">
            {% trans "Change password" %}
          </button>
        </div>
      </div>

    </form>
  {% endif %}
{% endblock content_body %}
