{% extends "account/base_reauthenticate.html" %}

{% load blocktrans crispy crispy_forms_tags from i18n trans %}

{% block reauthenticate_content %}
  <p>
    {% blocktrans trimmed %}
      Enter your account password to confirm access.
    {% endblocktrans %}
  </p>

  {% url 'account_reauthenticate' as action_url %}
  <form class="ui form" method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ form|crispy }}
    {{ redirect_field }}
    <button class="ui primary button" type="submit">{% trans "Confirm" %}</button>
  </form>
{% endblock reauthenticate_content %}
