{% extends "socialaccount/base_entrance.html" %}

{% load crispy from crispy_forms_tags %}
{% load blocktrans trans from i18n %}

{% block head_title %}
  {% trans "Log in with single sign-on" %}
{% endblock head_title %}
{% block content_title_text %}
  {% trans "Continue with SAML single sign-on" %}
{% endblock content_title_text %}

{% block content_body %}
  <form class="ui form" method="post" action="{% url "saml_resolve_login" %}">
    {% csrf_token %}
    {{ form|crispy }}
    {{ redirect_field }}
    <button class="ui button" type="submit">{% trans "Continue" %}</button>
  </form>
{% endblock content_body %}
