{% extends "organizations/partials/team_list.html" %}

{% load i18n organizations privacy_tags %}

{# Don't show filters #}
{% block top_left_menu_items %}
{% endblock top_left_menu_items %}

{# Show create button as disabled #}
{% block create_button %}
  <span data-content="{% trans "Teams are managed with your SSO provider" %}">
    <span class="ui disabled button">{% trans "Add team" %}</span>
  </span>
{% endblock create_button %}

{# Show more specific placeholder content #}
{% block list_placeholder_icon_class %}fad fa-users icon{% endblock %}

{% block list_placeholder_header %}
  {% blocktrans trimmed %}
    Teams are disabled for this organization
  {% endblocktrans %}
{% endblock list_placeholder_header %}

{% block list_placeholder_text %}
  <div class="inline">
    {% blocktrans trimmed %}
      This organization has single sign-on enabled. Teams are managed with your provider.
    {% endblocktrans %}
  </div>
{% endblock list_placeholder_text %}

{# Disabled listing entirely #}
{% block list %}
{% endblock list %}
