{% extends "gold/subscription_detail.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block title %}{% trans "Ad-free projects" %}{% endblock %}

{% block edit_content_subheader %}
  <div class="ui breadcrumb">
    <a class="section" href="{% url 'gold_detail' %}">
      {% trans "Manage your subscription" %}
    </a>
    <span class="divider">/</span>
    <div class="active section">
      {% trans "Ad-free projects" %}
    </div>
  </div>
{% endblock edit_content_subheader %}

{% block edit_content %}
  {% include "gold/partials/projects_list.html" with objects=projects gold_user=gold_user %}

  <h3 class="ui header">
    {% trans "Add an ad-free project" %}
  </h3>

  <p>
    {% blocktrans trimmed %}
      For each project that you would like to remove ads, we ask for:
    {% endblocktrans %}
  </p>

  <div class="ui bulleted list">
    <div class="item">{% trans 'A $5 subscription for small businesses or personal projects.' %}</div>
    <div class="item">{% trans 'A $50 subscription for corporate supported open source projects.' %}</div>
  </div>

  {% if gold_user.num_supported_projects > projects|length %}
    <form class="ui form" method="post" action=".">
      {% csrf_token %}
      {{ form | crispy }}
      <input class="ui button" type="submit" value="{% trans "Add an ad-free project" %}">
    </form>
  {% else %}
    <div class="ui warning message">
      {% blocktrans trimmed with gold_level=gold_user.get_level_display gold_projects_count=gold_user.num_supported_projects %}
        You can't make any more projects ad-free with your current Gold membership of {{ gold_level }}.
        You can either increase the level of your membership or change which projects you make ad-free.
      {% endblocktrans %}
    </div>
  {% endif %}

{% endblock %}
