{% load i18n %}
{% load core_tags %}

<footer class="ui inverted vertical very padded footer segment rtd-footer">
  <div class="ui container">

    {# start: footer link lists #}
    <div class="ui stackable inverted equal height stackable centered grid">

      <div class="three wide column">
        <h4 class="ui inverted header">{% trans "About" %}</h4>
        <div class="ui inverted link list">

          {% block footer-about %}
            <a class="item" href="{% url 'features' %}">{% trans "Features" %}</a>
            <a class="item" href="{% url 'pricing' %}">{% trans "Pricing" %}</a>
            <a class="item" href="http://blog.readthedocs.com">{% trans "Blog" %}</a>
            <a class="item" href="{% url 'terms' %}">{% trans "Terms of Use" %}</a>
            <a class="item" href="https://docs.readthedocs.io/en/latest/changelog.html">{% trans "Changelog" %}</a>
          {% endblock %}

        </div>
      </div>

      <div class="three wide column">
        <h4 class="ui inverted header">{% trans "Support" %}</h4>
        <div class="ui inverted link list">

          {% block footer-support %}
            <a class="item" href="https://docs.readthedocs.io/en/latest/getting_started.html">{% trans "Getting Started Guide" %}</a>
            <a class="item" href="https://docs.readthedocs.io/">{% trans "Documentation" %}</a>
            <a class="item" href="mailto:support@readthedocs.com">{% trans "Contact Us" %}</a>
            <a class="item" href="">{% trans "" %}</a>
          {% endblock %}

        </div>
      </div>

      <div class="six wide column">
        <h4 class="ui inverted header">Read the Docs</h4>

        <p>
        {% blocktrans trimmed %}
            Don't worry about the hard stuff.
            Read the Docs automates building and hosting your documentation,
            providing features like private documentation, translations, and
            documentation search.
          {% endblocktrans %}
        </p>

        <div class="item">
          <a href="https://twitter.com/readthedocs" class="ui inverted circular icon button"><i class="twitter icon"></i></a>
          <a href="https://github.com/rtfd" class="ui inverted circular icon button"><i class="github icon"></i></a>
        </div>
      </div>

    </div>
    {# end: footer link lists #}

    <div class="ui small inverted vertical segment text container">
      <p>
        &copy; Read the Docs, Inc.
        - Version {% readthedocs_version %}
      </p>

      {# TODO this is broken completely #}
      {% comment %}
        <div class="item">
          <!-- BEGIN: language selector -->
          {% get_current_language as current_lang %}
          <form action="/i18n/setlang/" method="post" class="footer-language-selector">
            {% csrf_token %}
            {# TODO configure this next value? #}
            <input type="hidden" name="next" value="/">

            <div class="ui search dropdown">
              <input type="hidden" name="language" value="{{ current_lang }}">
              <div class="default text">{{ current_lang|language_name_local }}</div>
              <div class="menu">
                {% for lang in LANGUAGES %}
                  <div class="item" data-value="{{ lang.0 }}">{{ lang.0|language_name_local }}</div>
                {% endfor %}
              </div>
            </div>
          </form>
          <!-- END: language selector -->
        </div>
      {% endcomment %}

    </div>

  </div>
</footer>
