{% load blocktrans trans from i18n %}

{% with "https://docs.readthedocs.io/page/pull-requests.html" as url %}
  <div data-bind="using: new ProjectAnnouncementView('pull-requests')">
    <div class="ui fluid card ko hidden" data-bind="css: { hidden: closed }">
      <div class="content">
        <i class="fa-solid fa-xmark right floated close icon"
           data-bind="click: close_announcement"></i>
        <a class="header" target="_blank" href="{{ url }}">{% trans "Preview changes before deploying!" %}</a>
        <div class="description">
          {% blocktrans %}
            We build a preview of your documentation for every pull request,
            so you can catch issues before they go live.
          {% endblocktrans %}
        </div>
      </div>
      <div class="ui extra content">
        <a class="ui small primary fluid basic button"
           target="_blank"
           href="{{ url }}">{% trans "Learn about pull request previews" %}</a>
      </div>
    </div>
  </div>
{% endwith %}
