{% extends "projects/project_edit_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ project.name }} - {% trans "Addons" %}{% endblock %}

{% block project_addons_active %}active{% endblock %}
{% block project_edit_content_header %}{% trans "Addons" %}{% endblock %}

{% block project_edit_sidebar_help_topics %}
  {% include "includes/elements/link.html" with url="https://blog.readthedocs.com/addons-flyout-menu-beta/" text="Blog post: Addons flyout menu beta" is_external=True class="item" %}
{% endblock project_edit_sidebar_help_topics %}

{% block project_edit_content %}
  <div class="ui info message">
    {% blocktrans trimmed %}
      We are in beta! Give it a try now and share your feedback with us by <a href="https://github.com/readthedocs/addons" target="_blank">opening an issue</a>.
    {% endblocktrans %}
  </div>

  <form class="ui form"
      method="post"
      action="{% url 'projects_addons' project_slug=project.slug %}">
    {% csrf_token %}
    {{ form|crispy }}

    <input class="ui primary button" type="submit" value="{% trans "Save" %}">
  </form>
{% endblock %}
