{% extends "projects/project_edit_base.html" %}

{% load i18n %}

{% block title %}{{ project.name }} - {% trans "Automation Rules" %}{% endblock %}

{% block project_automation_rules_active %}active{% endblock %}
{% block project_edit_content_header %}{% trans "Automation Rules" %}{% endblock %}

{% block project_edit_content %}
  {% include "projects/partials/edit/automation_rule_list.html" with objects=object_list %}
{% endblock %}

{% block project_edit_sidebar_embed_doc %}automation-rules{% endblock %}
