{% extends "projects/project_edit_base.html" %}

{% load i18n %}

{% block title %}
  {{ project.name }} - {% trans "Automation Rules" %}
{% endblock %}

{% block project_automation_rules_active %}active{% endblock %}

{% block project_edit_content_header %}
  {% trans "Automation Rules" %}
{% endblock %}

{% block project_edit_content %}
  {% include "projects/partials/edit/automation_rule_list.html" with objects=object_list %}
  {% include "projects/partials/edit/automation_rule_activity.html" with objects=matches %}
{% endblock project_edit_content %}

{% block project_edit_sidebar_help_topics %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.io/page/guides/automation-rules.html" text="How to manage versions automatically" is_external=True class="item" %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.io/page/automation-rules.html" text="Automation rules" is_external=True class="item" %}
{% endblock project_edit_sidebar_help_topics %}
