{% extends "projects/domain_list.html" %}

{% load trans blocktrans from i18n %}
{% load crispy from crispy_forms_tags %}

{% block project_edit_content_subheader %}
  {% if domain %}
    {% trans "Update domain" %}
  {% else %}
    {% trans "Add domain" %}
  {% endif %}
{% endblock project_edit_content_subheader %}

{% block project_edit_content %}
  {% if domain %}
    {% url 'projects_domains_edit' project.slug domain.pk as action_url %}
    {% trans "Save domain" as button_text %}
  {% else %}
    {% url 'projects_domains_create' project.slug as action_url %}
    {% trans "Add domain" as button_text %}
  {% endif %}

  {% if domain.domainssl %}
    <div class="ui info message">
      {% blocktrans trimmed with cname_target=domain.domainssl.cname_target %}
        To configure this domain add a CNAME record in your DNS pointing
        your custom domain to <code>{{ cname_target }}</code>.
      {% endblocktrans %}
    </div>

    {% if not domain.skip_validation and not domain.is_valid and domain.validation_process_expired %}
      <div class="ui warning message">
        {% blocktrans trimmed %}
          The validation process period has ended.
          Save the domain to restart the process.
        {% endblocktrans %}
      </div>
    {% endif %}
  {% endif %}

  <form class="ui form" method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ form|crispy }}

    {% block domain_ssl %}
      {% if domain.domainssl %}
        <div class="ui basic fieldset segment">
          {# This references optional code to get the SSL certificate status #}
          <div class="field">
            <label>{% trans "SSL certificate status" %}</label>
            <div>
              {{ domain.domainssl.status }}
              <div class="ui warning message">
                {% trans "Did you setup a CNAME record in DNS pointing at \"readthedocs.io\"?" %}
              </div>
            </div>
          </div>

          {% if domain.domainssl.status == 'pending_validation' or True %}{% endif %}
        </div>
      {% endif %}
    {% endblock domain_ssl %}

    <input class="ui primary button" type="submit" value="{{ button_text }}">
    {% if domain.domainssl %}
      <div class="ui basic left pointing label">
        <i class="fa-duotone fa-triangle-exclamation icon"></i>
        {% trans "Saving the domain will cause revalidation of the SSL certificate." %}
      </div>
    {% endif %}
  </form>
{% endblock project_edit_content %}
