{% extends "projects/environmentvariable_list.html" %}

{% load i18n %}

{% block project_edit_content_header %}
  {% blocktrans trimmed with name=environmentvariable.name %}
    Environment Variable: {{ name }}
  {% endblocktrans %}
{% endblock project_edit_content_header %}

{% block project_edit_content %}

  <p>
    {% blocktrans trimmed %}
      The value of the environment variable is not shown here for security purposes.
    {% endblocktrans %}
  </p>

{% endblock project_edit_content %}
