{% extends "projects/environmentvariable_list.html" %}

{% load crispy_forms_tags i18n %}

{% block project_edit_content_subheader %}
  {% trans "Add variable" %}
{% endblock project_edit_content_subheader %}

{% block project_edit_content %}
  <div class="ui icon message">
    <i class="fa-duotone fa-circle-exclamation icon"></i>
    <div class="content">
      {% blocktrans trimmed %}
        This environment variable will be available to all build
        commands.  The value of this variable will be hidden
        after adding, for security purposes.
      {% endblocktrans %}
    </div>
  </div>

  <form class="ui form"
        method="post"
        action="{% url 'projects_environmentvariables_create' project_slug=project.slug %}">
    {% csrf_token %}
    {{ form|crispy }}

    <input class="ui primary button"
           type="submit"
           value="{% trans "Add variable" %}">
  </form>
{% endblock project_edit_content %}
