{% extends "projects/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Add Project" %}{% endblock %}

{% block content %}
    <div class="ui very padded centered stackable grid">
    {% block project_add_content %}
      <div class="{% block project_add_css_classes %}ui ten wide tablet six wide computer column{% endblock project_add_css_classes %}">

        {% block project_add_content_header %}
          <h1 class="ui medium header">
            <div class="content">
              {% trans "Add project" %}
              <div class="sub header">
                {% block project_add_content_subheader %}
                {% endblock project_add_content_subheader %}
              </div>
            </div>
          </h1>
        {% endblock project_add_content_header %}

        {% block project_add_content_main %}
        {% endblock project_add_content_main %}

        <form class="ui form" action="{% url "projects_import_manual" %}" method="post">

          {% csrf_token %}
          {{ wizard.management_form }}

          {% block wizard_form %}
            {% if wizard.form.forms %}
              {{ wizard.form.management_form }}
              {% for form in wizard.form.forms %}
                {% csrf_token %}
                {{ form|crispy }}
              {% endfor %}
            {% else %}
              {{ wizard.form|crispy }}
            {% endif %}
          {% endblock wizard_form %}

          {% block wizard_actions %}
            <div>
              {% if wizard.steps.prev %}
                {# TODO: the previous button should not validate the form #}
                <button class="ui button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
                  {% trans "Previous" %}
                </button>
              {% endif %}

              {% if wizard.steps.next %}
                <input class="ui button primary" type="submit" value="{% trans "Next" %}" />
              {% else %}
                <input class="ui button primary" type="submit" value="{% trans "Finish" %}" />
              {% endif %}
            </div>
          {% endblock wizard_actions %}

        </form>
      </div>
    {% endblock project_add_content %}

    {% block project_add_help_topics %}
    <div class="ui ten wide tablet four wide computer column">
      <h2 class="ui small header">{% trans "Help topics" %}</h2>
      <div data-bind="using: EmbedTopicsView('intro/import-guide')">
        <div data-bind="template: { name: 'doc-topics' }"></div>
      </div>
    </div>
    {% endblock project_add_help_topics %}
  </div>

  {% include "includes/utils/embed_docs.html" %}

{% endblock %}
