{% extends "projects/integration_list.html" %}

{% load crispy_forms_tags i18n %}

{% block project_edit_content_subheader %}
  {% trans "Add integration" %}
{% endblock project_edit_content_subheader %}

{% block project_edit_content %}
  <form class="ui form"
        method="post"
        action="{% url 'projects_integrations_create' project_slug=project.slug %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="ui primary button"
           type="submit"
           value="{% trans "Add integration" %}">
  </form>
{% endblock project_edit_content %}
