{% extends "projects/integration_webhook_detail.html" %}

{% load i18n %}

{% block integration_details %}
  <p>
    {% blocktrans trimmed %}
      The following parameters are configured for this integration:
    {% endblocktrans %}
  </p>

  <div class="ui segment">
    <ul class="ui list">
      <li class="item">
        <div class="content">
          <div class="header">
            {% trans "Token" %}
          </div>
          <div class="description">
            <code>{{ integration.token }}</code>
            <span class="ui mini compact icon basic button" data-clipboard-text="{{ integration.token }}" data-content="{% trans "Copied!" %}">
              <i class="copy outline icon"></i>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}
