{% extends "projects/project_edit_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {{ project.name }} - {% trans "Notifications" %}
{% endblock %}

{% block project_notifications_active %}active{% endblock %}
{% block project_edit_content_header %}
  {% trans "Notifications" %}
{% endblock %}
{% block project_edit_content_subheader %}
  {% blocktrans trimmed %}
    Configure email addresses that receive notifications when documentation builds fail.
  {% endblocktrans %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.com/platform/stable/build-notifications.html" text=_("Learn more") is_external=True %}
{% endblock project_edit_content_subheader %}

{% block project_edit_content %}
  {% include "projects/partials/edit/notification_email_list.html" with objects=emails %}
{% endblock %}

{% block project_edit_sidebar_help_topics %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.io/page/guides/build-notifications.html" text="How to set up build notifications" is_external=True class="item" %}
{% endblock project_edit_sidebar_help_topics %}
