{% extends "projects/project_edit_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ project.name }} - {% trans "Notifications" %}{% endblock %}

{% block project_notifications_active %}active{% endblock %}
{% block project_edit_content_header %}{% trans "Notifications" %}{% endblock %}

{% block project_edit_content %}
  {% include "projects/partials/edit/notification_email_list.html" with objects=emails %}
  <h4 class="ui tiny header">
    {% trans "Add email notification" %}
  </h4>
  <form class="ui form" method="post" action=".">
    {% csrf_token %}
    {{ email_form|crispy }}
    <input class="ui primary button" type="submit" value="{% trans "Add" %}">
  </form>
{% endblock %}
