{% extends "projects/projectrelationship_list.html" %}

{% load crispy_forms_tags i18n %}

{% block project_edit_content_subheader %}
  {% if object %}
    {% trans "Update subproject" %}
  {% else %}
    {% trans "Add subproject" %}
  {% endif %}
{% endblock project_edit_content_subheader %}

{% block project_edit_content %}
  {% if object %}
    {% url 'projects_subprojects_update' project_slug=project.slug subproject_slug=object.child.slug as form_url %}
    {% trans "Update subproject" as action_text %}
  {% else %}
    {% url 'projects_subprojects_create' project_slug=project.slug as form_url %}
    {% trans "Add subproject" as action_text %}
  {% endif %}

  <form class="ui form" method="post" action="{{ form_url }}">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="ui primary button" type="submit" value="{{ action_text }}">
  </form>
{% endblock project_edit_content %}
