{% extends "projects/project_edit_base.html" %}

{% load i18n %}

{% block title %}
  {{ project.name }} - {% trans "Subprojects" %}
{% endblock %}

{% block project_subprojects_active %}active{% endblock %}

{% block project_edit_content_header %}
  {% trans "Subprojects" %}
{% endblock %}

{% block project_edit_content %}
  {% if superproject %}
    <div class="ui icon message">
      <i class="fa-duotone fa-circle-exclamation icon"></i>
      <div class="content">
        <div class="header">{% trans "Nested subprojects are not supported" %}</div>
        <p>
          {% blocktrans trimmed with project=superproject.name %}
            This project is already configured as a subproject of {{ project }}.
          {% endblocktrans %}
        </p>

        <p>
          <a href="{% url 'projects_subprojects' project_slug=superproject.slug %}">
            {% blocktrans trimmed with project=superproject.name %}
              View all subprojects of {{ project }}
            {% endblocktrans %}
          </a>
        </p>
      </div>
    </div>
  {% else %}
    {% include "projects/partials/edit/subproject_list.html" with objects=object_list %}
  {% endif %}
{% endblock project_edit_content %}

{% block project_edit_sidebar_help_topics %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.io/page/subprojects.html" text="Subprojects: host multiple projects on a single domain" is_external=True class="item" %}
{% endblock project_edit_sidebar_help_topics %}
