{% extends "projects/base.html" %}

{% block body_class %}
  project_detail
{% endblock body_class %}

{% block title %}
  {{ project.name }}
{% endblock title %}

{% block content-header %}
  {% include "projects/partials/header.html" with overview_active="active" %}
{% endblock content %}

{% block content %}
  {% comment %}
    TODO This section should probably be sidebar content somewhere
    {% if onboard %}
      <!-- BEGIN onboard -->
      {% include 'projects/onboard_detail.html' %}
      <!-- END onboard -->
    {% endif %}
  {% endcomment %}

  {% include "builds/partials/version_list.html" with objects=versions %}
{% endblock content %}
