{% extends "projects/project_edit_base.html" %}

{% load crispy_forms_filters i18n static %}

{% block title %}
  {% trans "Pull request builds" %}
{% endblock %}

{% block project_pull_requests_active %}active{% endblock %}

{% block project_edit_content_header %}
  {% trans "Pull request builds" %}
{% endblock %}

{% block project_edit_content %}
  <p>
    {% blocktrans trimmed %}
      Enable builds for your pull requests and easily preview changes to your documentation.
    {% endblocktrans %}
  </p>

  <form class="ui form" method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}

    <input class="ui {% if form.errors and form.is_disabled %}disabled{% endif %} primary button"
           type="submit"
           value="{% trans " Update" %}">
  </form>
{% endblock project_edit_content %}

{% block project_edit_sidebar_help_topics %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.io/page/pull-requests.html" text="Pull request builds" is_external=True class="item" %}
{% endblock project_edit_sidebar_help_topics %}
