{% extends "projects/project_edit_base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
  {% trans "Pull request builds" %}
{% endblock %}

{% block project_pull_requests_active %}active{% endblock %}
{% block project_edit_content_header %}
  {% trans "Pull request builds" %}
{% endblock %}
{% block project_edit_content_subheader %}
  {% blocktrans trimmed %}
    Build documentation for pull requests to preview changes before merging.
  {% endblocktrans %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.com/platform/stable/pull-requests.html" text=_("Learn more") is_external=True %}
{% endblock project_edit_content_subheader %}

{% block project_edit_content %}
  <form class="ui form" method="post" action=".">
    {% csrf_token %}
    {{ form | crispy }}

    <input class="ui {% if form.errors and form.is_disabled %}disabled{% endif %} primary button"
           type="submit"
           value="{% trans "Save" %}">
  </form>
{% endblock %}

{% block project_edit_sidebar_help_topics %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.com/platform/stable/pull-requests.html" text=_("Pull request builds") is_external=True class="item" %}
  {% include "includes/elements/link.html" with url="https://docs.readthedocs.com/platform/stable/guides/pull-requests.html" text=_("Configuring pull request builds") is_external=True class="item" %}
{% endblock project_edit_sidebar_help_topics %}
