{% extends "projects/project_edit_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load ext_theme_tags %}

{% block title %}{{ project.name }} - {% trans "Redirects" %}{% endblock %}

{% block project_redirects_active %}active{% endblock %}
{% block project_edit_content_header %}{% trans "Redirects" %}{% endblock %}

{% block project_edit_content %}
  {% include "projects/partials/edit/redirect_list.html" with objects=redirects %}
{% endblock %}

{% block project_edit_sidebar_embed_doc %}user-defined-redirects{% endblock %}
