{% extends "projects/project_edit_base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Search Analytics" %}{% endblock %}
{% block project_search_analytics_active %}active{% endblock %}
{% block project_edit_content_header %}{% trans "Search Analytics" %}{% endblock %}

{% block project_edit_sidebar_embed_doc %}server-side-search{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
readthedocs.site.project.admin.ProjectSearchAnalyticsView.init();
  </script>
{% endblock %}

{% block project_edit_content %}
  {% include "projects/partials/edit/search_query_list.html" with objects=queries %}

  <h3 class="ui small header">
    {% trans "Overview" %}
    <div class="sub header">
      {% trans "For the last month" %}
    </div>
  </h3>
  {% if query_count_of_1_month.labels and query_count_of_1_month.int_data %}
    <div class="ui loading segment" data-bind="css: {loading: is_loading()}">
      <canvas width="400" height="150" data-bind="chart: config"></canvas>
      <script type="application/json" data-bind="jsonInit: config">
{
  "type": "line",
  "data": {
    "labels": [
      {% for label in query_count_of_1_month.labels %}
        "{{ label|escapejs }}"{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "datasets": [
      {
        "label": "{% trans "Number of searches" %}",
        "data": {{ query_count_of_1_month.int_data|escapejs }}
      }
    ]
  },
  "options": {
    "scales": {
      "yAxes": [{
        "ticks": {
          "beginAtZero": true
        }
      }]
    }
  }
}
      </script>
    </div>
  {% endif %}
{% endblock %}
