{% extends "projects/project_edit_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Edit Project" %}{% endblock %}
{% block project_edit_content_header %}{% trans "Settings" %}{% endblock %}
{% block project_edit_active %}active{% endblock %}

{% block project_edit_content %}
  <div class="ui info message">
    {% blocktrans trimmed with advanced_url="../advanced" %}
      There are more options to configure how this project is built in
      <a href="{{ advanced_url}}">Advanced Settings</a>.
    {% endblocktrans %}
  </div>

  <form class="ui form" method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="ui primary button" type="submit" value="{% trans "Save" %}" />
  </form>

  <div class="ui horizontal divider">
    {% trans "More" %}
  </div>

  <div class="ui red segment">
    <h3 class="ui small header">
      {% trans "Delete project" %}
    </h3>

    <p>
      {% blocktrans trimmed %}
        Removing this project will also remove the project configuration and all
        hosted documentation. Be careful, this cannot be undone!
      {% endblocktrans %}
    </p>

    <a class="ui button" data-bind="click: $root.show_modal('project-delete')">
      <i class="trash icon"></i>
      {% trans "Delete project" %}
    </a>
    <div class="ui mini modal" data-modal-id="project-delete">
      <div class="header">
        {% trans "Delete project" %}
      </div>
      <div class="content">
        {% blocktrans trimmed with project=project.name %}
          Are you sure you want to delete the project {{project}}? This action
          cannot be undone.
        {% endblocktrans %}
      </div>
      <div class="actions">
        <form method="post" action="{% url "projects_delete" project.slug %}">
          {% csrf_token %}
          <input class="ui negative button" type="submit" value="{% trans "Delete project" %}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
