{% extends "projects/user_list.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load ext_theme_tags %}

{% block project_edit_content_subheader %}
  {% if object %}
    {% trans "Update maintainer" %}
  {% else %}
    {% trans "Add maintainer" %}
  {% endif %}
{% endblock %}

{% block project_edit_content %}
  {% if not object %}
    <div class="ui info message">
      <i class="fa-duotone fa-circle-info icon"></i>
      {% blocktrans trimmed %}
        Adding a user as a maintainer will give the user admin access to this project.
        They will be sent an email with a link to accept the invitation.
      {% endblocktrans %}
    </div>
  {% endif %}

  <form class="ui form" method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="ui primary button" type="submit" value="{% trans "Invite" %}">
  </form>
{% endblock project_edit_content %}
