{% extends "projects/webhook_list.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block project_edit_content_subheader %}
  {% if webhook %}
    <div class="ui breadcrumb">
      <div class="active section">
        {{ webhook.url | truncatechars:50 }}
      </div>
    </div>
  {% else %}
    {% trans "Add webhook" %}
  {% endif %}
{% endblock project_edit_content_subheader %}

{% block project_edit_content %}
  {% if webhook %}
    {% url 'projects_webhooks_edit' project.slug domain.pk as action_url %}
    {% trans "Save webhook" as button_text %}
  {% else %}
    {% url 'projects_webhooks_create' project.slug as action_url %}
    {% trans "Add webhooks" as button_text %}
  {% endif %}
  <form class="ui form" method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="ui primary button" type="submit" value="{{ button_text }}">
  </form>

  <h3 class="ui small header">{% trans "Recent activity" %}</h3>

  <div class="ui segment">
    <div class="ui list">
      {% for exchange in object.exchanges.all %}
        <div class="item">
          <span class="ui {% if exchange.failed %}red{% else %}green{% endif %} label">{{ exchange.status_code }}</span>
          <a href="{% url 'projects_webhooks_exchange' project_slug=project.slug webhook_pk=object.pk webhook_exchange_pk=exchange.pk %}">
            {% blocktrans trimmed with date=exchange.date|timesince %}
              {{ date }} ago
            {% endblocktrans %}
          </a>
        </div>
      {% empty %}
        <div class="item">
          {% trans 'There is no recent activity' %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
